@font-face {
    font-family: 'museo100';
    src: url(/assets/landing/fonts/museo-100-webfont.woff2) format("woff2"),url(/assets/landing/fonts/museo-100-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'museo300';
    src: url(/assets/landing/fonts/museo-300-webfont.woff2) format("woff2"),url(/assets/landing/fonts/museo-300-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal
}
body {
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}
$main-color: #00a9e0;
$secondary-color : #434a55;
$heading-font: 'museo100',sans-serif;

.heading{
    font-family: $heading-font;
    font-weight: 100;
    font-size: 30px;
    line-height: 36px;
}
.landing-page-container{
    position: relative;
    display: block;
    padding: 3rem;
    height: fit-content;
    background: #fff;
    margin: 0;
}
.landing-page-container:before {
    z-index: 0;
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(/assets/landing/images/header.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.landing-page-container > .container{
    position: relative;
    z-index: 1;
    color: #000;
}
.nav-bar{
    background-color: #e6e9ee;
}
.main-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
    list-style: none;
}
.main-nav li{
    display: inline-block;
}
.main-nav a{
    color: $main-color;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 23px;
    padding: 15px 10px;
    cursor: pointer;
    display: block;
}
.main-nav li:first-child a{
    padding-left: 0;
}
.main-nav a:hover{
    color: #006181;
}
.main-nav .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-size: 14px;
    justify-content: center;
}
.main-nav .search .search-form{
    position: relative;
}
.main-nav .search input{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 5px 25px 5px 5px;
    line-height: 1;
    border-radius: 5px;
    border: 1px solid darkgray;
    width: 420px;
}
.main-nav .search i{
    margin-left: -20px;
    display: inline-block;
    color: darkgray;
}
.heading-3{
    margin-top: 18px;
    margin-bottom: 18px;
}
.heading-4{
    font-weight: 300;
    font-size: 20px;
    color: $secondary-color;
    margin-bottom: 30px;
}
.text-main{
    color: $main-color;
}
.text-secondary{
    color: $secondary-color;
}
.panel{
    padding: 20px;
}
.panel-well{
    background-color: #f5f6fb;
}
.dotted{
    border: 0;
    outline: 0;
    border-bottom: 2px dotted #646e78;
}
.panel-footer{
    background-color: $main-color;
    padding: 10px;
    text-align: right;
    font-size: 20px;
    font-family: $heading-font;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    i{
        margin-left: 15px;
    }
}
.section{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
}
.page-section:nth-child(odd){
    background-color: #e6e9ee;
}
.panel.height-auto{
    height: calc(100% - 46px);
}
.news-card{
    img{
        width: 100%;
    }
    .position-absolute{
        top: 0;
    }
}
.footer{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

@media (max-width: 575px) {
    .header-title {
        letter-spacing: 1px;
        font-size: small;
    }
    .main-nav .search{

        //padding-bottom: 15px;

        .search-form{
            flex-grow: 1;
            input{
                width: 100%;
            }
        }
    }
    .panel.height-auto{
        height: auto;
    }
    .videos-section{
        margin-top: 20px;
    }
    #bg-landing-footer.footer{
        height: auto !important;
    }
    .last-section{
        padding-bottom: 80px;
    }
}
