<div *ngIf="showLoadingSpinner" class="loading"></div>

<div class="landing-page-container">
    <div class="container landing-page-info-section">
        <p class="landing-page-text-1">Welcome to SNOMED International's New Reference Set
            Management Tool!</p>
        <br>
        <p class="landing-page-text-2">SNOMED International's new Reference Set Management Tool
            builds upon the Reference Set and Translation Tool. It builds upon the existing tool by
            adding
            a modern interface, a better modeling user experience, richer capabilities, and
            integrates directly with Snowstorm.</p>
        <p class="landing-page-text-3">Functionality Includes:</p>
        <ul class="landing-page-text-4">
            <li>Full integration with SNOMED's Snowstorm Terminology Server</li>
            <li>Flexible content review workflow</li>
            <li>Enhanced in-tool communication</li>
            <li>More powerful comparison capabilities</li>
            <li>Improved upgrade wizard</li>
            <li>Collaborate with others outside your organization</li>
            <li>Guest access planned for future</li>
        </ul>
    </div>
</div>
<div class="nav-bar page-section">
    <div class="container">
        <ul class="main-nav heading">
            <!--<li><a href="#learnSection">Learn</a></li>
            <li><a href="#readSection">Read</a></li>
            <li><a href="#watchSection">Watch</a></li>-->
            <li class="search">
                <div class="search-form">
                    <input type="text" placeholder="Search for reference sets by name, concept or tags" [(ngModel)]="searchInput" (input)="onSearchChange()">
                    <i class="fa fa-search" *ngIf="!showResults"></i>
                    <i class="fa fa-times" *ngIf="showResults" (click)="clearSearch()"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="showResults" id="refsetDirectoryPage" class="container-fluid" (window:resize)="onResize($event)">
    <div class="container-fluid" style="margin-top: 19px">

        <h3 class="heading heading-3 text-main">Search Results</h3>

        <ag-grid-angular #directoryTable *ngIf="showTable" class="ag-theme-alpine refset-tool-ag-grid refset-tool-ag-grid-filter" 
            [columnDefs]="columnDefs" [gridOptions]="refsetGridOptions" style="width: 100%;height:638px">
        </ag-grid-angular>

        <app-pagination #directoryPaging *ngIf="showTable" [pageSize]="refsetGridPaging.pageSize" [gridOptions]="refsetGridOptions" [pageSizeOptions]="refsetGridPaging.pageSizeOptions"
          [totalKnown]="refsetGridPaging.totalKnown" [manualStateRefresh]="refsetGridPaging.manualStateRefresh">
        </app-pagination>

    </div>
</div>

<!-- START GRID TEMPLATES -->
<!-- Information Templates -->
<ng-template #directoryInfoSection let-params>
    <button mat-icon-button aria-hidden="false" #directoryInfoIcon class="refset-tool-table-action-icon" aria-label="View All Reference Set Metadata"
      title="View Reference Set Metadata" (click)="openInformation(params.data.refsetId)">
        <mat-icon>information</mat-icon> 
    </button><span title="Search matches reference set member" *ngIf="params.data.memberSearchMatch" style="color:red">&#8226;</span>

    <!-- <mat-icon aria-hidden="false" #directoryPrivateIcon
        class="refset-tool-table-icon" aria-label="{{params?.data?.type === 'EXTENSIONAL' ? 'extensional refset' : 'intensional refset'}}" title="{{params?.data?.type === 'EXTENSIONAL' ? 'extensional refset' : 'intensional refset'}}">
        {{params?.data?.type === 'EXTENSIONAL' ? 'settings' : 'format_list_bulleted'}}
    </mat-icon> -->
</ng-template>

<ng-template #directoryInfoDialog let-data>
    <div class="container-fluid" id="directoryInformationSection" style="overflow: auto;min-width: 350px;">
        <div class="row refset-tool-refset-details-title-name" style="display: block;" title="{{data.name}}" aria-label="{{data.name}}">
            <p style="font-size:18px; margin-bottom: 0px;">{{data.name}}</p>
            <p style="font-size:16px"><span *ngIf="data?.versionStatus">{{capitalizeFirstLetterOfString(data?.versionStatus)}}</span><span
                  *ngIf="data?.versionDate">{{', ' + data?.versionDate}}</span></p>
        </div>

        <refset-meta [refset]="data"></refset-meta>
    </div>
</ng-template>

<!-- Workflow Status Templates -->
<ng-template #directoryWorkflowStatusSection let-params>
    <object [src]="uiUtility.toTitleCase(params?.data?.workflowStatus)"> {{
        params?.value}}</object>
</ng-template>

<!-- Name Templates -->
<ng-template #directoryNameSection let-params>
    {{ params?.value }}

    <mat-icon *ngIf="params?.data?.privateRefset" aria-hidden="false" #directoryPrivateIcon class="refset-tool-table-action-icon" aria-label="Private Reference Set"
      title="Private Reference Set">
        lock
    </mat-icon>
    <mat-icon *ngIf="params?.data?.localSet" aria-hidden="false" class="refset-tool-table-action-icon" aria-label="Local Set" title="Local Set">
        my_location
    </mat-icon>

</ng-template>

<!-- Edition Templates -->
<ng-template #directoryEditionSection let-params>
    <img (load)="showFlagIcon($event, true)" (error)="showFlagIcon($event, false)" src="{{params?.data?.flagIcon}}" class="refset-tool-edition-flag"
      title="{{params?.data?.editionName}} Flag" aria-label="{{params?.data?.editionName}} Flag" />
    {{params?.data?.edition?.name}}
</ng-template>

<!-- Action Templates -->
<ng-template #directoryActionSection let-params>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <app-refset-download [isDetailPage]="false" *ngIf="params?.data?.downloadable" [disabled]="!params?.data?.downloadable" [refset]="params.data">
                </app-refset-download>
            </div>

            <div class="col-2">
                <app-refset-discussion-list *ngIf="params && params.data" type="REFSET" [refsetInternalId]="params.data.id" [refsetId]="params.data.refsetId"
                  [refsetName]="params.data.name" [roles]="params.data.roles" [(discussionCount)]="params.data.unresolvedDiscussionCount">
                </app-refset-discussion-list>
            </div>
        </div>
    </div>
</ng-template>
<!-- END GRID TEMPLATES -->

<ng-template #directoryFeedbackDialog let-data>
    This functionality will be implemented in subsequent phases.
    <mat-form-field floatLabel="never" *ngIf="false">
        <mat-label>Feedback</mat-label>
        <input matInput [(ngModel)]="data.feedback" />
    </mat-form-field>
</ng-template>

<ng-container *ngIf="!showResults">
    <div class="container section page-section" id="learnSection">
        <h3 class="heading heading-3 text-main mb-0 landing-page-center">Learn About RT2</h3>
        <h4 class="heading-4 landing-page-center">Get up to speed with your Reference set Tool knowledge</h4>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="panel panel-well height-auto">
                    <p><a href="https://1drv.ms/u/s!Aq0sJzLep5rWhtp-oM89IU0da1YzDA?e=GVNZS1" target="_blank"><span class="text-main mr-3">Reference Set Tool User
                                Guide.</span></a>Access the user guide to get the most out of the new Reference Set Tool.</p>
                    <hr class="dotted" />
                    <p><a href="https://1drv.ms/b/s!Aq0sJzLep5rWhtwvIwQXoUeSvCV2uw?e=Qe7Arn" target="_blank"><span class="text-main mr-3">Workflow Definition.</span></a>View
                        the workflow options diagram to better understand the workflow authoring/reviewing process.</p>
                    <hr class="dotted" />
                </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="col-md-6 col-12 videos-section">
                <iframe width="100%" height="300" src="https://www.youtube.com/embed/GiDEdWw6WO0" title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe src="https://drive.google.com/file/d/10mFWkwcDUlRMmUby2cgo42avhYVBLnOs/preview" width="100%" height="300" allow="autoplay"></iframe>
                <iframe src="https://drive.google.com/file/d/1tXe9R5RuILj6rP_tYEL3EHjkTrCt_h8E/preview" width="100%" height="300" allow="autoplay"></iframe>
            </div>
        </div>
    </div>
</ng-container>
<footer class="footer bg-dark" id="bg-landing-footer">
    <a class="px-3 footer-link flex-grow-1" href="http://www.snomed.org/" target="_blank" i18n="">
        Copyright © {{year}} SNOMED International All Rights Reserved
    </a>
    <a class="px-3 footer-link" href="https://confluence.ihtsdotools.org/display/SCTCR/Content+Request+Service+Terms+of+Service" target="_blank">Terms of Service</a>
    <a class="px-3 footer-link" href="http://snomed.org/snomedtools-privacy" target="_blank">Privacy Policy</a>
    <a class="px-3 footer-link" href="https://www.snomed.org/help-center/contact-us" target="_blank">Contact Us</a>
</footer>