#directorySearchInputField {
	width: 340px;
	margin-top: 0.25em;

	// set this to 20px less than the field to leave room for the cancel 'X'
	.mat-form-field-flex {
		width: 320px;
	}
}

.directoryViewFilterField.mat-form-field {
	width: 125px;
	padding-left: 5px;

	.mat-form-field-flex {
		width: 125px;
	}

	.mat-form-field-underline {
		width: 125px;
	}
}

.top-search-bar {
	background-color: white;
	box-shadow: 0 4px 2px -2px grey;
	z-index: 1000 !important;
	min-height: 60px;
	padding: 12px 0;
	height: 4em;

	.page-title {
		padding-left: 3rem;
		color: #000;
		margin-top: 0.25em;
		margin-left: -0.5em;
		font-size: 1.8rem !important;
	}

	.justify-content-end {
		justify-content: space-between !important;
	}

	.dropdown-group {
		display: inline-flex !important;
		padding-right: 3rem;
	}
}

.rt2-directory-chooser-column {
	padding-right: 20px;
	margin-top: -0.8em;
}

.member-search-icon {
	color: red;
}

.rt2-ag-cell {
	width: 90px;
	text-align: center;
	align-items: center;
}

.library-app-refset-download {
	margin-top: 1em;
}

.library-app-refset-discussion-list {
	margin-top: 1.5em;
}

.loading-details {
	position: absolute;
	z-index: 100;
	background: white;
	border: 0.5px solid #333;
	border-radius: 0;
	margin-left: 45%;
	margin-top: 10%;
}
