<div id="refsetDirectoryPage" class="container-fluid">

    <!-- Page Title -->
    <div class="container-fluid">
        Refset Directory
    </div>

    <!-- Search Bar -->
    <div class="container-fluid">
        <div class="row justify-content-end">

            <div class="col-md-auto">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput #directorySearchInput [(ngModel)]="searchInput">
                </mat-form-field>
            </div>

            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Refset Filter</mat-label>
                    <mat-select #directoryViewSelect [(value)]="selectedView" (selectionChange)="changedViewFilter()">
                        <mat-option *ngFor="let option of viewOptions" [value]="option.value">
                            {{option.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>

    <!-- Refset Table -->
    <div class="container-fluid">

        <ag-grid-angular #directoryTable *ngIf="showTable" class="ag-theme-alpine refset-tool-ag-grid"
            [columnDefs]="columnDefs" [gridOptions]="refsetGridOptions">
        </ag-grid-angular>

        <app-pagination [pageSize]="refsetGridPaging.pageSize" [gridOptions]="refsetGridOptions"
            [numberOfPages]="refsetGridApi?.paginationGetTotalPages()"
            [pageSizeOptions]="refsetGridPaging.pageSizeOptions">
        </app-pagination>

        <mat-paginator *ngIf=false #directoryPaginator [length]="refsetGridPaging.length"
            [pageIndex]="refsetGridPaging.pageIndex" [pageSize]="refsetGridPaging.pageSize"
            [pageSizeOptions]="refsetGridPaging.pageSizeOptions" (page)="onGridPageChange($event)"
            [showFirstLastButtons]="refsetGridPaging.showFirstLastButtons">
        </mat-paginator>

        <!-- Information Templates -->
        <ng-template #directoryInfoSection let-params>

            <mat-icon aria-hidden="false" #directoryInfoIcon class="refset-tool-table-action-icon"
                aria-label="View All Refset Metadata" title="View All Refset Metadata"
                (click)="openInformation(params.data.id)">
                information
            </mat-icon>

        </ng-template>

        <ng-template #directoryInfoDialog let-data>
            To be implemented later.
        </ng-template>

        <!-- Name Templates -->
        <ng-template #directoryNameSection let-params>

            {{params?.value}}

            <mat-icon *ngIf="params?.data?.private" aria-hidden="false" #directoryPrivateIcon
                class="refset-tool-table-action-icon" aria-label="Private Refset" title="Private Refset">
                lock
            </mat-icon>

        </ng-template>

        <!-- Action Templates -->
        <ng-template #directoryActionSection let-params>

            <mat-icon *ngIf="params?.data?.canDownload" (click)="openDownload(params.data.id)" aria-hidden="false"
                #directoryDownloadIcon class="refset-tool-table-action-icon" aria-label="Download Refset"
                title="Download Refset">download
            </mat-icon>

            <mat-icon *ngIf="params?.data?.canSeeFeedback" (click)="openFeedback(params.data.id)" aria-hidden="false"
                #directoryFeedbackIcon class="refset-tool-table-action-icon" aria-label="Open Feedback"
                title="Open Feedback">
                comment-processing-outline
            </mat-icon>

        </ng-template>

        <ng-template #directoryFeedbackDialog let-data>
            To be implemented later.
            <mat-form-field *ngIf="false">
                <mat-label>Feedback</mat-label>
                <input matInput [(ngModel)]="data.feedback">
            </mat-form-field>
        </ng-template>

        <ng-template #directoryDownloadDialog let-data>
            To be implemented later.
        </ng-template>

    </div>
</div>