<span #refsetDirectoryPage>

    <!-- Page Title -->
    <div class="container-fluid">
        Refset Directory
    </div>

    <!-- Search Bar -->
    <div class="container-fluid">
        <div class="row justify-content-end">

            <div class="col-md-auto">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput #directorySearchInput [(ngModel)]="searchInput">
                </mat-form-field>
            </div>

            <div class="col-md-auto">
                <mat-form-field appearance="fill">
                    <mat-label>Refset Filter</mat-label>
                    <mat-select #directoryViewSelect [(value)]="selectedView">
                        <mat-option *ngFor="let option of viewOptions" [value]="option.value">
                            {{option.display}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
    </div>

    <!-- Refset Table -->
    <div class="container-fluid">

        <ag-grid-angular #directoryTable *ngIf="showTable" class="ag-theme-alpine refset-tool-ag-grid"
            [columnDefs]="columnDefs" [gridOptions]="refsetGridOptions">
        </ag-grid-angular>

        <mat-paginator *ngIf=false #directoryPaginator showFirstLastButtons [length]="conceptGridPaging.length"
            [pageIndex]="conceptGridPaging.pageIndex" [pageSize]="conceptGridPaging.pageSize"
            [pageSizeOptions]="conceptGridPaging.pageSizeOptions" (page)="onConceptGridPageChange($event)">
        </mat-paginator>

        <!-- Infomation Templates -->
        <ng-template #directoryInfoSection let-params>
            <span (click)="openInformation(params.data.id)">
                <mat-icon aria-hidden="false" #directoryInfoIcon class="refset-tool-table-action-icon"
                    aria-label="View All Refset Metadata" title="View All Refset Metadata">
                    information</mat-icon>
            </span>
        </ng-template>

        <ng-template #directoryInfoDialog let-data>
            To be implemented later.
        </ng-template>

        <!-- Action Templates -->
        <ng-template #directoryActionSection let-params>

            <span (click)="openDownload(params.data.id)">
                <mat-icon aria-hidden="false" #directoryDownloadIcon class="refset-tool-table-action-icon"
                    aria-label="Download Refset" title="Download Refset">download</mat-icon>
            </span>

            <span (click)="openFeedback(params.data.id)">
                <mat-icon aria-hidden="false" #directoryFeedbackIcon class="refset-tool-table-action-icon"
                    aria-label="Open Feedback" title="Open Feedback">comment-processing-outline</mat-icon>
            </span>

        </ng-template>

        <ng-template #directoryFeedbackDialog let-data>
            <mat-form-field>
                <mat-label>Feedback</mat-label>
                <input matInput [(ngModel)]="data.feedback">
            </mat-form-field>
        </ng-template>

        <ng-template #directoryDownloadDialog let-data>
            To be implemented later.
        </ng-template>

    </div>
</span>