<!-- <button class="refset-tool-standard-icon-button"
        [ngClass]="{ inactive: disabled }"
        [disabled]="disabled"
        (click)="openreadyForReviewModal(workflowHistoryNotesDialog)">
    <img src="assets/pencil-edit-icon.svg"
         alt="Edit Notes"
         title="Edit Notes"
         aria-label="Edit Workflow History" />
</button> -->

<button mat-menu-item alt="Edit Notes" title="Edit Notes" aria-label="Edit Workflow History" [disabled]="disabled" (click)="openReadyForReviewModal()">Create Note</button>

<ng-template #modalContent>
    <div class="compose-modal-body">
        <editor class="fill-height" #workflowHistoryNotesEditor id="workflowHistoryNotesEditor" [(ngModel)]="workflowHistoryNotes" [init]="{
                base_url: '/tinymce',
                suffix: '.min',
                height: 200,
                menubar: false,
                placeholder: 'Enter your notes',
                plugins: ['lists advlist wordcount'],
                toolbar:
                    'undo redo | bold italic | bullist numlist outdent indent | wordcount'
            }">
        </editor>
    </div>
    <div class="modal-footer rt2-modal-footer">
        <button type="button" (click)="saveNotes(modal)" mat-raised-button color="green" aria-hidden="false" class="refset-tool-action-button request-review-modal-button"
          aria-label="Save" title="Save Notes" ng-reflect-color="green">
            Save
        </button>
    </div>
</ng-template>