.login-main {
    max-width: 300px;
    margin: 40px auto;
}
.form-inner {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px 2px #dddddd4d;
}
