////////////////////////////////////////////////////////////////////////
// WHITE ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$white: #ffffff;

.text-white {
	color: $white;
}

.bg-white {
	background-color: $white;
}

$alto-white: #e0e0e0;

.text-alto-white {
	color: $alto-white;
}

.bg-alto-white {
	background-color: $alto-white;
}

////////////////////////////////////////////////////////////////////////
// GREY ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$ghost-grey: #c8cfd6;

.text-ghost-grey {
	color: $ghost-grey;
}

.bg-ghost-grey {
	background-color: $ghost-grey;
}

$grey: #808080;

.text-grey {
	color: $grey;
}

.bg-grey {
	background-color: $grey;
}

$slate-grey: #708090;

.text-slate-grey {
	color: $slate-grey;
}

.bg-slate-grey {
	background-color: $slate-grey;
}

$river-bed: #434a55;

.text-river-bed {
	color: $river-bed;
}

.bg-river-bed {
	background-color: $river-bed;
}

////////////////////////////////////////////////////////////////////////
// BLACK ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$black: #000000;

.text-black {
	color: $black;
}

.bg-black {
	background-color: $black;
}

$bootstrap-black: #343a40;

.text-bootstrap-black {
	color: $bootstrap-black;
}

.bg-bootstrap-black {
	background-color: $bootstrap-black;
}

////////////////////////////////////////////////////////////////////////
// PURPLE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$wisteria: #a060ae;

.text-wisteria {
	color: $wisteria;
}

.bg-wisteria {
	background-color: $wisteria;
}

////////////////////////////////////////////////////////////////////////
// RED /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$mandy: #eb4c59;

.text-mandy {
	color: $mandy;
}

.bg-mandy {
	background-color: $mandy;
}

////////////////////////////////////////////////////////////////////////
// GREEN ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$fruit-salad: #4ea24e;

.text-fruit-salad {
	color: $fruit-salad;
}

.bg-fruit-salad {
	background-color: $fruit-salad;
}

////////////////////////////////////////////////////////////////////////
// BLUE ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$anakiwa: #c3e7fe;

.text-anakiwa {
	color: $anakiwa;
}

.bg-anakiwa {
	background-color: $anakiwa;
}

$cerulean: #00a9e0;

.text-cerulean {
	color: $cerulean;
}

.bg-cerulean {
	background-color: $cerulean;
}

$blumine: #124f6b;

.text-blumine {
	color: $blumine;
}

.bg-blumine {
	background-color: $blumine;
}

$mapset-blue: #2269e8;
////////////////////////////////////////////////////////////////////////
// ORANGE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$sea-buckthorn: #f8a73d;

.text-sea-buckthorn {
	color: $sea-buckthorn;
}

.bg-sea-buckthorn {
	background-color: $sea-buckthorn;
}

////////////////////////////////////////////////////////////////////////
// YELLOW //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$candlelight: #fbdb13;

.text-candlelight {
	color: $candlelight;
}

.bg-candlelight {
	background-color: $candlelight;
}

$main-color: #00a4e4;

$standard_font_size: 1.2rem;
/*replaced 14px*/
$standard_font_size_largest: 3rem;
/*30*/
$standard_font_size_title: 2em;
/*20px*/
$standard_font_size_h1: 2.4rem;
/*24*/
$standard_font_size_h2: 1.9rem;
/*18px*/
$standard_font_size_h3: 1.6rem;
/*16px*/
$standard_font_size_h4: 1.4rem;
/*14px*/
$standard_font_size_h5: 1.2rem;
/*12px*/
$standard_font_size_h6: 1.1rem;
/*11px*/
$standard_font_size_smaller: 1rem;
/*10*/
$standard_font_size_p: 1.4rem;
$standard_font_size_a: 1.4rem;
$standard_font_size_btn: 1.4rem;
$standard_font_size_text: 1.4rem;
$standard_font_size_select: 1.4rem;
$standard_font_size_form_control: 1.4rem;
/*$standard_font_family: Roboto, Helvetica, Arial, sans-serif;*/
$standard_font_family: 'ArialMT', 'Arial', sans-serif; //'Poppins', 'Helvetica Neue', 'Arial', sans-serif;

$standard_font_color: black;
$standard_font_weight: 300;
$standard_font_weight_title: 400;
$standard_font_weight_heavy: 500;
$standard_font_weight_bold: 600;
$standard_table_data_color: #666;
$standard_link_color: $cerulean;
$standard_primary_button_color: #2169e8;
$standard_default_button_color: #fdfdfd;
$standard_green_button_color: #4ea24e;
$standard_red_button_color: red;
$standard_button_color: $white;
$success_color: green;
$error_color: red;
$warning_color: rgba(255, 239, 0, 1);
$change_highlight_color: rgba(255, 239, 0, 1);
$add_color: green;
$delete_color: red;
$action_button_color: #2169e8;
$inactive_text_color: rgb(170, 170, 170);
$inactive_row_color: rgb(241 222 222);
$concept_details_color: #2169e8;

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Thin.ttf');
	font-weight: 100;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-ExtraLight.ttf');
	font-weight: 200;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-ExtraBold.ttf');
	font-weight: 800;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Black.ttf');
	font-weight: 900;
}
