<div id="refsetProjectsPage"
     class="container-fluid">
    <div class="row refset-title">
        <div class="col-md-auto page-title"
             style="margin-right: 20px; color: #555555; padding-left: 60px">
            Organizations
        </div>
        <div class="row justify-content-end details-version-select"
             style="margin-left: 20px">
            <mat-form-field appearance="outline"
                            class="project-drop-down">
                <mat-label>{{'Choose Test'}}</mat-label>
                <mat-select #detailsVersionSelect>
                    <mat-option *ngFor="let test of ['test', 'test']"
                                [value]="test"
                                style="z-index: 3">
                        {{ test }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    </div>

    <div class="content-wrapper">
    <app-organizations-sidebar activeRoute="configuration"></app-organizations-sidebar>
    <div class='container-fluid mt-3'>
    <span class="organizations-configuration">
    
        <div class="section-header mb-3"> Organization Configuration </div>
        <div class="organizations-configuration-details">
            <div class="organizations-configuration-blocks-1">
                <div class="organizations-configuration-block main-block profile-block">
                    <div class="organization-profile-head section-header">Profile</div>
                <div class="organization-profile-mid">
                    <mat-form-field class="profile-name-field" appearance="none">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" name="name" [(ngModel)]="profileNameValue">
                    </mat-form-field>

                    <mat-form-field class="profile-email-field" appearance="none">
                        <mat-label>Primary Contact Email</mat-label>
                        <input matInput type="text" name="email" [(ngModel)]="profileEmailValue">
                    </mat-form-field>

                    <mat-form-field class="profile-description-field" appearance="none">
                        <mat-label>Description</mat-label>
                        <textarea matInput type="text" name="description" [(ngModel)]="profileDescriptionValue"></textarea>
                    </mat-form-field>
                </div>
                        
                        <div class="update-profile-button">
                            <div class="section-list text-right" aria-label="Update Profile" title="Update Profile"><a class="btn btn-primary btn-lg">Update Profile</a></div>
                        </div>
                </div>
    
                <div class="organizations-configuration-block main-block profile-pic-block">
                    <div class="organization-profile-head section-header">Profile Picture</div>
                    <div class="organization-profile-mid organization-picture"><img src="assets/ihtsdo.svg"></div>
                    <div class="edit-picture-button">
                        <div class="section-list text-right" aria-label="Edit Picture" title="Edit Picture"><a class="btn btn-primary btn-lg">Edit Picture</a></div>
                    </div>
                </div>
            </div>
            <div class="organizations-configuration-blocks-2">
                <div class="organizations-configuration-block secondary-block teams-block">
                    <div class="organization-profile-head section-header">Teams</div>
                    <div class="organization-profile-mid">Create teams for your organization. Refset modeling permissions are assigned through the use of teams.</div>
                    <div class="create-team-button">
                        <div class="section-list text-right" aria-label="Create Team" title="Create Team"><a class="btn btn-primary btn-lg">Create Team</a></div>
                    </div>
                </div>
                <div class="organizations-configuration-block secondary-block teams-block">
                    <div class="organization-profile-head section-header">Projects</div>
                    <div class="organization-profile-mid">Add projects to your organization. Projects help to organize your reference sets.</div>
                    <div class="create-project-button">
                        <div class="section-list text-right" aria-label="Create Project" title="Create Project"><a class="btn btn-primary btn-lg">Create Project</a></div>
                    </div>
                </div>
                <div class="organizations-configuration-block secondary-block teams-block">
                    <div class="organization-profile-head section-header"><img class="red-x" src="assets/red-x.svg"> Remove this Organization</div>
                    <div class="organization-profile-mid">Warning! This is a permanent operation and cannot be undone. Please be certain before taking action.</div>
                    <div class="remove-organization-button">
                        <div class="section-list text-right" aria-label="Remove Organization" title="Remove Organization"><a class="btn btn-primary btn-lg">Remove Organization</a></div>
                    </div>
                </div>
            </div>
        </div>
    
    </span>
</div></div>