.date-selector {
margin-top: 0.5em;

mat-form-field {
visibility: hidden;
}
}

.date-filter-select {
border: solid;
border-width: 1px;
border-color: #666;
padding: 0.2em 0 0 0.2em;
width: 125px;

.mat-select-arrow-wrapper {
padding-top: 0;
padding-bottom: 10px;
}

.mat-form-field-infix {
top: 7px;
}
}
