
{
  "printWidth": 200,
  "tabWidth": 4,
  "tabs": true,
  "useTabs": true,
  "singleQuote": true,
  "semicolon": true,
  "singleAttributePerLine": false,
  "bracketSameLine": true,
  "quoteProps": "preserve",
  "bracketSpacing": true
}
