<!-- <button *ngIf="isDetailPage" (click)="openDownload(refset.refsetId)" [ngClass]="{inactive: disabled}" [disabled]="disabled" class="refset-tool-standard-icon-button refset-tool-icon-button-download">
    <img src="assets/download-icon.svg" alt="download icon" title="Download Refset" aria-label="download button" />
</button> -->

<button mat-menu-item *ngIf="isDetailPage" [disabled]="disabled" (click)="openDownload(refset.refsetId)">Download Refset</button>

<button *ngIf="!isDetailPage" mat-icon-button aria-hidden="false" (click)="openDownload(refset.refsetId)" aria-label="Download Refset" title="Download Refset"
        class="refset-tool-table-action-icon {{buttonClasses}}" [ngClass]="{inactive: disabled}" [disabled]="disabled">
    <span class="mat-button-wrapper">
        <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">download</mat-icon>
    </span>
    <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round" ng-reflect-disabled="false" ng-reflect-centered="true" ng-reflect-trigger="[object HTMLButtonElement]"></span>
    <span class="mat-button-focus-overlay"></span>
</button>

<ng-template #refsetDownloadDialog let-data>
    <div class="container-fluid download-modal-container">

        <div class="row"
             id="downloadFormatRow">
            <div class="col refset-tool-download-column-label">
                <label>Format:</label>
            </div>
            <div class="col refset-tool-download-column-field">
                <mat-form-field appearance="fill">
                    <mat-select #downloadFormatField [(value)]="data.selectedFormat" (selectionChange)="changeFormat(data)">
                        <mat-option *ngFor="let option of data.formatOptions" [value]="option.value">
                            {{ option.display }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row"
             id="downloadContentRow"
             *ngIf="showContent">
            <div class="col refset-tool-download-column-label">
                <label>Content:</label>
            </div>
            <div class="col refset-tool-download-column-field">
                <mat-form-field appearance="fill">
                    <mat-select #downloadContentField [(value)]="data.selectedContent" (selectionChange)="changeContent(data)">
                        <ng-container *ngFor="let option of data.contentOptions">
                            <mat-option *ngIf="option.value != 'delta' || (showVersions && shouldShowDeltaContentLabel() && showDeltaOption(data) && option.value == 'delta')" [value]="option.value">
                                {{ option.display }}
                            </mat-option>
                        </ng-container>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row" id="downloadContentRow"
             *ngIf="showVersions && !shouldShowDeltaContentLabel() && showDeltaOption(data)">
            <div class="col refset-tool-download-column-label"></div>
            <div class="col refset-tool-download-column-field">
                *Delta option not available as this is the initial version of the refset
            </div>
        </div>

        <div class="row" id="downloadLanguageRow" *ngIf="showLanguages">
            <div class="col refset-tool-download-column-label">
                <label>Language Refset:</label>
            </div>
            <div class="col refset-tool-download-column-field">
                <mat-form-field appearance="fill">
                    <mat-select #downloadLanguageField [(value)]="data.selectedLanguage">
                        <mat-option *ngFor="let option of data.languageOptions" [value]="option.value">
                            {{ option.display }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row" id="downloadVersionRow" *ngIf="showVersions">
            <div class="col refset-tool-download-column-label">
                <label>Version:</label>
            </div>
            <div class="col refset-tool-download-column-field">
                <input class="version-input-placeholder" placeholder="{{addSpaceAfterVersionDate(data.selectedVersion)}}" name="name" disabled />
            </div>
        </div>

        <div class="row" id="downloadComparisonRow" *ngIf="showComparison && shouldShowDeltaContentLabel()">

            <div class="col refset-tool-download-column-label">
                <label>Delta Comparison:</label>
            </div>

            <div class="col refset-tool-download-column-field">
                <div class="row delta-row">
                    <div><label class="in-form-label">From:</label></div>

                    <mat-form-field appearance="fill" class="delta-select">
                        <mat-select #downloadComparisonFromField [(value)]="data.selectedComparisonFrom" (selectionChange)="changeComparisonFrom(data)">
                            <mat-option *ngFor="let option of data.comparisonFromOptions" [value]="option.value">
                                {{ addSpaceAfterVersionDate(option.display) }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div><label class="in-form-label">To:</label></div>
                    <input class="delta-input-placeholder" placeholder="{{addSpaceAfterVersionDate(data.selectedComparisonTo)}}" name="name" disabled />
                </div>
            </div>

        </div>

        <div class="row" id="downloadMetaDataRow" *ngIf="showContent">
            <div class="col refset-tool-download-column-label">
                <label>Include Metadata:</label>
            </div>
            <div class="col refset-tool-download-column-field">
                <mat-checkbox [(ngModel)]="data.exportMetadata" value="true"></mat-checkbox>
            </div>
        </div>

    </div>
</ng-template>
