<footer class="footer bg-dark">
    <a class="px-3 text-ghost-grey" href="https://www.snomed.org/" target="_blank">Copyright © {{year}} SNOMED International</a>
    <a class="px-3 text-ghost-grey" href="#" target="_blank">Terms of Service</a>
    <a class="px-3 text-ghost-grey" href="https://www.iubenda.com/privacy-policy/46600952" target="_blank">Privacy Policy</a>
    <a class="px-3 text-ghost-grey" href="https://www.snomed.org/help-center/help-center" target="_blank">Contact Us</a>
</footer>
