<footer class="footer bg-dark">
    <a class="px-3 text-ghost-grey" href="https://www.snomed.org/" target="_blank">
      Copyright © {{year}} SNOMED International</a>
    <a class="px-3 text-ghost-grey" href="https://browser.ihtsdotools.org" target="_blank">SNOMED Browser</a>
    <a class="px-3 text-ghost-grey" href="https://confluence.ihtsdotools.org/display/SCTCR/Content+Request+Service+Terms+of+Service" target="_blank">Terms of Service</a>
    <a class="px-3 text-ghost-grey" href="http://snomed.org/snomedtools-privacy" target="_blank">Privacy Policy</a>
    <a class="px-3 text-ghost-grey" href="https://www.snomed.org/help-center/contact-us" target="_blank">Contact Us</a>
</footer>
