<footer class="footer bg-dark">
	<!-- <a class="px-3 text-ghost-grey footer-font" href="https://www.snomed.org/" target="_blank"> Copyright © {{ year }} Direktoratet for e-helse </a> -->
	<!-- <span>
		<a class="px-3 text-ghost-grey footer-font hide" href="https://browser.ihtsdotools.org" target="_blank">SNOMED Browser</a>
		<a
			class="px-3 text-ghost-grey footer-font"
			href="https://confluence.ihtsdotools.org/display/SCTCR/Content+Request+Service+Terms+of+Service"
			target="_blank"
			>Terms of Service</a
		>
		<a class="px-3 text-ghost-grey footer-font" href="http://snomed.org/snomedtools-privacy" target="_blank">Privacy Policy</a>
		<a class="px-3 text-ghost-grey footer-font" href="https://www.snomed.org/help-center/contact-us" target="_blank">Contact Us</a>
	</span> -->
	<!-- <button *ngIf="isUserLoggedIn" class="float-right mt2-btn mt2-feedback-btn h-30 footer-font hide" title="Feedback" aria-label="Feedback" (click)="openFeedbackModal()">Feedback</button> -->
	<div class="float-right text-ghost-grey footer-font mr-10">2.0.0</div>
</footer>
