<nav class="navbar sticky-top navbar-dark bg-dark p-2 pr-2 row" style="justify-content: center; padding-bottom: 0 !important;">

    <div class="refset-tool-nav-item-row">

        <a class="refset-tool-nav-logo-section" routerLink="/" title="Reference Set Tool Home"
            aria-label="Reference set tool home">
            <img class="refset-tool-logo mr-2 p-0" src="/assets/small_logo.png">
            <span class="title text-ghost-grey refset-tool-nav-title">Reference Set Tool
                <b>(BETA)</b></span>
        </a>

        <div class="refset-tool-breadcrumb-bar text-ghost-grey">
            <div *ngFor="let breadcrumb of breadcrumbs" title="{{breadcrumb.label}}"
                aria-label="{{breadcrumb.label}}" [class]="breadcrumb.class"
                (click)="navigate(breadcrumb.id)">
                {{breadcrumb.label}}
            </div>
        </div>

        <ng-container [ngSwitch]="environment">
            <div *ngSwitchCase="'local'" class="banner text-white local"></div>
            <div *ngSwitchCase="'dev'" class="banner text-white dev"></div>
            <div *ngSwitchCase="'uat'" class="banner text-white uat"></div>
            <div *ngSwitchCase="'training'" class="banner text-white training"></div>
            <div *ngSwitchDefault class="banner text-white d-none"></div>
        </ng-container>

    </div>

    <div class="left-title-buttons">
        <div class="project-role-and-assignee-label" *ngIf="showProjectRoleAndAssignee()">
            <span class="project-role" *ngIf="getProjectRoleString()">Project Role:
                {{getProjectRoleString()}}</span>
            <span class="project-assignee" *ngIf="assignedUser() != 'Unassigned'">Assignee: {{
                assignedUser() }}</span>
        </div>
    
        <div class="directory-nav" routerLink="/directory">
            <img class="directory-icon" src="/assets/directory-icon.svg">
            <span class="directory-icon-label">Directory</span>
        </div>
    
        <div *ngIf="isUserLoggedIn" class="project-nav" routerLink="/projects">
            <img class="projects-icon" src="/assets/projects-icon.svg">
            <span class="projects-icon-label">Projects</span>
        </div>
    
        <div *ngIf="isUserLoggedIn" class="float-right mx-3">
            <div class="user d-inline-block m-2">
                <span class="px-2 text-ghost-grey">{{user.userName}}</span>
                <img class="rounded-circle mx-3" src="/assets/user_logo.png">
            </div>
            <div class="logout d-inline-block m-2" (click)="logoutUser()">
                <span class="px-2 text-ghost-grey">Logout</span>
            </div>
        </div>
    
        <div *ngIf="!isUserLoggedIn" class="float-right mx-3">
            <div class="user d-inline-block m-2">
                <span class="px-2 text-ghost-grey">{{guestUser}}</span>
            </div>
            <div class="logout d-inline-block m-2" (click)="login()">
                <span class="px-2 text-ghost-grey">Login</span>
            </div>
        </div>
    </div>
</nav>