.create-new-refset-form-field.bordered {
    border-bottom: 1px solid;
}

#create-new-refset-assign-refset-field {
    margin-bottom: 10px;
    padding-top: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
}