.ready-for-publication-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: rgba(150, 72, 176, 1);
}

.in-edit-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #937c01;
}

.in-upgrade-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #029301;
}

.ready-for-edit-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: rgba(202, 176, 39, 1);
}

.review-completed-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #7b2232;
}

.in-review-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #a4303f;
}

.ready-for-review-projects-button {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	background-color: #c05d72;
}
