.workflow-status-badge {
	height: 31px;
	position: absolute;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	justify-self: inherit;
}

.ready-for-publication-projects-button {
	color: var(--standard_default_button_color);
	background-color: var(--wisteria);
}

.in-edit-projects-button {
	color: var(--standard_default_button_color);
	background-color: var(--action_button_color);
}

.in-upgrade-projects-button {
	color: var(--white);
	background-color: var(--standard_green_button_color);
}

.ready-for-edit-projects-button {
	color: var(--white);
	background-color: var(--mapset_review_color);
}

.review-completed-projects-button,
.published-projects-button {
	color: var(--standard-font-color);
	background-color: var(--ghost-grey);
}

.in-review-projects-button {
	color: var(--white);
	background-color: var(--mapset-hover);
}

.ready-for-review-projects-button {
	color: var(--standard-font-color);
	background-color: var(--candlelight);
}
