.workflow-status-badge {
	height: 31px;
	width: fit-content;
	background: inherit;
	border-radius: 12px;
	line-height: 2.3;
	top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	justify-self: inherit;
	font-family: ArialMT, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 32.2px;
	color: rgb(102, 102, 102);
}

.table-badge {
	position: absolute;
}

.record-badge {
	position: relative;
	margin-left: auto;
	justify-self: right;
	/* text-align: right; */
	/* justify-content: right; */
}

.ready-for-publication-projects-button {
	color: var(--standard_default_button_color);
	background-color: var(--wisteria);
}

.in-edit-projects-button {
	color: var(--standard_default_button_color);
	background-color: var(--action_button_color);
}

.in-upgrade-projects-button {
	color: var(--white);
	background-color: var(--standard_green_button_color);
}

.ready-for-edit-projects-button {
	color: var(--white);
	background-color: var(--mapset_review_color);
}

.review-completed-projects-button,
.published-projects-button {
	color: var(--standard-font-color);
	background-color: var(--ghost-grey);
}

.in-review-projects-button {
	color: var(--white);
	background-color: var(--mapset-hover);
}

.ready-for-review-projects-button {
	color: var(--standard-font-color);
	background-color: var(--candlelight);
}
