<!--<object  [src]="uiUtility.toTitleCase(params?.data?.workflowStatus)"> {{ params?.value}}</object>-->
<ng-container *ngIf="status === 'PUBLISHED'"
	><div class="workflow-status-badge published-projects-button" [ngClass]="{ 'table-badge': table, 'record-badge': !table }" title="Published">
		Published
	</div>
</ng-container>
<ng-container *ngIf="status === 'READY_FOR_EDIT'">
	<div
		class="workflow-status-badge ready-for-edit-projects-button"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
		title="Ready For Edit"
	>
		Ready For Edit
	</div>
</ng-container>
<ng-container *ngIf="status === 'IN_DEVELOPMENT' || status === 'IN DEVELOPMENT'">
	<div class="workflow-status-badge in-edit-projects-button" title="In Development" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">
		In Development
	</div>
</ng-container>
<ng-container *ngIf="status === 'IN_EDIT' || status === 'IN EDIT'">
	<div class="workflow-status-badge in-edit-projects-button" title="In Edit" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">
		In Edit
	</div>
</ng-container>
<ng-container *ngIf="status === 'EDITING_IN_PROGRESS' || status === 'EDITING IN PROGRESS'">
	<div class="workflow-status-badge in-edit-projects-button" [ngClass]="{ 'table-badge': table, 'record-badge': !table }" title="In Edit">
		In Edit
	</div>
</ng-container>
<ng-container *ngIf="status === 'NEW'">
	<div class="workflow-status-badge in-edit-projects-button" title="New" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">New</div>
</ng-container>
<ng-container *ngIf="status === 'IN_UPGRADE' || status === 'IN UPGRADE'">
	<div class="workflow-status-badge in-upgrade-projects-button" title="In Upgrade" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">
		In Upgrade
	</div>
</ng-container>
<ng-container *ngIf="status === 'CONFLICT_DETECTED' || status === 'CONFLICT DETECTED'">
	<div class="workflow-status-badge in-upgrade-projects-button" title="In Conflict" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">
		In Conflict
	</div>
</ng-container>
<ng-container *ngIf="status === 'CONFLICT_IN_PROGRESS' || status === 'CONFLICT IN PROGRESS'">
	<div
		class="workflow-status-badge in-upgrade-projects-button"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
		title="Ready for Resolution"
	>
		Ready for Resolution
	</div>
</ng-container>
<ng-container *ngIf="status === 'READY_FOR_REVIEW' || status === 'READY FOR REVIEW'">
	<div
		class="workflow-status-badge ready-for-review-projects-button"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
		title="Ready For Review"
	>
		Ready For Review
	</div>
</ng-container>
<ng-container *ngIf="status === 'REVIEW_NEEDED'">
	<div
		class="workflow-status-badge ready-for-review-projects-button"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
		title="Ready For Review"
	>
		Ready For Review
	</div>
</ng-container>
<ng-container *ngIf="status === 'EDITING_DONE' || status === 'EDITING DONE'">
	<div
		class="workflow-status-badge ready-for-review-projects-button"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
		title="Edit Completed"
	>
		Edit Completed
	</div>
</ng-container>
<ng-container *ngIf="status === 'IN_REVIEW' || status === 'IN REVIEW'">
	<div class="workflow-status-badge in-review-projects-button" title="In Review" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">
		In Review
	</div>
</ng-container>
<ng-container *ngIf="status === 'REVIEW_IN_PROGRESS' || status === 'REVIEW IN PROGRESS'">
	<div class="workflow-status-badge in-review-projects-button" title="In Review" [ngClass]="{ 'table-badge': table, 'record-badge': !table }">
		In Review
	</div>
</ng-container>
<ng-container *ngIf="status === 'REVIEW_COMPLETED' || status === 'REVIEW COMPLETED'">
	<div
		class="workflow-status-badge review-completed-projects-button"
		title="Review Completed"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
	>
		Review Completed
	</div>
</ng-container>
<ng-container *ngIf="status === 'REVIEW_RESOLVED' || status === 'REVIEW RESOLVED'">
	<div
		class="rworkflow-status-badge eview-completed-projects-button"
		title="Review Completed"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
	>
		Review Completed
	</div>
</ng-container>
<ng-container *ngIf="status === 'READY_FOR_PUBLICATION' || status === 'READY FOR PUBLICATION'">
	<div
		class="workflow-status-badge ready-for-publication-projects-button"
		title="Ready For Publication"
		[ngClass]="{ 'table-badge': table, 'record-badge': !table }"
	>
		Ready For Publication
	</div>
</ng-container>
