.finish-upgrade-modal-success {
    text-align: left;
}

.finish-upgrade-modal-success-warning {
    height: fit-content;
}

.finish-upgrade-modal-body-header {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.finish-upgrade-modal-body {
    background-color: #f5f5f6;
    padding: 28px !important;
    text-align: center;
    text-align: -webkit-center;
  
    .notes-title {
      text-align: left;
      padding-bottom: 20px;
    }
  }

  .circled-check {
    height: 24px;
    width: 24px;
  }