<button type="button" color="green"
    (click)="refsetDetails?.setWorkflowStatusByAction('', 'FINISH_UPGRADE'); openFinishUpgradeModal(finishUpgradeDialog)"
    aria-hidden="false" class="rt2-btn rt2-next-back-btn"
    aria-label="Finish Upgrade" title="Finish Upgrade">
    Finish Upgrade
</button>

<ng-template #finishUpgradeDialog let-modal>
    <ng-container>
        <div class="modal-header rt2-modal-header">
            <h4 class="modal-title rt2-modal-title modal-header-font" id="modal-basic-title">
                Upgrade Reference Set
            </h4>
            <button type="button" class="close dialog-close-x close-icon-font" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true" class="dialog-close-x close-icon-font">&times;</span>
            </button>
        </div>
        <div class="container-fluid upgrade-container-fluid">
            <div class="modal-body finish-upgrade-modal-body">
                <div class="successful-finish-upgrade-modal-body-header">
                    <ngb-alert [dismissible]="false" type="success"
                        class="finish-upgrade-modal-success-warning">
                        <div class="success-header">
                            <img class="circled-check" src="assets/circled-check.svg"
                                alt="circled check" aria-label="Circled Check"
                                title="Circled Check" />
                            <div class="success-body finish-upgrade-modal-success">
                                <strong>Success!</strong><br />Members updated and Upgrade complete.
                            </div>
                        </div>
                    </ngb-alert>
                </div>
            </div>
        </div>
        <div class="modal-footer rt2-modal-footer rt2-btn-group">
            <button type="button" color="green"
                (click)="getInactiveChangeReport()" aria-hidden="false"
                class="rt2-btn rt2-next-back-btn"
                aria-label="Download" title="Download">
                Download Inactive Concept Report
            </button>
            <button type="button" color="green"
                (click)="getFinishedChangeReport()" aria-hidden="false"
                class="rt2-btn rt2-download-btn"
                aria-label="Download" title="Download">
                Download Change Report
                <mat-icon role="img" class="rt2-dialog-confirm-icon mat-icon notranslate material-icons mat-icon-no-color rt2-icon" aria-hidden="true" data-mat-icon-type="font">
                    download
                </mat-icon>
            </button>
            <button type="button" (click)="modal.dismiss('Cross click')" color="primary" aria-hidden="false"
				class="rt2-btn rt2-cancel-btn" aria-label="Close">
				Close
			</button>
        </div>
    </ng-container>
</ng-template>
