<button
	#rejectRefsetButton
	color="primary"
	aria-hidden="false"
	(click)="openReviewModal(reviewDialog)"
	class="mt2-btn mt2-action-btn"
	aria-label="Reject Reference Set"
	title="Reject Reference Set"
>
	Reject Reference Set
</button>

<ng-template #reviewDialog let-modal>
	<div class="modal-header mt2-modal-header">
		<h3 class="modal-title mt2-modal-title modal-header-font" id="modal-basic-title">Finish Review</h3>
		<button type="button" class="close dialog-close-x close-icon-font" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true" class="dialog-close-x close-icon-font">&times;</span>
		</button>
	</div>
	<div class="modal-body review-modal-body">
		<ngb-alert [dismissible]="false" type="warning" (click)="showBanner = false">
			<div class="warning-header">
				<span class="material-icons warning-logo"> warning </span>
				<div class="warning-review-body">
					<strong>Warning!</strong><br /><br />
					Review notes have not been made or recorded. A reason must be included if the Reference Set changes are rejected.
				</div>
			</div>
		</ngb-alert>
		<div class="">
			<editor [(ngModel)]="reviewNotes" [init]="editorConfig" id="reviewNotes"></editor>
		</div>
	</div>
	<div class="modal-footer mt2-modal-footer mt2-btn-group">
		<button
			#rejectRefsetNotesButton
			color="green"
			aria-hidden="false"
			class="mt2-btn mt2-next-back-btn"
			aria-label="Reject Reference Set"
			title="Reject Reference Set"
			[disabled]="!checkIfNoteAdded()"
			(click)="modal.dismiss('Cross click'); addNoteAndSetWorkflowStatus()"
		>
			Save & Finish
		</button>
		<button
			type="button"
			(click)="modal.dismiss('Cross click')"
			aria-hidden="false"
			class="mt2-btn mt2-cancel-btn"
			aria-label="Cancel"
			title="Cancel"
		>
			Cancel
		</button>
	</div>
</ng-template>
