<button #rejectRefsetButton
        mat-raised-button
        color="primary"
        aria-hidden="false"
        (click)="openReviewModal(reviewDialog)"
        class="refset-tool-action-button refset-action-button"
        aria-label="Reject Refset"
        title="Reject Refset"
        ng-reflect-color="primary">
    Reject Refset
</button>

<ng-template #reviewDialog let-modal>
    <div class="modal-header rt2-modal-header">
        <h4
            class="modal-title rt2-modal-title"
            id="modal-basic-title"
        >
            Finish Review
        </h4>
        <button
            type="button"
            class="close dialog-close-x"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
        >
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>
    <div class="container-fluid ready-for-review-container-fluid">
        <div class="modal-body review-modal-body">
            <ngb-alert [dismissible]="false" type="warning"
            (click)="showBanner = false">
     <div class="warning-header">
         <span class="material-icons warning-logo">
             warning
         </span>
         <div class="warning-review-body">
             <strong>Warning!</strong><br /><br />
             Review notes have not been made or recorded. A reason must be included if the reference set changes are rejected.
         </div>
     </div>
     </ngb-alert>
     <div class="">
        <editor [(ngModel)]="reviewNotes" [init]="{ base_url: '/tinymce', suffix: '.min', height: 200, menubar: false, plugins: ['lists advlist'], toolbar:'undo redo | bold italic | bullist numlist outdent indent'}"></editor>
    </div>
        </div>
    </div>
    <div class="modal-footer rt2-modal-footer">
        <button #rejectRefsetNotesButton
                mat-raised-button
                color="green"
                aria-hidden="false"
                class="refset-tool-action-button refset-action-button"
                aria-label="Reject Refset"
                title="Reject Refset"
                [disabled]="!checkIfNoteAdded()"
                (click)="modal.dismiss('Cross click'); addNoteAndSetWorkflowStatus();"
                ng-reflect-color="green">
            Save & Finish
        </button>
    </div>
</ng-template>
