<div *ngIf="showLoadingSpinner" class="loading">Loading&#8230;</div>

<div class="container-fluid refset-tool-taxonomy" style="margin-left: -30px; height: fit-content;">
    <div class="row" *ngIf="isLoading">
        <div>Loading...</div>
    </div>

    <div class="row" *ngIf="noData">
        <div>No children</div>
    </div>

    <tree-root
        [id]="treeId"
        [nodes]="nodes"
        [options]="configOptions"
        (activate)="configOptions.onSelect($event)"
        (updateData)="onInitTree($event)"
        (loadNodeChildren)="onLoadNodeChildren($event)"
    >
        <ng-template #treeNodeTemplate let-node let-index="index">
            <ng-container *ngIf="editMode">
                <img
                [hidden]="node?.data.memberOfRefset"
                src="assets/add-symbol-icon.svg"
                (click)="addConcept(node?.data, true, isOnDetailsPage, node?.parent?.data)"
                width="18px"
                height="18px"
                title="Add"
                aria-label="Add"
                class="add-symbol-icon"
                alt="Add symbol shown when you're able to add a concept"
            />
            <img
                [hidden]="!node?.data.memberOfRefset"
                src="assets/subtract-symbol-icon.svg"
                (click)="removeConcept(node?.data, true, isOnDetailsPage, node?.parent?.data)"
                width="18px"
                height="18px"
                title="Subtract"
                aria-label="Subtract"
                class="subtract-symbol-icon"
                alt="Subtract symbol shown when you're able to remove a concept"
            />
            </ng-container>
            <img
                *ngIf="node.data.defined"
                title="Fully Defined"
                aria-label="Fully Defined"
                src="/assets/linedTaxonomyIcon.png"
            />
            <img
                *ngIf="!node.data.defined"
                title="Primitive"
                aria-label="Primitive"
                src="/assets/unlinedTaxonomyIcon.png"
            />
            <span
                id="{{ node?.parent?.data?.code + '-' + node?.data?.code }}"
                class="taxonomy-code-text"
                [class.bold-if-member]="node?.data?.memberOfRefset && editMode"
                [class.greyed-if-not-member]="!node?.data?.memberOfRefset && editMode"
                (dblclick)="sendConceptDetailTrigger(isOnDetailsPage ? node.data : node?.data.code.toString());"
                title="{{ getNodeText(node) }}"
                aria-label="{{ getNodeText(node) }}"
                >{{ getNodeText(node) }}</span
            >
        </ng-template>
    </tree-root>
</div>
