<div class="compose-dialog" [class.pop-in]="poppedIn" cdkDrag *ngIf="!isHidden">
    <div class="uploadMain">
        <div class="dialog-header" cdkDragHandle>
            <span>{{title}}</span>
            <span class="header-icons">
                <span (click)="minimiseDialogue()" *ngIf="poppedIn"><i class="fa fa-minus p-2"></i></span>
                <span><i class="fa fa-external-link-alt p-2" *ngIf="poppedIn" (click)="togglePopIn()"></i></span>
                <span><i class="fa fa-compress-alt p-2" *ngIf="!poppedIn" (click)="togglePopIn()"></i></span>
                <span><i class="fa fa-times p-2" (click)="toggleShow()"></i></span>
            </span>
        </div>
        <div [ngClass]="minimiseClass">
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
    </div>
</div>