<div class="page-container">
	<div class="rt2-flex-wrap">
		<div *ngIf="showLoadingSpinner" class="loading"></div>
		<section>
			<div class="mb-10 d-flex">
				<heading-with-count title="Team Users" [count]="dataCount"></heading-with-count>
				<span *ngIf="selectedTeam && selectedTeam.userRoles?.includes('ADMIN')" class="col-md-auto float-right">
					<table>
						<tr>
							<td class="pr-20">
								To add a new user to this team, first go to the
								<span class="pointer" title="Click to add a new user to this team in the organization users page">
									<a href="{{ '/organizations/' + selectedOrganization?.id + '/users' }}">organization users page</a>
								</span>
							</td>
						</tr>
						<tr>
							<td>
								<add-member-to-team-modal [id]="selectedTeam?.id" [name]="selectedTeam?.name" [users]="userList"> </add-member-to-team-modal>
							</td>
						</tr>
					</table>
				</span>
			</div>

			<div class="dashboard-section">
				<div class="ag-theme-alpine">
					<ag-grid-angular *ngIf="showTable" [columnDefs]="gridColumnDefs" [rowData]="data" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" class="w-100-pct">
					</ag-grid-angular>

					<!-- Name Template -->
					<ng-template #peopleNameSection let-params>
						<img #iconImg [src]="uiUtility.prepareIconImage(iconImg, params?.data?.iconUri)" class="medium-icon-image" /> {{ params?.value }}
					</ng-template>

					<!-- Teams Template -->
					<ng-template #peopleTeamsSection let-params>
						<div class="d-flex jc-space-between w-140">
							<span class="text-primary font-weight-bold pointer" [title]="getTeamsTitle(params?.data)"> {{ getTeamsCount(params?.data) }} teams</span>
							<img
								*ngIf="selectedOrganization?.roles?.includes('ADMIN')"
								src="assets/subtract-symbol-icon.svg"
								(click)="confirmRemoveUser(params?.data, $event)"
								width="20px"
								height="20px"
								title="Inactivate User"
								aria-label="Subtract"
								class="mt-15 subtract-symbol-icon"
								alt="Subtract symbol shown when you're able to remove a user" />
						</div>
					</ng-template>
				</div>
			</div>

			<!-- <div class='text-right'>
                    <a class='text-muted light'>show/hide admin</a>
                </div> -->
		</section>
	</div>
</div>

<ng-template #confirmInactiveMemberModal let-modal>
	<div class="modal-header rt2-modal-header">
		<button ngbAutofocus class="unfocus-btn"></button>
		<h3 class="modal-title rt2-modal-title modal-header-font" id="modal-basic-title">Remove User Confirmation</h3>
		<button type="button" class="close dialog-close-x close-icon-font" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true" class="dialog-close-x close-icon-font">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="notes-title">Are you sure you want to remove "{{ selectedUser.name }}" from the team?</div>
	</div>

	<div class="modal-footer rt2-modal-footer">
		<button type="button" (click)="removeUser()" class="rt2-btn rt2-remove-btn mr-2">Remove User</button>
		<button (click)="modal.dismiss()" class="rt2-btn rt2-cancel-btn">Cancel</button>
	</div>
</ng-template>
