<div class="ag-theme-alpine modal-section">
	<ag-grid-angular [columnDefs]="columnDefs" [gridOptions]="gridOptions" class="ag-theme-alpine rt2-ag-grid rt2-ag-grid-filter w-100 h-638"> </ag-grid-angular>

	<app-pagination
		#pagination
		[pageSize]="gridPaging.pageSize"
		*ngIf="showPaging"
		[gridOptions]="gridOptions"
		[pageSizeOptions]="gridPaging.pageSizeOptions"
		[totalKnown]="gridPaging.totalKnown"
		[manualStateRefresh]="gridPaging.manualStateRefresh">
	</app-pagination>

	<ng-template #descriptionSection let-params>
		<label class="ellipsed-label" [ngbPopover]="params?.data.description" container="body" placement="top" popoverTitle="Description">
			{{ params?.data.description }}
		</label>
	</ng-template>

	<ng-template #actionsSection let-params>
		<a [href]="serviceUrl + params.data?.downloadUrl" title="Download artifact" target="_blank">
			<mat-icon>download</mat-icon>
		</a>
		<artifact-form *ngIf="canAdd" [refsetInternalId]="refsetInternalId" (refresh)="onReload()" [artifact]="params.data"></artifact-form>
	</ng-template>
</div>
