<page-container class="page-container">
	<section>
		<div class="d-flex mb-10">
			<heading-with-count title="Project Users" [count]="dataCount"></heading-with-count>
			<!-- <span class='section-header'>Project Users ({{dataCount}})</span> -->
			<span *ngIf="selectedOrganization && selectedOrganization.roles.includes('ADMIN')" class="col-md-auto float-right">
				<div>
					To add a new user to this project, first go to the
					<span class="pointer" title="Click add a new user to this project, first go to the organization users page">
						<a href="{{ '/organizations/' + selectedOrganization?.id + '/users' }}">organization users page</a>
					</span>
				</div>
				<div>
					To add an existing user to this project, add an existing user to a team on the
					<span class="pointer" title="Click to add an existing user to this project, add an existing user to a team on the organization teams page">
						<a href="{{ '/organizations/' + selectedOrganization?.id + '/teams' }}">organization teams page</a>
					</span>
				</div>
			</span>
		</div>

		<div class="dashboard-section">
			<div class="ag-theme-alpine">
				<ag-grid-angular [columnDefs]="gridColumnDefs" [rowData]="data" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" class="w-100-pct h-638"> </ag-grid-angular>

				<!-- Name Template -->
				<ng-template #peopleNameSection let-params>
					<img #iconImg [src]="uiUtility.prepareIconImage(iconImg, params?.data?.iconUri)" class="medium-icon-image" /> {{ params?.value }}
				</ng-template>

				<!-- Teams Template -->
				<ng-template #peopleTeamsSection let-params>
					<span class="text-primary font-weight-bold pointer" [title]="getTeamsTitle(params?.data)"> {{ getTeamCount(params.data.teams) }} teams</span>
				</ng-template>
			</div>
		</div>
	</section>
</page-container>
