.header-row {
	background: #fafafa;
	color: #666;
	font-size: 14px;
	padding: 5px;
	margin: 0;
}

.cell {
	background: white;
	color: #666;
	font-size: 12px;
	padding: 5px;
}

.mapset-notes-icon {
	cursor: pointer;
	width: 22px;
	height: 22px;

	filter: invert(10%) sepia(90%) saturate(2440%) hue-rotate(211deg) brightness(95%) contrast(91%);
}

.no-notes {
	filter: invert(10%) sepia(90%) saturate(25%) hue-rotate(211deg) brightness(175%) contrast(91%) !important;
}

.none {
	margin-left: 40%;
}

.notes-text {
	width: 100%;
	min-height: 100px;
}

.scroll {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

.border-top {
	border-top: 1px solid #666;
	margin: 0;
}

.remove-btn {
	color: var(--standard_default_button_color);
	background-color: var(--action_button_color);
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
