<button class="library-app-refset-notes m-r-20 no-padding" (click)="openNotesModal(notesModal)">
	<img
		src="/assets/sticky-note.svg"
		title="{{ `${libraryOnly ? 'View' : 'Add'} Notes` }}"
		aria-label="{{ `${libraryOnly ? 'View' : 'Add'} Notes` }}"
		class="mapset-notes-icon"
	/>
</button>

<ng-template #notesModal let-modal>
	<div class="modal-header mt2-modal-header">
		<div class="modal-title">{{ showAddNotes ? 'Add Notes' : 'Notes' }}</div>
		<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeNotesModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body m-t-20">
		<div *ngIf="!showAddNotes">
			<div class="row header-row">
				<div class="col-1">Date</div>
				<div class="col-1">|</div>
				<div class="col-1">User</div>
				<div class="col-1">|</div>
				<div class="col-7">Notes</div>
				<div class="col-1"></div>
			</div>
			<div class="scroll">
				<div class="row border-top" *ngFor="let note of notesList">
					<div class="col-1 cell">{{ note.date }}</div>
					<div class="col-1 cell"></div>
					<div class="col-1 cell">{{ note.user }}</div>
					<div class="col-1 cell"></div>
					<div class="col-7 cell">{{ note.notes }}</div>
					<div class="col-1 cell">
						<button *ngIf="!libraryOnly" title="Remove Note" class="remove-btn no-padding" (click)="removeNote(note.id)">&#10005;</button>
					</div>
				</div>
			</div>
			<div class="row cell border-top" *ngIf="notesList?.length === 0"><span class="none">0 notes</span></div>
		</div>
		<textarea
			#notes
			*ngIf="showAddNotes"
			class="form-field-value notes-text"
			type="text"
			name="notes"
			placeholder="enter notes..."
			[formControl]="notesFC"
		></textarea>
	</div>
	<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
		<button *ngIf="!showAddNotes" type="button" class="mt2-btn mt2-action-btn" (click)="closeNotesModal()">Close</button>
		<button *ngIf="!showAddNotes && !libraryOnly" type="button" class="mt2-btn mt2-action-btn" (click)="addNotes()">Add Notes</button>
		<button *ngIf="showAddNotes" type="button" class="mt2-btn mt2-action-btn" (click)="showAddNotes = false; notesFC.reset()">Cancel</button>
		<button *ngIf="showAddNotes" type="button" title="Save Notes" class="mt2-btn mt2-action-btn" (click)="saveNotes()">Save</button>
	</div>
</ng-template>
