<button *ngIf="!isDetails" #artifactsButton aria-hidden="false" (click)="openArtifactsModal(artifactsDialog)" class="rt2-btn rt2-action-btn" aria-label="Artifacts" title="Artifacts">Artifacts</button>
<button class="rt2-picklist-btn" *ngIf="isDetails" (click)="openArtifactsModal(artifactsDialog)" title="Open Artifacts List" aria-label="Artifacts">Artifacts</button>

<ng-template #artifactsDialog let-modal>
	<div class="modal-header rt2-modal-header">
		<button ngbAutofocus class="unfocus-btn"></button>

		<h3 class="modal-title rt2-modal-title modal-header-font" id="modal-basic-title">Artifacts</h3>
		<button type="button" class="close dialog-close-x close-icon-font" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true" class="dialog-close-x close-icon-font">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="text-right" *ngIf="canAdd">
			<artifact-form [refsetInternalId]="refsetInternalId" (refresh)="onRefresh(artifactsList)"></artifact-form>
		</div>

		<artifacts-list [refsetInternalId]="refsetInternalId" [refset]="refset" #artifactsList></artifacts-list>
	</div>
	<div class="modal-footer rt2-modal-footer">
		<button aria-hidden="false" class="rt2-btn rt2-close-btn mr-3" (click)="modal.dismiss('Cross click')">Close</button>
	</div>
</ng-template>
