<div class='sidebar'>
  <div class="wrapper">
      <ul>
          <li class="{{activeClass('landing')}}">
              <a routerLink="/personal/landing/1">
                  <i class="fa fa-user"></i>
                  <span class="nav-label">People</span>
              </a>
          </li>
          <li class="{{activeClass('configuration')}}">
              <a routerLink="/personal/configuration/1">
                  <i class="fa fa-cogs"></i>
                  <span class="nav-label">Configuration</span>
              </a>
          </li>
      </ul>
  </div>
</div>