<div id="refsetProjectsPage"
     class="container-fluid">
    <div class="row refset-title">
        <div class="col-md-auto page-title"
             style="margin-right: 20px; color: #555555; padding-left: 60px">
            Teams
        </div>
        <div class="row justify-content-end details-version-select"
             style="margin-left: 20px">
            <mat-form-field appearance="outline"
                            class="project-drop-down">
                <mat-label>{{'Choose Test'}}</mat-label>
                <mat-select #detailsVersionSelect>
                    <mat-option *ngFor="let test of ['test', 'test']"
                                [value]="test"
                                style="z-index: 3">
                        {{ test }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    </div>

    <div class="content-wrapper">
        <app-teams-sidebar activeRoute="configuration"></app-teams-sidebar>
        <div class='container-fluid mt-3'>
        <span class="teams-configuration">
        
            <div class="section-header mb-3"> Team Configuration </div>
            <div class="teams-configuration-details">
                <div class="teams-configuration-blocks-1">
                    <div class="teams-configuration-block main-block profile-block">
                        <div class="teams-profile-head section-header">Profile</div>
                    <div class="teams-profile-mid">
                        <mat-form-field class="profile-name-field" appearance="none">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" name="name" [(ngModel)]="profileNameValue">
                        </mat-form-field>
    
                        <mat-form-field class="profile-email-field" appearance="none">
                            <mat-label>Primary Contact Email</mat-label>
                            <input matInput type="text" name="email" [(ngModel)]="profileEmailValue">
                        </mat-form-field>
    
                        <mat-form-field class="profile-description-field" appearance="none">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="text" name="description" placeholder="The full description of the purpose of the project" [(ngModel)]="profileEmailValue"></textarea>
                        </mat-form-field>
                    </div>
                            
                            <div class="update-profile-button">
                                <div class="section-list text-right" aria-label="Update Profile" title="Update Profile"><a class="btn btn-primary btn-lg">Update Profile</a></div>
                            </div>
                    </div>
        
                    <div class="secondary-block">
                        <div class="teams-configuration-block-row team-permissions-block">
                            <div class="save-permissions-head section-header">Permissions</div>
                            <div class="save-permissions-mid">Choose the permission level or roles for your team.
                                <br>
                                <br>
                                <mat-form-field appearance="fill">
                                    <mat-label>Role</mat-label>
                                    <mat-select>
                                      <!-- <mat-option *ngFor="" [value]="">
                                        test
                                      </mat-option> -->
                                      <mat-option value="test">
                                          test
                                      </mat-option>
                                      <mat-option value="test">
                                        test
                                    </mat-option>
                                    <mat-option value="test">
                                        test
                                    </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="save-permissions-button">
                                <div class="section-list text-right" aria-label="Save Permissions" title="Save Permissions"><a class="btn btn-primary btn-lg">Save Permissions</a></div>
                            </div>
                        </div>
                        <div class="teams-configuration-block-row team-members-block">
                            <div class="add-members-head section-header">Members</div>
                            <div class="add-members-mid">Add members to your team to begin reference set creation & modeling.</div>
                            <div class="add-members-button">
                                <div class="section-list text-right" aria-label="Add Members" title="Add Members"><a class="btn btn-primary btn-lg">Add Members</a></div>
                            </div>
                        </div>
                        <div class="teams-configuration-block-row remove-teams-block">
                            <div class="remove-team-head section-header"><img class="red-x" src="assets/red-x.svg"> Remove this Team</div>
                            <div class="remove-team-mid">Warning! This is a permanent operation and cannot be undone. Please be certain before taking action.</div>
                            <div class="remove-teams-button">
                                <div class="section-list text-right" aria-label="Remove team" title="Remove team"><a class="btn btn-primary btn-lg">Remove Team</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </span>
    </div></div>