<div class="content-header">
    <div class="row header-title">
        <span class="title-label">Teams</span>
        <mat-form-field appearance="outline" class="project-drop-down">
            <mat-label>{{selectedTeam?.name ? selectedTeam?.name : 'Choose Team'}}</mat-label>
            <mat-select #detailsVersionSelect [disableOptionCentering]="true" [(value)]="selectedTeam" (selectionChange)="selectTeam($event)">
                <mat-option *ngFor="let team of teamList"
                            [value]="team"
                            style="z-index: 3">
                    {{ team.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

    <div class="content-wrapper">
        <app-sidebar [menuItems]="menu"></app-sidebar>
        <div class='container-fluid mt-3'>
        <span class="teams-configuration">
        
            <div class="section-header mb-3"> Team Configuration </div>
            <div class="teams-configuration-details">
                <div class="teams-configuration-blocks-1">
                    <div class="teams-configuration-block main-block profile-block">
                        <div class="teams-profile-head section-header">Profile</div>
                    <div class="teams-profile-mid">
                        <mat-form-field class="profile-name-field" appearance="none">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" name="name" [(ngModel)]="profileNameValue">
                        </mat-form-field>
    
                        <mat-form-field class="profile-email-field" appearance="none">
                            <mat-label>Primary Contact Email</mat-label>
                            <input matInput type="text" name="email" [(ngModel)]="profileEmailValue">
                        </mat-form-field>
    
                        <mat-form-field class="profile-description-field" appearance="none">
                            <mat-label>Description</mat-label>
                            <textarea matInput type="text" name="description" placeholder="The full description of the purpose of the project" [(ngModel)]="profileDescriptionValue"></textarea>
                        </mat-form-field>
                    </div>
                            
                            <div class="update-profile-button">
                                <div class="section-list text-right" aria-label="Update Profile" title="Update Profile"><button class="btn btn-primary btn-lg" [disabled]="!profileNameValue || !profileEmailValue || !profileDescriptionValue" (click)="updateTeam()">Update Profile</button></div>
                            </div>
                    </div>
        
                    <div class="secondary-block">
                        <div class="teams-configuration-block-row team-permissions-block">
                            <div class="save-permissions-head section-header">Permissions</div>
                            <div class="save-permissions-mid">Choose the permission level or roles for your team.
                                <br>
                                <br>
                                <mat-form-field appearance="fill" class="refset-tool-modal-select-field">
                                    <mat-select #detailsRoleSelect placeholder="Choose role(s) to apply to this team" [ngModel]="roleOptions" [(value)]="selectedRoles" multiple
                                         class="refset-tool-modal-select" panelClass="refset-tool-modal-panel"  (selectionChange)="setRoles()">
                                        
                                        <mat-option *ngFor="let role of roleOptions" [value]="role.value">
                                            {{role.display}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="save-permissions-button">
                                <div class="section-list text-right" aria-label="Save Permissions" title="Save Permissions"><button class="btn btn-primary btn-lg" [disabled]="!selectedRoles?.length || selectedRoles === selectedTeam?.roles" (click)="updateTeamRoles()">Save Permissions</button></div>
                            </div>
                        </div>
                        <div class="teams-configuration-block-row team-members-block">
                            <div class="add-members-head section-header">Members</div>
                            <div class="add-members-mid">Add members to your team to begin reference set creation & modeling.</div>
                            <div class="add-members-button">
                                <div class="section-list text-right" aria-label="Add Members" title="Add Members"><button class="btn btn-primary btn-lg">Add Members</button></div>
                            </div>
                        </div>
                        <div class="teams-configuration-block-row remove-teams-block">
                            <div class="remove-team-head section-header"><img class="red-x" src="assets/red-x.svg"> Remove this Team</div>
                            <div class="remove-team-mid">Warning! This is a permanent operation and cannot be undone. Please be certain before taking action.</div>
                            <div class="remove-teams-button">
                                <div class="section-list text-right" aria-label="Remove team" title="Remove team"><remove-dashboard-component-modal [componentType]="'team'" [componentId]="id" [componentName]=getSelectedTeamName()></remove-dashboard-component-modal></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </span>
    </div></div>