<button *ngIf="!isDetails" #artifactsButton aria-hidden="false" (click)="openTrailModal(trailDialog)" class="rt2-btn rt2-action-btn" aria-label="Audit Trail"
  title="Audit Trail">
    Organizational Audit Trail
</button>
<button class="rt2-picklist-btn" *ngIf="isDetails" (click)="openTrailModal(trailDialog)" title="Open Audit Trail List" aria-label="Audit Trail" id="audit-button">Audit Trail</button>

<ng-template #trailDialog let-modal>
    <div class="modal-header rt2-modal-header">
        <button ngbAutofocus class="unfocus-btn"></button>
        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            Audit Trail
        </h4>
        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>
    <div class="container-fluid ready-for-review-container-fluid">
        <div class="modal-body pr-0 pl-0 pb-0">
            <audit-trail-list [refsetInternalId]="refsetInternalId"
             (recordsLoaded)="dataLoadedStatus($event)"></audit-trail-list>
        </div>
    </div>
    <div class="modal-footer rt2-modal-footer rt2-btn-group">
        <button [disabled]="downloadDisabled" type="button" (click)="getAuditReport()" aria-hidden="false"
          class="rt2-btn rt2-download-btn" aria-label="Download" title="Download">
            Download Audit Trail
            <i class="fa fa-download"></i>
        </button>
        <button aria-hidden="false" class="rt2-btn rt2-close-btn" (click)="modal.dismiss('Cross click');">
            Close
        </button>
    </div>
</ng-template>
