<div *ngIf="showLoadingSpinner" class="loading"></div>

<!-- Heading -->
<div class="top-search-bar content-header">
	<div class="d-flex">
		<div class="row">
			<div class="col-md-9 page-title" *ngIf="loaded">
				<div class="mt2-wrap" *ngIf="loaded" title="{{ mapsetData[0].code + ' ' + mapsetData[0].name }}">
					<span>{{ mapsetData[0].code + ' ' + mapsetData[0].name }} </span>
				</div>
			</div>
			<div *ngIf="loaded" class="col-md-3 d-flex header-menu">
				<span class="list-font align-self-center m-r-10"> {{ selectedVersion }}</span>
			</div>
		</div>
		<div class="col-md-auto d-flex m-r-10 align-self-center" *ngIf="loaded">
			<template [ngTemplateOutlet]="directoryActionSection" [ngOutletContext]="{ $implicit: mapsetData }"></template>
		</div>
	</div>
</div>
<div [hidden]="loaded || loadError" class="section-loading m-b-20">Loading...</div>
<div [hidden]="!loadError || !loaded" class="section-loading m-b-20">Error loading, please contact support.</div>
<div class="dropdown-group row edit-actions" *ngIf="loaded && !loadError">
	<div class="col-10 d-flex justify-content-end">
		<div class="assigned-column mappings-section align-self-center m-r-20" *ngIf="assignedUser">Assigned To: {{ assignedUser }}</div>
		<div class="workflow-container">
			<workflow-status-badge [status]="currentStatus"></workflow-status-badge>
		</div>
	</div>
	<div class="action-column col-2 no-margin-top">
		<span class="date-column">
			<button
				type="button"
				title="Undo Changes"
				class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
				(click)="reloadMapping()"
				[disabled]="!userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT'"
				(ngClass)="({ disabled: !userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
			>
				Undo Changes
			</button>
			<button
				type="button"
				title="Save Mapping"
				class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
				(click)="saveMapping()"
				[disabled]="!userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT'"
				(ngClass)="({ disabled: !userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
			>
				Save Mapping
			</button>
		</span>
	</div>
	<div class="edit-container m-t-10">
		<div class="metadata-collapsible-container col">
			<div class="metadata-collapsible-container-group-header row no-hover">
				<div class="metadata-collapsible-container-title page-header-font">
					<span>Source Concept</span>
				</div>

				<div class="section-background mappings-section" *ngIf="loaded && selectedMapset && !loadError">
					<div class="col-12">
						<div class="d-flex col-12 row mt-5">
							<div class="col-2 align-right mb-10">ID:</div>
							<div class="col-10 mb-10">
								<span class="code-link" (click)="goToMappingPage('_blank')" title="Open Maps in new tab" aria-label="Open in new tab"
									>{{ selectedMapset.fromTerminology }}, {{ mapsetData[0].code }}
									<span class="p-l-5"><i class="fa-solid fa-arrow-up-right-from-square"></i></span
								></span>
							</div>
							<div class="col-2 align-right">Name:</div>
							<div class="col-10">
								{{ mapsetData[0].name }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="metadata-collapsible-container col">
			<div class="metadata-collapsible-container-group-header row no-hover">
				<div class="metadata-collapsible-container-title page-header-font btn-header">
					<div class="entry-column no-wrap d-flex justify-content-between">
						<div class="justify-content-start d-flex">
							Selected Target Concept
							<div class="sub-header-font no-wrap" [hidden]="!loaded || loadError">
								<span
									[hidden]="selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT'"
									title="Group {{ selectedTarget.group }},  Entry {{ selectedTarget.priority }}"
									>( {{ selectedTarget.group }}/{{ selectedTarget.priority }} )
								</span>
							</div>
						</div>
						<div class="target-btns search-btn justify-content-end align-items-center">
							<div class="mappings-section code-link no-wrap" title="Search Browser" (click)="searchBrowser()">
								<svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#2269e8">
									<path
										d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
									/>
								</svg>
								Search Browser
							</div>
						</div>
					</div>
				</div>
				<div class="section-background mappings-section" *ngIf="loaded || !loadError">
					<div class="col-12">
						<div class="d-flex col-12 row mt-5">
							<div class="col-3 align-right mb-10 m-t-5">Target Code:</div>
							<div class="col-9 d-flex">
								<span class="m-r-5 m-t-5"> ICD10, </span>
								<form (ngSubmit)="onKeyPress($event)" class="max-width m-t-5 type-ahead-form">
									<span class="type-head-append">
										<i class="fa-solid fa-magnifying-glass svg-inline"></i>
										<input
											#targetInput
											id="typeahead-basic"
											type="text"
											class="form-control"
											[(ngModel)]="query"
											[formControl]="targetFC"
											title="Search Target Code or Name (enter at least 2 characters, case sensitive)"
											[placeholder]="'Search Target Code or Name'"
											[ngbTypeahead]="searchAutoComplete"
											[resultFormatter]="formatter"
											[inputFormatter]="formatter"
											[resultTemplate]="rt"
											(selectItem)="selectItemFromMenu($event)"
											[focusFirst]="false"
										/>
										<span *ngIf="targetFC.value" class="clear-search" title="Clear Search" (click)="clearTargetInput()"
											>&#10005;</span
										>
									</span>
								</form>
								<div class="target-btns">
									<button
										type="button"
										title="Set as Target"
										class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
										(click)="setTargetCode()"
										[disabled]="!foundConceptCode || selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT'"
										(ngClass)="
											({ disabled: !foundConceptCode || selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT' })
										"
									>
										Set as Target
									</button>
									<button
										type="button"
										title="Set Empty Target"
										class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
										[disabled]="selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT'"
										(ngClass)="({ disabled: selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
										(click)="setEmptyTarget()"
									>
										Set Empty Target
									</button>
								</div>
							</div>
							<div class="col-3 align-right">Preferred Term:</div>
							<div class="col-9">
								{{ targetNameInput }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="mt2-container" (window:resize)="onResize($event)" (scroll)="onResize($event)" *ngIf="loaded && !loadError">
	<div class="metadata-collapsible-container col-md-12 config-scrolling-section">
		<div class="metadata-collapsible-container-group-header header-adjust pointer" (click)="toggleSectionView('showConfigSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Target Configuration</span>
				<div class="sub-header-font" [hidden]="!loaded || loadError">
					<span [hidden]="numOfGroups === 0"
						>( {{ numOfGroups }} group<span *ngIf="numOfGroups > 1">s</span>, {{ mapsetData[0]?.mapEntries.length }} entr{{
							mapsetData[0]?.mapEntries.length === 1 ? 'y' : 'ies'
						}}
						)</span
					>
				</div>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showConfigSection"
				alt="Collapse Button"
				title="Collapse Target Configuration"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showConfigSection"
				alt="Expand Button"
				title="Expand Target Configuration"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>

		<div [hidden]="!showConfigSection || !loaded || loadError" class="section-background config-section">
			<div
				*ngFor="let record of mapsetData; index as i"
				class="section-groups"
				cdkDropList
				#groupDrop="cdkDropList"
				[cdkDropListData]="groupList"
				(cdkDropListDropped)="drop($event)"
			>
				<div
					class="dropdown-group col-gap group-background"
					*ngFor="let group of groupList; index as g"
					[cdkDragData]="group"
					[cdkDropListConnectedTo]="[groupDrop]"
					[cdkDragDisabled]="numOfGroups === 1 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					cdkDragBoundary=".section-groups"
					cdkDragLockAxis="y"
					cdkDrag
				>
					<div class="metadata-collapsible-container-title page-header-font metadata-collapsible-container-group-header map-group-header">
						<div>
							<div class="move-group-container">
								<i
									title="Move Group"
									class="fa-solid fa-up-down-left-right link-icon mr-5 group-move-btn"
									[ngClass]="{ disabled: numOfGroups === 1 || mapsetInfo.workflowStatus !== 'IN_EDIT' }"
									cdkDragHandle
								></i>
							</div>
							<span>Map Group {{ g + 1 }}</span>

							<span class="sub-header-font" [hidden]="getGroupTotal(g + 1) === 0"
								>( {{ getGroupTotal(g + 1) }} entr{{ getGroupTotal(g + 1) === 1 ? 'y' : 'ies' }} )</span
							>
						</div>
						<span title="Remove Group" class="clear-search group-remove-btn" (click)="openConfirmationModal(g + 1, 'group')"
							>&#10005;</span
						>
					</div>
					<div
						class="map-target"
						cdkDropList
						#targetDrop="cdkDropList"
						[cdkDropListConnectedTo]="[targetDrop]"
						(cdkDropListDropped)="dropT($event)"
						[cdkDropListData]="getGroupEntriesById(g + 1)"
					>
						<div
							class="metadata-collapsible-container-group-header target-row solid-target-border target-hover-background"
							[ngClass]="{ 'target-selected-background': selectedTarget.id === entry.uuid }"
							*ngFor="let entry of getGroupEntriesById(g + 1); index as x"
							[cdkDragData]="entry"
							[cdkDragDisabled]="getGroupTotal(g + 1) === 1 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
							cdkDragBoundary=".map-target"
							cdkDragLockAxis="y"
							cdkDrag
						>
							<div class="col-4">
								<div class="target-name">
									<div class="move-container">
										<i
											title="Move Target"
											class="fa-solid fa-up-down-left-right link-icon mr-5 target-move-btn"
											[ngClass]="{ disabled: getGroupTotal(g + 1) === 1 || mapsetInfo.workflowStatus !== 'IN_EDIT' }"
											cdkDragHandle
										></i>
									</div>
									<!--target-name-wrap-->
									<span class="group-link"
										><template [ngTemplateOutlet]="targetGroupSection" [ngTemplateOutletContext]="{ $implicit: entry }"></template
									></span>
									<span
										class="p-l-5 p-r-5"
										[ngClass]="{
											'code-icon': mapsetInfo.workflowStatus === 'IN_EDIT',
											'unlink-icon': mapsetInfo.workflowStatus !== 'IN_EDIT',
										}"
										(click)="setSelectedTarget(entry.uuid, entry.toCode, entry.toName, entry.group, entry.priority)"
										>{{ entry.toCode }}</span
									><span
										title="{{ entry.toName === '' ? '[NO TARGET]' : entry.toName }}"
										class="p-l-5 p-r-5"
										[ngClass]="{
											'code-icon': mapsetInfo.workflowStatus === 'IN_EDIT',
											'unlink-icon': mapsetInfo.workflowStatus !== 'IN_EDIT',
										}"
										(click)="setSelectedTarget(entry.uuid, entry.toCode, entry.toName, entry.group, entry.priority)"
										>{{ entry.toName === '' ? '[NO TARGET]' : entry.toName }}
										<span *ngIf="entry.modFlag !== ''">
											<img
												class="mapset-mod-icon"
												*ngIf="entry.moduleId !== internationalId"
												src="{{ 'assets/flags/' + entry.modFlag + '.png' }}"
												title="{{ entry.modLang }}"
												aria-label="{{ entry.modLang }}" /></span
									></span>
								</div>
								<div class="mappings-section p-l-20">
									<span [hidden]="!entry.modified"> Last Modified: {{ dateFormatter(entry.modified) }} </span>
									<span [hidden]="!entry.modifiedBy" [ngClass]="{ 'p-l-40': entry.modified }"
										>Modified By: {{ entry.modifiedBy }}</span
									>
								</div>
							</div>
							<div
								class="target-selection"
								*ngIf="entry.toName.indexOf('[NO TARGET]') > -1 || entry.toName.indexOf(' CONCEPT NOT FOUND') > -1"
							>
								<mat-form-field appearance="fill" floatLabel="never" class="target-selection-box">
									<mat-select
										#selectRelationship
										title="Select a Relationship"
										placeholder="Select a Relationship"
										[(value)]="entry.relation"
										(selectionChange)="userChangeSelection('norelation')"
										[disabled]="noTargetRelations.length === 0 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
									>
										<mat-option *ngFor="let map of noTargetRelations" value="{{ map }}" class="no-checkbox">{{ map }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div
								class="target-selection"
								*ngIf="entry.toName.indexOf('[NO TARGET]') === -1 && entry.toName.indexOf(' CONCEPT NOT FOUND') === -1"
							>
								<mat-form-field appearance="fill" floatLabel="never" class="target-selection-box">
									<mat-select
										#selectRelationship
										title="Select a Relationship"
										placeholder="Select a Relationship"
										[(value)]="entry.relation"
										(selectionChange)="userChangeSelection('relation')"
										[disabled]="targetRelations.length === 0 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
									>
										<mat-option *ngFor="let map of targetRelations" value="{{ map }}" class="no-checkbox">{{ map }}</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="target-selection">
								<mat-form-field appearance="fill" floatLabel="never" class="rule-selection-box">
									<mat-select
										#selectRule
										title="Select a Rule"
										placeholder="Select a Rule"
										[(value)]="record.rule"
										(selectionChange)="userChangeSelection('rule')"
										[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
									>
										<mat-option value="TRUE" class="no-checkbox">TRUE</mat-option>
										<mat-option value="Gender - Female" class="no-checkbox" [hidden]="!ruleBased">Gender - Female</mat-option>
										<mat-option value="Gender - Male" class="no-checkbox" [hidden]="!ruleBased">Gender - Male</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<span class="col-3 advice-list">
								<template [ngTemplateOutlet]="targetAdviceSection" [ngTemplateOutletContext]="{ $implicit: entry }"></template>
							</span>
							<div class="move-container">
								<button
									title="Remove Target"
									class="clear-search target-remove-btn no-padding"
									(click)="openConfirmationModal(entry.uuid, 'target')"
									[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
								>
									&#10005;
								</button>
							</div>
						</div>
					</div>
					<button
						class="metadata-collapsible-container-group-header target-btn dotted-target-border target-hover-background mt-10"
						(click)="addEmptyTargetToGroup(g + 1)"
						title="Add Target"
						[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<div
							[ngClass]="{
								'link-icon': mapsetInfo.workflowStatus === 'IN_EDIT',
								'unlink-icon': mapsetInfo.workflowStatus !== 'IN_EDIT',
							}"
						>
							<i class="fa-solid fa-circle-plus mr-5"></i> <span>Add a New Target</span>
						</div>
					</button>
				</div>
			</div>
			<button
				class="metadata-collapsible-container-group-header target-btn dotted-target-border target-hover-background mt-10 ml-10 mr-10"
				(click)="addMapGroup()"
				title="Add Group"
				[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
			>
				<div
					[ngClass]="{
						'link-icon': mapsetInfo.workflowStatus === 'IN_EDIT',
						'unlink-icon': mapsetInfo.workflowStatus !== 'IN_EDIT',
					}"
				>
					<i class="fa-solid fa-circle-plus mr-5"></i> <span>Add a New Map Group</span>
				</div>
			</button>
		</div>
	</div>

	<div class="metadata-collapsible-container col-md-12 mb-10" #secondWindow>
		<div class="metadata-collapsible-container-group-header header-adjust pointer" (click)="toggleSectionView('showBrowserSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>ICD10 Terminology Browser</span>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showBrowserSection"
				alt="Collapse Button"
				title="Collapse ICD10 Terminology Browser"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showBrowserSection"
				alt="Expand Button"
				title="Expand ICD10 Terminology Browser"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>
		<div class="row d-flex dropdown-group" *ngIf="showBrowserSection && !loadError">
			<div class="col-md-auto mt2-directory-chooser-column m-l-20">
				<mat-menu #settingsMenu="matMenu" class="menu">
					<div class="heading">TABLE SETTINGS</div>
					<app-column-chooser *ngIf="showPaging" title="Select Columns to Display" [gridColumnApi]="browserApi" [useDialog]="false">
					</app-column-chooser
				></mat-menu>

				<div class="menu-inline">
					<button [matMenuTriggerFor]="settingsMenu" aria-label="Settings" title="Settings" class="mapset-download-icon menu-button">
						<mat-icon class="menu-icon">settings</mat-icon>
						<span class="menu-label">Settings</span>
					</button>
				</div>
			</div>
			<div class="col-md-auto mt2-directory-chooser-column">
				<mat-menu #browserSearchMenu="matMenu" class="search-box">
					<div class="dropdown directoryInput" (click)="$event.stopPropagation()">
						<div class="d-flex align-items-center">
							<mat-form-field floatLabel="never" id="browserSearchInputField" title="Enter Search Criteria">
								<mat-label *ngIf="searchBrowserInput === ''" class="search-label"
									>Search by Source PT (enter at least 3 characters)</mat-label
								>
								<input
									matInput
									#browserSearchInput
									id="browserSearchInput"
									[(ngModel)]="searchBrowserInput"
									(keydown.enter)="onBrowserSearchChange()"
									(click)="$event.stopPropagation()"
								/>
							</mat-form-field>
							<span
								class="clear-search"
								*ngIf="searchBrowserInput.length > 0"
								title="Clear Search"
								(click)="$event.stopPropagation(); clearBrowserSearch()"
							>
								&#10005;
							</span>
						</div>
						<div class="d-flex col-md-12">
							<div class="col-10"></div>
							<div class="col-2">
								<button
									type="button"
									title="Search"
									class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
									(click)="onBrowserSearchChange()"
									[disabled]="searchBrowserInput.length < 3"
									(ngClass)="({ disabled: searchBrowserInput.length < 3 })"
								>
									Search
								</button>
							</div>
						</div>
					</div></mat-menu
				>
				<div class="menu-inline">
					<button
						#searchMenuTrigger="matMenuTrigger"
						[matMenuTriggerFor]="browserSearchMenu"
						(menuOpened)="menuBrowserOpened()"
						[matBadgeHidden]="searchBrowserInput === ''"
						matBadgeSize="small"
						[matBadge]="'.'"
						aria-label="Search"
						title="Search"
						class="mapset-download-icon menu-button"
					>
						<mat-icon class="menu-icon">search</mat-icon>
						<span class="menu-label">Search</span>
					</button>
				</div>
			</div>
		</div>
		<div class="metadata-section-background" [hidden]="!showBrowserSection">
			<div id="browserHeader" class="directory-header ag-theme-alpine" [hidden]="!showBrowserSection"></div>
			<div id="config-background" [hidden]="!showBrowserSection || !browserLoaded || loadError" class="section-background config-section">
				<as-split direction="horizontal" gutterSize="4" class="browser-split">
					<as-split-area [lockSize]="true" [resizable]="false" [size]="conceptDetail ? 50 : 100">
						<div #browserWrapper class="grid-wrapper browser-scrolling" [hidden]="numOfMembers === 0">
							<ag-grid-angular
								*ngIf="showTable"
								[columnDefs]="browserColumnDefs"
								style="width: 100%; height: 100%"
								(gridReady)="onBrowserReady($event)"
								[gridOptions]="browserOptions"
								class="ag-theme-alpine mt2-ag-grid mt2-ag-grid-no-filter"
							>
							</ag-grid-angular>
						</div>

						<div id="directoryPaging" class="directory-paging ag-theme-alpine" [hidden]="true"></div>
						<div class="mt2-pagination-container" [hidden]="!browserLoaded || !loadError" *ngIf="showBrowserSection">
							<div class="mt2-pagination-top-row" *ngIf="showPaging">
								<div *ngIf="paginationPages.totalPages > 1" class="mt2-pagination-buttons no-wrap">
									<button
										#paginationFirstPage
										mat-raised-button
										(click)="goToPage(0)"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === 0 }"
										title="Go To First Page"
										attr.aria-label="Go To First Page"
									>
										<mat-icon aria-hidden="false">first_page</mat-icon>
									</button>

									<button
										#paginationPreviousPage
										mat-raised-button
										(click)="goToPage(getCurrentPage() - 1)"
										title="Go To Previous Page {{ getCurrentPage() }}"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === 0 }"
										attr.aria-label="Go To Previous Page {{ getCurrentPage() }}"
									>
										<mat-icon aria-hidden="false">arrow_left</mat-icon>
									</button>

									<span *ngFor="let page of paginationPages.pages">
										<button
											#paginationPageNumber
											mat-raised-button
											class="pagination-page-buttons"
											[color]="getCurrentPage() + 1 === page ? 'primary' : ''"
											(click)="goToPage(page - 1)"
											attr.aria-label="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
											title="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
										>
											{{ page }}
										</button>
									</span>

									<button
										mat-button
										*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
										(click)="goToPage(paginationPages.startPage + 4)"
										class="pagination-page-buttons w-min-32 p-0"
										title="Go To Page {{ paginationPages.startPage + 5 }}"
										attr.aria-label="Go To Page {{ paginationPages.startPage + 5 }}"
										title="Go To Page {{ paginationPages.startPage + 5 }}"
									>
										...
									</button>

									<button
										mat-raised-button
										*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
										(click)="goToPage(paginationPages.totalPages)"
										class="pagination-page-buttons"
										attr.aria-label="Go To Page {{ paginationPages.totalPages }}"
										title="Go To Page {{ paginationPages.totalPages }}"
									>
										{{ paginationPages.totalPages }}
									</button>

									<button
										#paginationNextPage
										mat-raised-button
										(click)="goToPage(getCurrentPage() + 1)"
										title="Go To Next Page {{ getCurrentPage() + 2 }}"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages }"
										attr.aria-label="Go To Next Page {{ getCurrentPage() + 2 }}"
									>
										<mat-icon aria-hidden="false">arrow_right</mat-icon>
									</button>

									<button
										#paginationLastPage
										mat-raised-button
										(click)="goToPage(paginationPages.totalPages)"
										title="Go To Last Page ({{ paginationPages.totalPages }})"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages }"
										attr.aria-label="Go To Last Page {{ paginationPages.totalPages }}"
									>
										<mat-icon aria-hidden="false">last_page</mat-icon>
									</button>
								</div>

								<div class="mt2-pagination-bottom-row" *ngIf="showPaging">
									<span *ngFor="let sizeOption of browserPaging.pageSizeOptions">
										<button
											mat-raised-button
											[color]="browserPaging.pageSize === sizeOption ? 'secondary' : ''"
											class="pagination-page-buttons unthemed"
											(click)="setPageSize(sizeOption)"
											[hidden]="sizeOption > numOfMembers"
											title="{{ sizeOption }} Members per Page"
										>
											{{ sizeOption }}
										</button>
									</span>
								</div>
							</div>
							<div class="mt2-pagination-total-label directory-new-paging ag-theme-alpine" [hidden]="!showPaging">
								Showing
								<span class="fw-bold p-l-5 p-r-5">
									{{ (getCurrentPage() + 1) * browserPaging.pageSize - browserPaging.pageSize + 1 }}
								</span>
								to
								<span class="fw-bold p-l-5 p-r-5">
									{{
										numOfMembers < (getCurrentPage() + 1) * browserPaging.pageSize
											? numOfMembers
											: (getCurrentPage() + 1) * browserPaging.pageSize
									}}
								</span>
								of <span class="fw-bold p-l-5 p-r-5"> {{ numOfMembers }} </span> results
							</div>
							<div class="mt2-pagination-total-label directory-new-paging ag-theme-alpine text-center" [hidden]="showPaging">
								No results to show
							</div>
						</div>
					</as-split-area>
					<as-split-area
						*ngIf="conceptDetail"
						[lockSize]="true"
						[resizable]="false"
						[size]="conceptDetail ? 50 : 0"
						class="concept-detail-area"
					>
						<div class="concept-detail-body">
							<div class="row align-items-center no-gutters m-b-20">
								<div class="col col-header-font">Concept Details</div>
								<div class="col-md-auto">
									<div class="text-right close-button mt2-concept-details-close-btn">
										<button
											type="button"
											class="close dialog-close-x-dark"
											(click)="closeConceptDetails()"
											aria-hidden="false"
											aria-label="Close Concept Details"
											title="Close Concept Details"
										>
											<span aria-hidden="true" class="close-icon-font">&times;</span>
										</button>
									</div>
								</div>
							</div>

							<!-- Parents Section -->
							<div class="mt2-concept-details-taxonomy-section">
								<div class="d-flex">
									<div class="mt2-concept-details-section-title p-l-10">
										Parents
										<span [hidden]="!currentConcept?.parentRefs.length">{{ '(' + currentConcept?.parentRefs.length + ')' }}</span>
									</div>
								</div>

								<div class="d-flex p-20" *ngIf="currentConcept?.parentRefs.length === 0">
									<div class="mt2-concept-details-no-relationships p-l-20">No Parents</div>
								</div>
								<div class="p-20" *ngIf="currentConcept?.parentRefs.length > 0" class="overflow details-scrolling">
									<div *ngFor="let parent of currentConcept?.parentRefs" class="concept-details-refs m-l-15 d-flex">
										<span *ngIf="parent.leaf || parent.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
											</svg>
										</span>
										<span *ngIf="!parent.leaf && !parent.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M240-440v-80h480v80H240Z" />
											</svg>
										</span>
										<span class="pointer" (click)="loadConceptDetail(parent.code)">
											<span class="blue-link p-r-5" title="{{ parent.code }}" aria-label="{{ parent.code }}">{{
												parent.code
											}}</span>
											<span title="{{ parent.name }}" aria-label="{{ parent.name }}">{{ parent.name }}</span>
										</span>
									</div>
								</div>
							</div>

							<!-- Details Section -->
							<div class="container-fluid mt2-concept-details-concept-section">
								<div class="row no-margin">
									<div class="col mt2-concept-details-concept-info-column default-font p-t-20">
										<div>
											<div class="row mt2-concept-details-concept-row m-l-40">
												<div
													class="col-md-9 mt2-concept-details-concept-id-label m-b-20"
													title="{{ currentConcept?.name }}"
													aria-label="{{ currentConcept?.name }}"
												>
													{{ currentConcept?.name }}
												</div>
												<div class="col-md-3">
													<button
														type="button"
														title="Set as Target"
														class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
														(click)="setTarget(currentConcept)"
														[disabled]="selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT'"
														(ngClass)="
															({ disabled: selectedTarget.id === '' || mapsetInfo.workflowStatus !== 'IN_EDIT' })
														"
													>
														Set as Target
													</button>
												</div>

												<div
													class="col-md-12 mt2-concept-details-concept-id-text fw-bold m-b-20"
													title="{{ currentConcept?.code }}"
													aria-label="{{ currentConcept?.code }}"
												>
													{{ currentConcept?.code }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Children Section -->
							<div class="mt2-concept-details-taxonomy-section">
								<div class="d-flex">
									<div class="mt2-concept-details-section-title p-l-10">
										Children
										<span [hidden]="!currentConcept?.childRefs.length">{{ '(' + currentConcept?.childRefs.length + ')' }}</span>
									</div>
								</div>
								<div class="d-flex p-20" *ngIf="currentConcept?.childRefs.length === 0">
									<div class="mt2-concept-details-no-relationships p-l-20">No Children</div>
								</div>
								<div class="p-10 overflow details-scrolling" *ngIf="currentConcept?.childRefs.length > 0">
									<div *ngFor="let child of currentConcept?.childRefs" class="concept-details-refs m-l-20 d-flex">
										<span *ngIf="child.leaf || child.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
											</svg>
										</span>
										<span *ngIf="!child.leaf && !child.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M240-440v-80h480v80H240Z" />
											</svg>
										</span>
										<span class="pointer" (click)="loadConceptDetail(child.code)">
											<span class="blue-link p-r-5" title="{{ child.code }}" aria-label="{{ child.code }}">{{
												child.code
											}}</span>
											<span title="{{ child.name }}" aria-label="{{ child.name }}">{{ child.name }}</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</as-split-area>
				</as-split>
			</div>
		</div>
	</div>
</div>

<!--Type Ahead Result Template-->
<ng-template #rt let-r="result" let-t="term">
	<div class="type-head-overflow" title="{{ r.code + ': ' + r.name }}">
		<ngb-highlight [result]="r.code + ': ' + r.name" [term]="t"></ngb-highlight>
	</div>
</ng-template>

<!-- Action Templates -->
<ng-template #directoryActionSection let-params>
	<div class="d-flex">
		<div class="col">
			<button class="library-app-refset-notes mr-20 no-padding" (click)="selectActionMenu('view')">
				<img src="/assets/preview-icon.svg" title="View Maps" aria-label="View Maps" class="mapset-notes-icon mapset-view-icon" />
			</button>
		</div>

		<div class="col">
			<notes-modal [libraryOnly]="false" [mapSetId]="mapsetInfo.id" [conceptCode]="mapsetData[0].code"></notes-modal>
		</div>

		<div class="col">
			<button class="library-app-refset-discussion-list mr-15 no-padding" (click)="selectActionMenu('comm')">
				<img
					src="/assets/comment-dots-regular.svg"
					title="View or Add Authoring Communication"
					aria-label="View or Add Authoring Communication"
					class="discussion-icon"
				/>
			</button>
		</div>

		<div class="col">
			<!-- <ng-container>
				<span *ngFor="let review of reviewWF"
					><button
						*ngIf="mappingStatus.next === review.value"
						class="library-app-refset-discussion-list mr-20 no-padding"
						(click)="reviewWorkflow(review.value)"
					>
						<img
							src="/assets/rate-review.svg"
							title="{{ review.label }}"
							aria-label="{{ review.label }}"
							class="rate-review-icon"
						/></button
				></span>
			</ng-container> -->
			<!-- <ng-container *ngIf="mapsetInfo.workflowStatus === 'IN_EDIT'">
				<span *ngFor="let action of workFlowMapActions">
					<button class="library-app-refset-discussion-list mr-20 no-padding" (click)="reviewMapWorkflow(action.value)">
						<span> {{ action.label }}</span>
						<img
							src="/assets/rate-review.svg"
							title="{{ action.label }}"
							aria-label="{{ action.label }}"
							class="rate-review-icon"
						/></button
				></span>
			</ng-container> -->
			<!-- <div class="menu-inline"> -->
			<button [matMenuTriggerFor]="actionMenu" aria-label="Actions" title="Actions" class="library-app-refset-discussion-list mr-20 no-padding">
				<img src="/assets/rate-review.svg" class="rate-review-icon" />
			</button>
			<!-- </div> -->
			<mat-menu #actionMenu="matMenu">
				<ng-container *ngIf="mapsetInfo.workflowStatus === 'IN_EDIT'">
					<span *ngFor="let action of workFlowMapActions">
						<button type="button" [title]="action.label" mat-menu-item (click)="reviewMapWorkflow(action.value)">
							<span> {{ action.label }}</span>
						</button></span
					>
				</ng-container>
			</mat-menu>
		</div>
	</div>
</ng-template>

<!--Group Popover-->
<ng-template #targetGroupSection let-entry>
	<div
		class="group-popover"
		id="{{ 'group-popover_' + entry.uuid }}"
		[ngStyle]="{ top: advicePopoverLocation + 'px' }"
		[ngClass]="entry?.group_open ? 'show' : 'hide'"
	>
		<div class="popup-handle-left popup-handle-top"></div>
		<img
			src="assets/grey-close-icon.svg"
			(click)="closeGroup()"
			width="12px"
			height="12px"
			title="Close"
			aria-label="Close"
			class="grey-close-icon"
			alt="Close"
		/>
		<div class="col mappings-section m-l-20">
			<div class="m-t-20 m-b-10">
				<div>
					<label class="m-r-10">Group</label>
					<mat-form-field floatLabel="never" id="groupInputField" title="Enter Group" class="adjust-mat-input-sm">
						<input
							type="number"
							matInput
							#groupInput
							placeholder="Enter Group"
							(keydown)="numberOnly($event)"
							id="groupCodeInput"
							[formControl]="groupFC"
							class="target-input"
						/>
					</mat-form-field>
					<span class="clear-search" title="Clear Group" (click)="clearGroupInput()">&#10005;</span>
				</div>
			</div>
		</div>
		<div class="modal-footer mt-10 mt2-lockable mt2-btn-group">
			<button
				type="button"
				title="Save"
				class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
				(click)="setGroup(entry.uuid)"
				[disabled]="!groupFC.value || groupFC.value === '0' || mapsetInfo.workflowStatus !== 'IN_EDIT'"
			>
				Save
			</button>
		</div>
	</div>
	<span
		class="p-l-5 p-r-5"
		(click)="openGroupPopover($event, entry.uuid)"
		[ngClass]="{
			'code-icon': mapsetInfo.workflowStatus === 'IN_EDIT',
			'unlink-icon': mapsetInfo.workflowStatus !== 'IN_EDIT',
		}"
		>{{ entry.group || '1' }}/{{ entry.priority }}</span
	></ng-template
>

<!-- Advice Templates -->
<ng-template #targetAdviceSection let-entry>
	<div
		class="advice-popover"
		id="{{ 'advice-popover_' + entry.uuid }}"
		[ngStyle]="{ top: advicePopoverLocation + 'px' }"
		[ngClass]="entry?.advices_open ? 'show' : 'hide'"
	>
		<div class="popup-handle popup-handle-top"></div>
		<img
			src="assets/grey-close-icon.svg"
			(click)="closePopover()"
			width="12px"
			height="12px"
			title="Close"
			aria-label="Close"
			class="grey-close-icon"
			alt="Close"
		/>
		<ul>
			<li *ngFor="let advice of entry.updateAdviceList" class="advice-list-item" [hidden]="advice.indexOf('ALWAYS') > -1">
				<span title="{{ advice }}" class="code-color">{{ advice }}</span
				><span title="Remove Advice" class="clear-search adjust-clear" (click)="removeAdviceFromList(entry.uuid, advice)">&#10005;</span>
			</li>
		</ul>
		<div class="target-selection advice-selection" [hidden]="entry.addAdviceList?.length === 0">
			<mat-form-field appearance="fill" floatLabel="never" class="advice-selection-box">
				<mat-select
					#selectAdvice
					title="Select advice to add"
					placeholder="Select advice to add"
					[(value)]="entry.adviceToAdd"
					(selectionChange)="addAdviceToList(entry.uuid)"
				>
					<mat-option *ngFor="let advice of entry.addAdviceList" value="{{ advice }}" title="{{ advice }}" class="no-checkbox border-bottom"
						><span class="advice-item">
							<i class="fa-solid fa-star-of-life advice-icon-sm"></i>
							<div class="line-clamp-2">{{ advice }}</div></span
						></mat-option
					>
				</mat-select>
			</mat-form-field>
		</div>
		<span class="mappings-section m-l-20" *ngIf="entry.addAdviceList?.length === 0">No advice to add.</span>
		<div class="modal-footer mt-10 mt2-lockable mt2-btn-group">
			<button type="button" title="Save" class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn" (click)="setAdvice(entry.uuid)">
				Save
			</button>
		</div>
	</div>
	<div id="{{ 'popover_' + entry.uuid }}">
		<ul [hidden]="entry.mapAdvices.length === 0">
			<li *ngFor="let advice of entry.mapAdvices; index as i" class="advice-line no-list">
				<i class="fa-solid fa-star-of-life advice-icon-sm"></i><span class="advice-name-wrap" title="{{ advice }}">{{ advice }}</span>
			</li>
			<li class="advice-line" [hidden]="mapAdvices.length === 0 || mapsetInfo.workflowStatus !== 'IN_EDIT'">
				<span class="code-link" (click)="openPopover($event, entry.uuid)" title="Add/Edit Advice">Add/Edit Advice</span>
			</li>
		</ul>
		<span
			class="code-link p-l-10"
			(click)="openPopover($event, entry.uuid)"
			title="Add an Advice"
			[hidden]="entry.mapAdvices.length !== 0 || mapAdvices.length === 0 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
			>+ Add Advice</span
		>
	</div>
</ng-template>

<ng-template #toBeDevelopedModal let-modal>
	<div class="modal-header mt2-modal-header">
		<div class="modal-title">Coming Soon</div>
		<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeToBeDevelopedModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>This feature is not yet available. Please check back later.</p>
	</div>
	<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
		<button type="button" title="Close" class="mt2-btn mt2-action-btn" (click)="closeToBeDevelopedModal()">Close</button>
	</div>
</ng-template>

<ng-template #confirmationModal let-modal>
	<div class="modal-header mt2-modal-header">
		<div class="modal-title">Confirm Remove</div>
		<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeConfirmDialog()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to remove this {{ removeType }}?</p>
	</div>
	<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
		<button type="button" title="Cancel" class="mt2-btn mt2-action-btn" (click)="closeConfirmDialog()">Cancel</button>
		<button type="button" title="Confirm" class="mt2-btn mt2-action-btn" (click)="confirmRemoveItem()">Confirm</button>
	</div>
</ng-template>

<workflow-map-modal
	(updateWorkFlowMapStatus)="updateWorkFlowMapStatus($event)"
	(closeWorkflowMapModal)="closeWorkflowMapModal()"
	[workFlowMapStatus]="workFlowMapStatus"
	[mapsetInfo]="mapsetInfo"
	[isWFMapModalOpen]="isWFMapModalOpen"
	[conceptCode]="conceptCode"
></workflow-map-modal>
