<button mat-menu-item alt="Document symbol denoting an upload icon" title="Import List of SctIds" aria-label="Import list"
  (click)="openImportFromListModal(importFromListDialog)">Add/Remove by List</button>

<ng-template #importFromListDialog let-modal>

    <div class="modal-header rt2-modal-header">

        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            Add or Remove Members By List
        </h4>

        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>

    <div class="modal-body refset-tool-lockable">

        <div class="container-fluid import-from-container-fluid">
            <div class="modal-body import-from-modal-body">

                <div class="import-from-label"> Enter a list of SctIds. Use a comma or whitespace delimited Concept Ids.</div>

                <mat-form-field class="import-from-list-field" appearance="outline">
                    <textarea matInput class="import-from-list-text-area" [(ngModel)]="listOfIds">test</textarea>
                </mat-form-field>

            </div>
        </div>

    </div>

    <div class="modal-footer rt2-modal-footer refset-tool-lockable">

        <button type="button" (click)="callMemberOperation('add')" mat-raised-button color="green" aria-hidden="false" class="refset-tool-action-button"
          aria-label="Add Members" title="Add Members" ng-reflect-color="green">
            Add Members
        </button>

        <button *ngIf="!isIntensional" type="button" (click)="callMemberOperation('remove')" mat-raised-button color="red" aria-hidden="false"
          class="refset-tool-action-button import-from-remove-members-button" aria-label="Remove Members" title="Remove Members" ng-reflect-color="red">
            Remove Members
        </button>

    </div>

</ng-template>