<!-- <button (click)="openImportFromFileModal(importFromFileDialog)" class="refset-tool-standard-icon-button">
    <img src="assets/import-file-upload-icon.svg" alt="Document symbol denoting an upload icon" title="Import File" aria-label="Import file" />
</button> -->

<button mat-menu-item (click)="openImportFromFileModal(importFromFileDialog)" alt="Document symbol denoting an upload icon" title="Import File" aria-label="Import file">Import
    from File</button>

<ng-template #importFromFileDialog let-modal>

    <div class="modal-header rt2-modal-header">
        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            Add or Remove Members From File
        </h4>

        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>

    <div class="container-fluid import-from-container-fluid">
        <div class="modal-body import-from-modal-body refset-tool-lockable">

            <div class="container-file-import" dragAndDrop (fileDropped)="onFileDropped($event)">
                <input type="file" #fileDropRef id="fileDropRef" multiple (click)="$event.target.value = null" (change)="fileBrowseHandler($event.target.files)" />
                <img src="assets/import-file-upload-icon2.svg" alt="Document symbol denoting an upload icon" title="Import File" aria-label="Import file" />

                <h3>Drag and drop file here</h3>
                <h3>or</h3>

                <label for="fileDropRef" class="import-from-file-drop-down-label">Browse for file</label>
                <div class="allowed-file-types">*Allowed file types: .rf2, .txt</div>
            </div>

            <div class="files-list-file-import">

                <div class="single-file" *ngFor="let file of files; let i = index">

                    <div class="file-icon">
                        <img src="assets/doc-upload-icon.svg" alt="Document symbol denoting an uploaded file" />
                    </div>

                    <div class="info">
                        <h4 class="name">{{ file?.name }}</h4>
                        <p class="size">{{ formatBytes(file?.size) }}</p>
                        <app-progress [progress]="file?.progress"></app-progress>
                    </div>

                    <div class="delete" (click)="deleteFile(i)">
                        <img src="assets/doc-delete-icon.svg" alt="Document symbol denoting a trash can to delete files" title="Remove File" aria-label="Delete file" />
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer rt2-modal-footer refset-tool-lockable">

        <button *ngIf="!showBanner" [disabled]="disableActionButtons" type="button" (click)="callMemberOperation('add')" mat-raised-button color="green" aria-hidden="false"
          class="refset-tool-action-button" aria-label="Add Members" title="Add Members" ng-reflect-color="green">
            Add Members
        </button>

        <button *ngIf="!showBanner && !isIntensional" [disabled]="disableActionButtons" type="button" (click)="callMemberOperation('remove')" mat-raised-button color="red"
          aria-hidden="false" class="refset-tool-action-button" aria-label="Remove Members" ng-reflect-color="red" style="margin-left: 15px">
            Remove Members
        </button>

    </div>

</ng-template>