<div class="ag-theme-alpine">
  <ag-grid-angular [columnDefs]="columnDefs" [gridOptions]="refsetGridOptions" [rowData]="data" style="width: 100%">
  </ag-grid-angular>

  <!-- Name Templates -->
  <ng-template #topicNameSection let-params>
    {{ params?.value }}
    <ng-container (click)="onTopicClick(params.data)">
      <i class="ml-3 text-muted fa fa-lock" *ngIf="params.data.locked"></i>
    </ng-container>
  </ng-template>
</div>


<ng-template #topicModal let-modal>
  <div class="modal-header review-modal-header">
    <h4 class="modal-title">Refset Feedback Discussion: {{topic}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid ready-for-review-container-fluid">
    <div class="modal-body">
      <div class="dashboard-section p-3">
        <div class="topic-header">
          <img src="assets/sampels/profile/1.svg" class="author-pic" />
          <div class="topic-author">
            <div>Steph Whalen</div>
            <div class="topic-time">2022-03-11 05:31:29</div>
          </div>
          <div class="topic-action">
            <button mat-button [matMenuTriggerFor]="topicMenu"class="manage-refset-menu">
              <i class="fa fa-ellipsis-v text-main fa-2x"></i>
            </button>
            <span class="menu-spacer">&nbsp;</span>
            <mat-menu #topicMenu="matMenu">
              <button mat-menu-item >Edit</button>
              <button mat-menu-item >Delete</button>
              <button mat-menu-item >Mark Private</button>
              <button mat-menu-item >Resolve Discussion</button>
            </mat-menu>
          </div>
        </div>
        <div class="topic-content">
          <div class="topic-title">Consider adding long covid symptoms to this refset</div>
          <div>
            Original entry goes here. To provide context to the user, it will be slightly larger text and remain sticky. I would suggest showing the first 2-3 lines of each message by default and giving the user the option to expand or collapse the message with a text link that says 
            <a class="btn btn-link text-main show-more">show more/less</a>
          </div>
        </div>
        <div class="discussion-list">
          <div class='section-list'>
            <div class="topic-header">
              <img src="assets/sampels/profile/2.svg" class="author-pic" />
              <div class="topic-author">
                <div>Jesse Efron</div>
                <div class="topic-time">2022-03-12  02:38:19</div>
              </div>
              <div class="topic-action">
                <button mat-button [matMenuTriggerFor]="disctionMenu"class="manage-refset-menu">
                  <i class="fa fa-ellipsis-v text-main fa-lg"></i>
                </button>
                <span class="menu-spacer">&nbsp;</span>
                <mat-menu #disctionMenu="matMenu">
                  <button mat-menu-item >Hide Reply</button>
                  <button mat-menu-item >Mark Private</button>
                </mat-menu>
              </div>
            </div>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. 
            </div>
          </div>
          <div class='section-list'><a>WestCoastInformatics/WCI Test MANAGED-SERVICE Project</a> <i class='fa fa-lock ml-2 text-muted'></i></div>
          <div class='section-list'><a>IHTSDO/Some Other Project</a> <i class='fa fa-lock ml-2 text-muted'></i></div>
          <div class='section-list'><a>IHTSDO/A project you simply can’t miss</a></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #newTopicModal let-modal>
  <div class="modal-header review-modal-header">
    <h4 class="modal-title">New Refset Feedback Discussion: {{refset.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="container-fluid ready-for-review-container-fluid">
    <div class="modal-body pr-0 pl-0 pb-0">
      
    </div>
  </div>
</ng-template>