.launch-comparison-dialog > .modal-dialog {
	max-width: 1000px;
}

.show-comparison-dialog > .modal-dialog {
	width: 1240px;
	max-width: 1380px;

	.children-section {
		height: 525px;
	}
}

.comparisonGridSection .rt2-concept-details-taxonomy-section .row {
	margin-left: 3px;
	margin-right: 3px;
}

.rt2-dialog-container {
	display: flex;
	max-height: calc(100vh - 55px - 52px - (1.75rem * 2) - 2px); // 100% height - header - footer - margin
	overflow: auto;
	border-radius: 3px;

	.dialog-form {
		align-items: baseline;
		display: flex;
		align-items: normal;

		.dialog-form-field-row {
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;

			&.top-aligned {
				align-items: normal;
			}

			&.boxed-row {
				border: 1px solid;
				padding-top: 10px;
			}
		}
	}

	.col.dialog-form-field {
		width: 100%;
		max-width: 100%;
		flex: 1;

		mat-form-field {
			width: 100%;
		}

		mat-chip {
			transform: scale(0.8);
			margin-right: 5px;
			margin-bottom: 5px;
			border-radius: 8px;
			background: white;
		}

		.refset_tool_ecl_definition_field {
			width: calc(100% - 120px);
			margin-right: 5px;
		}
	}

	.col.dialog-form-label {
		width: 200px;
		max-width: 200px;
		flex: 1;

		label.raised {
			margin-bottom: 0.7rem;
		}
	}

	.dialog-form-radio-option-padding {
		padding-right: 30px;
	}
}

.compare-sumary-table td {
	vertical-align: middle;
}

.unset-gutter-height .as-split-gutter {
	height: unset !important;
}
