<button class="btn btn-primary btn-wide-font  float-right" mat-raised-button (click)="openAddMemberModal(addMemberModal)">Add Member</button>

<ng-template #addMemberModal let-modal>

    <div class="modal-header rt2-modal-header">
        <button ngbAutofocus class="unfocus-btn" ></button>
        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            Add a Member to the "{{ name }}" {{ type }}
        </h4>

        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>

    <div class="modal-body refset-tool-lockable">

        <table>

            <tr>
                <td>
                    <mat-form-field appearance="fill" class="email-input-field">
                        <mat-label>Enter the email of the user to add:</mat-label>
                        <input matInput (keydown.tab)="onKeyDownEvent($event)" placeholder="user-email@orgname.org" [(ngModel)]="email" />
                    </mat-form-field>
                </td>
            </tr>

            <tr class="modal-error-message" [hidden]="!emailError">
                <div>{{emailError}}</div>
            </tr>

        </table>

    </div>

    <div class="modal-footer rt2-modal-footer refset-tool-lockable">
        <button [disabled]="email === ''  || !isValidEmail()" (click)="addMember()" mat-raised-button class="refset-tool-action-button mat-green">
            Add Member
        </button>
    </div>

</ng-template>
