<button mat-menu-item (click)="openModal(formDialog)" title="Invite to Participate" aria-label="Invite to Participate"
    *ngIf="canInvite">
    Invite to Participate</button>

<ng-template #formDialog let-modal>
    <div class="modal-header rt2-modal-header">
        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            {{modalTitle}}
        </h4>
        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>
    <div class="container-fluid ready-for-review-container-fluid" [formGroup]="form" *ngIf="form">
        <div class="modal-body pr-0 pl-0 pb-0">
            <div class="topic-header mb-3">
                Send someone an email invitation to join your organization as a collaborator
            </div>
            <div class="topic-content mb-3">
                <mat-form-field appearance="fill" class="discussion-topic-field">
                    <mat-label>Recipient Email</mat-label>
                    <input matInput type="text" formControlName="recipient" ngbAutofocus
                           placeholder="Enter recipient email address" />
                    <mat-error>
                        <ngx-form-error [control]="form.get('recipient')"></ngx-form-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="topic-content mb-3">
                <mat-form-field appearance="fill" class="discussion-topic-field">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="additionalMessage"
                              placeholder="Add an optional message for your invitation recipient" ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer rt2-modal-footer">
        <button mat-raised-button aria-hidden="false" class="refset-tool-action-button refset-action-button default-btn mr-3" (click)="modal.dismiss('Cross click');">
            Cancel
        </button>
        <button mat-raised-button color="primary" aria-hidden="false" [disabled]="!form.valid" class="refset-tool-action-button refset-action-button" (click)="onSave()">
            Send Email
        </button>
    </div>
</ng-template>
