<div class="ag-theme-alpine pr-1 pl-1 modal-section">
	<ag-grid-angular [columnDefs]="columnDefs" [gridOptions]="gridOptions" class="ag-theme-alpine rt2-ag-grid rt2-ag-grid-filter w-100 h-350"> </ag-grid-angular>
	<app-pagination
		#pagination
		[pageSize]="gridPaging.pageSize"
		*ngIf="showPaging"
		[gridOptions]="gridOptions"
		[pageSizeOptions]="gridPaging.pageSizeOptions"
		[totalKnown]="gridPaging.totalKnown"
		[manualStateRefresh]="gridPaging.manualStateRefresh">
	</app-pagination>

	<ng-template #detailsSection let-params>
		<label class="ellipsed-label" [ngbPopover]="params?.data.details" container="body" placement="top" popoverTitle="Details">
			{{ params?.data.details }}
		</label>
	</ng-template>
</div>
