<app-navbar></app-navbar>
<main class="container p-5">

    <mat-accordion>
        <mat-expansion-panel expanded>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    This is an example of an accordion and ag-grid table.
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ag-grid-angular #agGridConceptsTable style="height: 500px;" class="ag-theme-alpine"
                [columnDefs]="columnDefs" [gridOptions] ="conceptGridOptions">
            </ag-grid-angular>

            <mat-paginator *ngIf=false #paginator showFirstLastButtons
                [length]="conceptGridPaging.length"
                [pageIndex]="conceptGridPaging.pageIndex"
                [pageSize]="conceptGridPaging.pageSize"
                [pageSizeOptions]="conceptGridPaging.pageSizeOptions"
                (page)="onConceptGridPageChange($event)"
            ></mat-paginator>

        </mat-expansion-panel>
    </mat-accordion>

    <ng-template #agFeedbackSection let-params>
        <span (click)="openFeedback(params.data.conceptId)">
            <mat-icon aria-hidden="false" aria-label="edit" style="top: 7px; position: relative;">create</mat-icon>
            {{params.value}}
        </span>
    </ng-template>

    <ng-template #conceptFeedbackDialog let-data>
        <mat-form-field>
            <mat-label>Feedback</mat-label>
            <input matInput [(ngModel)]="data.feedback">
        </mat-form-field>
    </ng-template>

    <br>
    <br>

    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    This is an example of an accordion and Angular Material table.
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
                <button mat-flat-button color="warn" (click)="resetFilters()">Reset Filters</button><br>
            </div>

            <table mat-table [dataSource]="conceptMaterialDatasource" matSort class="mat-elevation-z8">

                <ng-container *ngFor="let column of columnDefs">
                    <ng-container matColumnDef="{{column.field}}">

                        <th mat-header-cell *matHeaderCellDef > 
                            <span [mat-sort-header]="sortable ? true : null">{{column.headerName}}</span>
                             
                            <div>
                                <mat-form-field>
                                    <mat-label>Filter {{column.headerName}}</mat-label>
                                    <input matInput name="{{column.columnProp}}" [(ngModel)]="column.modelValue"
                                        (change)="filterChange(column, $event)">
                                </mat-form-field>
                            </div>
                        </th>

                        <td mat-cell *matCellDef="let data"> 

                            <ng-container 
                                [ngTemplateOutlet]="column.contentTemplate ? this[column.contentTemplate] : defaultContentSection" 
                                [ngTemplateOutletContext]="{ data: data, column: column }">
                            </ng-container>

                            <ng-template #defaultContentSection>{{data[column.field]}}</ng-template>
                        </td>

                    </ng-container>
                </ng-container>

                <ng-template #feedbackSection let-data="data" let-column="column">
                    <span (click)="openFeedback(data.conceptId)">
                        <mat-icon aria-hidden="false" aria-label="edit" style="top: 7px; position: relative;">create</mat-icon>
                        {{data[column.field]}}
                    </span>
                </ng-template>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>

        </mat-expansion-panel>
    </mat-accordion>

    <br>
    <br>

    <mat-accordion>
        <mat-expansion-panel expanded>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    This is an example of an accordion and Taxonomy Tree.
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-taxonomy-tree></app-taxonomy-tree>
        </mat-expansion-panel>
    </mat-accordion>

    <br>
    <br>

    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    This is an example of an accordion and grid layout.
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="row">
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-black">
                        <h3 class="mb-0 text-white">BLACK</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-white">
                        <h3 class="mb-0">WHITE</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-alto-white">
                        <h3 class="mb-0">ALTO WHITE</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-ghost-grey">
                        <h3 class="mb-0">GHOST GREY</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-grey">
                        <h3 class="mb-0">GREY</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-slate-grey">
                        <h3 class="mb-0">SLATE GREY</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-river-bed">
                        <h3 class="mb-0 text-white">RIVER BED</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-bootstrap-black">
                        <h3 class="mb-0 text-white">BOOTSTRAP BLACK</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-wisteria">
                        <h3 class="mb-0">WISTERIA</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-mandy">
                        <h3 class="mb-0">MANDY</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-sea-buckthorn">
                        <h3 class="mb-0">SEA BUCKTHORN</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-candlelight">
                        <h3 class="mb-0">CANDLELIGHT</h3>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-fruit-salad">
                        <h3 class="mb-0">FRUIT SALAD</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-anakiwa">
                        <h3 class="mb-0">ANAKIWA</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-cerulean">
                        <h3 class="mb-0">CERULEAN</h3>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="p-5 m-3 rounded-lg bg-blumine">
                        <h3 class="mb-0">BLUMINE</h3>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</main>
<app-footer></app-footer>