// Main Layout Styles
html, body {
    font-family: $standard_font_family;
    font-size: $standard_font_size;
    font-weight: $standard_font_weight;
    color: $standard_font_color;
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.5px;
}

label {
    margin-bottom: 0;
}

button, input, textarea {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    border: none;
    resize: none;

    &:focus, &:active {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }

    &.btn {
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 1.5px;
    }
}

.footer-margin {
    margin-bottom: 4rem;
}

table {
    width: 100%;
}
main{

    &.container{
        min-width: 100%;
    }
}

// Manual Flex Styles: not using these now, if don't want remove - START --->
.refset-tool-inline{
    display: inline;
}
.refset-tool-flex-column{
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
.refset-tool-flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
}
.refset-tool-padding{
    padding: 5px;
}
.refset-tool-margin-left{
    margin-left: 5px;
}
.refset-tool-margin-right{
    margin-right: 5px;
}
.refset-tool-margin-sides{
    margin: 0px 5px;
}
.refset-tool-margin-top{
    margin-top: 5px;
}
.refset-tool-margin-bottom{
    margin-bottom: 5px;
}
.refset-tool-margin-top-bottom{
    margin: 5px 0px;
}
.refset-tool-no-margins{
    margin: 0px;
}
.refset-tool-flex-no-wrap{
    flex-wrap: nowrap;
}
.refset-tool-flex-right{
    flex: 1 1 auto;
    text-align: right;
    justify-content: flex-end;
    display: flex;
}
// <--- END - not using these now, if don't want remove

// Material Dialog Override Styles
.mat-dialog-actions{
    justify-content: flex-end;
}
.mat-flat-button, .mat-raised-button{
    background-color: $standard_default_button_color;
}
.mat-flat-button.mat-primary, .mat-raised-button.mat-primary{
    background-color: $standard_primary_button_color;
}
.mat-icon-button{
    .mat-button-focus-overlay{
        //display: none;
    }
}

// General Page Styles
.refset-tool-page-title-section{
    @extend .refset-tool-flex-row;
}

// Action Button / Icon Styles
.refset-tool-table-icon, .refset-tool-table-action-icon, button.refset-tool-table-icon, button.refset-tool-table-action-icon{
    top: 7px; 
    position: relative;
    color: $cerulean;
    overflow: hidden;
    margin-top: auto;
    margin-bottom: auto;

    mat-icon{
        overflow: hidden;  
    }
}
.refset-tool-close-button{
    float: right;
    top:-24px;
    right:-24px;
    color: $delete_color
}
.refset-tool-add{
    color: $add_color
}
.refset-tool-delete{
    color: $delete_color
}

// AG Grid Styles
.refset-tool-ag-grid{
    height: 500px;
}
.ag-theme-alpine .ag-root-wrapper{
    border-color: #eeeeee;
}
.refset-tool-directory-column-name .mat-icon{
    color:#888;
    font-size: 14px;
    padding-top: 6px;
}
.ag-theme-alpine{
    font-family: $standard_font_family;

    // Data Rows
    .ag-row:hover { 
        background-color:#F0FCFF; //icy blue hover
    }
    .ag-row-selected { 
        background-color:#86cffc; //slightly darker selected
        color: #000000;
    }
    .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected){
        border-color: $cerulean;
    }

    // Table Header
    .ag-header-viewport{
        border-bottom: 1px solid #eeeeee;
    }
    .ag-header-cell-resize::after{
        background-color: #888888;
    }
    .ag-header-row:not(:first-child) .ag-header-cell{
        border-top-color: #eeeeee;
    }

    // Table Header Filter Input
    .ag-ltr input[class^='ag-'][type='text']{
        padding-left: 0;
        border: 0;
        border-bottom: 1px solid #aaa;
        background-color: transparent;
        border-radius: 0px;
    }
    .ag-ltr input[class^='ag-'][type='text']:focus {
        border-bottom: 1px solid $cerulean;
        box-shadow: none;
    }
}

// Directory Page Styles
#refsetDirectoryPage{
    padding: 0px;

    .refset-tool-directory-column-information{
        justify-content: center;
    }    

    .mat-raised-button{
        min-width: 36px !important;
        border-radius: 0px !important;
        padding: 0px !important;
    }
    
    .mat-raised-button.mat-primary {
        background-color: $cerulean !important; 
    }
}

// Refset Detail Styles
.refset-tool-definition-icon{
    
} 

// Pagination Styles
.refset-tool-pagination-container{
    padding: 30px;
    //display: flex;
    justify-content: center;

    .row {
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    button {
        margin: 0 5px;
    }
}


// 3-18-21 SW
.nav-title {
    font-family: $header_font_family;
}

.page-title {
    color: #9B9B9B;
    font-family: $header_font_family;
    font-size: 2em; //1.5em? 24px
}

.ag-theme-alpine .ag-header-row{
    color: #666;
    font-size: 16px;
    font-weight: 500;
}

.ag-theme-alpine .ag-header{
    border: 0px solid $ghost-grey;
}

.ag-theme-alpine .ag-icon {
    color: #666;
    font-size: 20px;
    line-height: 20px;
}


// Search & Refset Filter

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .88em 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-underline:hover{
    background-color: rgba(0, 0, 0, 0.42);
}

// ------------> look for references to this color and get rid of (theming)
// .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    //color: #2196f3;
//}

.mat-input-element {
    //color: pink !important;
    //caret-color: pink !important;
}




