<div class="refset-tool-pagination-container container-fluid">

    <div class="row">

        <button #paginationFirstPage mat-raised-button (click)="goToPage(1)" title="Go To First Page" attr.aria-label="Go To First Page">
            <mat-icon aria-hidden="false">first_page</mat-icon>
        </button>

        <button #paginationPreviousPage mat-raised-button (click)="goToPrevious()" title="Go To Previous Page" attr.aria-label="Go To Previous Page {{currentPage - 1}}">
            <mat-icon aria-hidden="false">arrow_left</mat-icon>
        </button>

        <span *ngFor="let page of paginationPages.pages">
            <button #paginationPageNumber mat-raised-button [color]="currentPage === page ? 'primary' : ''" (click)="goToPage(page)" attr.aria-label="Go To Page {{page}}">
                {{page}}
            </button>
        </span>

        <button mat-button *ngIf="(paginationPages.totalPages - paginationPages.startPage) > 5"
            (click)="goToPage(paginationPages.startPage + 5)" title="Go To Page {{paginationPages.startPage + 5}}" attr.aria-label="Go To Page {{paginationPages.startPage + 5}}">
            ...
        </button>

        <button mat-raised-button *ngIf="(paginationPages.totalPages - paginationPages.startPage) > 5"
            (click)="goToPage(paginationPages.totalPages)" attr.aria-label="Go To Page {{paginationPages.totalPages}}">
            {{paginationPages.totalPages}}
        </button>

        <button #paginationNextPage mat-raised-button (click)="goToNext()" title="Go To Next Page" attr.aria-label="Go To Next Page {{currentPage + 1}}">
            <mat-icon aria-hidden="false">arrow_right</mat-icon>
        </button>

        <button #paginationLastPage mat-raised-button (click)="goToPage(paginationPages.totalPages)" title="Go To Last Page ({{paginationPages.totalPages}})" attr.aria-label="Go To Last Page {{paginationPages.totalPages}}">
            <mat-icon aria-hidden="false">last_page</mat-icon>
        </button>

        <div class="refset-tool-pagination-total-label" *ngIf="showTotal">Total Pages: {{this.numberOfPages}}</div>

    </div>

    <div class="row">

        <span *ngFor="let sizeOption of pageSizeOptions">
            <button [hidden]="(numOfResults < sizeOption) || (numOfResults < 25)" mat-raised-button [color]="pageSize === sizeOption ? 'primary' : ''" (click)="setPageSize(sizeOption)">
                {{sizeOption}}
            </button>
        </span>

    </div>

</div>