<div class="refset-tool-pagination-container container-fluid">

    <div class="refset-tool-pagination-top-row">

        <div class="refset-tool-pagination-spacer">&nbsp;</div>

        <div class="refset-tool-pagination-buttons">

            <button #paginationFirstPage mat-raised-button (click)="goToPage(1)"
                class="pagination-page-buttons"
                title="Go To First Page" attr.aria-label="Go To First Page">
                <mat-icon aria-hidden="false">first_page</mat-icon>
            </button>

            <button #paginationPreviousPage mat-raised-button
                (click)="goToPrevious(currentPage - 1)" title="Go To Previous Page"
                class="pagination-page-buttons"
                attr.aria-label="Go To Previous Page {{currentPage - 1}}">
                <mat-icon aria-hidden="false">arrow_left</mat-icon>
            </button>

            <span *ngFor="let page of paginationPages.pages">
                <button #paginationPageNumber mat-raised-button class="pagination-page-buttons"
                    [color]="currentPage === page ? 'primary' : ''" (click)="goToPage(page)"
                    attr.aria-label="Go To Page {{page}}" title="Go To Page {{page}}">
                    {{page}}
                </button>
            </span>

            <button mat-button *ngIf="(paginationPages.totalPages - paginationPages.startPage) > 5"
                (click)="goToPage(paginationPages.startPage + 5)"
                class="pagination-page-buttons"
                title="Go To Page {{paginationPages.startPage + 5}}"
                attr.aria-label="Go To Page {{paginationPages.startPage + 5}}"
                title="Go To Page {{paginationPages.startPage + 5}}"
                style="min-width: 32px; padding: 0">
                ...
            </button>

            <button mat-raised-button
                *ngIf="(paginationPages.totalPages - paginationPages.startPage) > 5"
                (click)="goToPage(paginationPages.totalPages)"
                class="pagination-page-buttons"
                attr.aria-label="Go To Page {{paginationPages.totalPages}}"
                title="Go To Page {{paginationPages.totalPages}}">
                {{paginationPages.totalPages}}
            </button>

            <button #paginationNextPage mat-raised-button
                (click)="manualStateRefresh=true;goToNext(currentPage + 1)" title="Go To Next Page"
                class="pagination-page-buttons"
                attr.aria-label="Go To Next Page {{currentPage + 1}}">
                <mat-icon aria-hidden="false">arrow_right</mat-icon>
            </button>

            <button #paginationLastPage mat-raised-button
                (click)="goToPage(paginationPages.totalPages)"
                title="Go To Last Page ({{paginationPages.totalPages}})"
                class="pagination-page-buttons"
                attr.aria-label="Go To Last Page {{paginationPages.totalPages}}">
                <mat-icon aria-hidden="false">last_page</mat-icon>
            </button>

        </div>

        <div class="refset-tool-pagination-total-label ">
            <div *ngIf="showTotal && totalKnown && numOfResults > 0">
                Showing <span class="refset-tool-pagination-count">{{startRecord}}</span> to <span
                    class="refset-tool-pagination-count">{{endRecord}}</span>
                of <span class="refset-tool-pagination-count">{{this.numOfResults}}</span> results
            </div>
            <div *ngIf="numOfResults == 0">
                No Results to Show
            </div>
        </div>

    </div>

    <div class="refset-tool-pagination-bottom-row">

        <ng-container *ngIf="!showAll">
            <span *ngFor="let sizeOption of pageSizeOptions">
                <button [hidden]="((numOfResults < sizeOption) || (numOfResults < 25))"
                    mat-raised-button [color]="pageSize === sizeOption ? 'primary' : ''"
                    class="pagination-page-buttons"
                    (click)="setPageSize(sizeOption); goToPage(1)"
                    title="{{sizeOption}} Members per Page">
                    {{sizeOption}}
                </button>
            </span>
        </ng-container>
        <span *ngIf="numOfResults > 10 && numOfResults < 100">
            <ng-container *ngIf="showAll">
                <span *ngFor="let sizeOption of pageSizeOptions">
                    <button [hidden]="numOfResults < sizeOption" mat-raised-button
                        class="pagination-page-buttons"
                        [color]="pageSize === sizeOption ? 'primary' : ''"
                        (click)="setPageSize(sizeOption); goToPage(1)"
                        title="{{sizeOption}} Members per Page">
                        {{sizeOption}}
                    </button>
                </span>
            </ng-container>
            <button mat-raised-button [color]="showAll ? 'primary' : ''"
                (click)="setPageSize(numOfResults, true); goToPage(1)"
                class="pagination-page-buttons"
                title="Show All Members per Page">
                All
            </button>
        </span>
    </div>

</div>
