<button *ngIf="useDialog" mat-raised-button color="primary" (click)="openColumnChooser()" aria-hidden="false"
    class="refset-tool-action-button refset-tool-column-chooser-button outer-table-button" aria-label="Open Column Chooser" title="Open Column Chooser"
    ng-reflect-color="primary">
    Choose Columns
</button>

<mat-form-field *ngIf="!useDialog" appearance="fill" class="refset-tool-column-chooser-select-field">
    <mat-select #detailsLanguageSelect placeholder="Select Columns" [ngModel]="columns" [(value)]="selectedColumns" multiple
        (selectionChange)="applyColumns()" class="refset-tool-column-chooser-select" panelClass="refset-tool-column-chooser-select-panel">

        <mat-select-trigger class="trigger">
            Select Columns
        </mat-select-trigger>
        
        <mat-option *ngFor="let column of columns" [value]="column">
            {{column.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<!-- Column Chooser Template -->
<ng-template #columnChooserSection let-data>

    <div class="refset-tool-column-chooser-dialog-container" *ngFor="let column of data">
        <mat-checkbox class="refset-tool-column-chooser-dialog-checkbox" [(ngModel)]="column.show">
            {{column.name}}
        </mat-checkbox>
    </div>

</ng-template>