.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 80px repeat(4, 40px) 60px 1fr;
    grid-auto-columns: 1fr;
    gap: 1px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "termhub-logo-text"
        "fill-space-1"
        "my-projects"
        "my-organizations"
        "my-teams"
        "my-settings"
        "fill-space-2"
        "toggle-sidebar";
    width: 250px;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgb(56, 63, 71);
}

.container-is-toggled {
    width: 100px;
}

.toggle-sidebar {
    grid-area: toggle-sidebar;
    margin-left: 24px;
    margin-bottom: 20px;
    display: flex;
    cursor: pointer;
}

.toggle-sidebar:hover {
    color: rgb(0, 164, 228);
}

.toggle-sidebar:hover #my-toggle-icon path {
    fill: rgb(0, 164, 228);
}

.my-toggle-icon {
    width: 30px;
}

.my-toggle-text {
    padding-left: 10px;
    color: #ffffff;
}

.my-settings {
    grid-area: my-settings;
    margin-left: 24px;
    display: flex;
    cursor: pointer;
}

.my-settings:hover {
    color: rgb(0, 164, 228);
}

.my-settings:hover #my-settings-icon path {
    fill: rgb(0, 164, 228);
}

.active .my-settings-text {
    color: rgb(0, 164, 228) !important;
}

.active #my-settings-icon path {
    fill: rgb(0, 164, 228) !important;
}

.my-settings-icon {
    width: 30px;
}

.my-settings-text {
    padding-left: 10px;
}

.my-teams {
    grid-area: my-teams;
    margin-left: 24px;
    display: flex;
    cursor: pointer;
}

.my-teams:hover {
    color: rgb(0, 164, 228);
}

.my-teams:hover #my-teams-icon path {
    fill: rgb(0, 164, 228);
}

.active .my-teams-text {
    color: rgb(0, 164, 228) !important;
}

.active #my-teams-icon path {
    fill: rgb(0, 164, 228) !important;
}

.my-teams-icon {
    width: 30px;
}

.my-teams-text {
    padding-left: 10px;
    color: #ffffff;
}

.my-organizations {
    grid-area: my-organizations;
    margin-left: 24px;
    display: flex;
    cursor: pointer;
}

.my-organizations:hover {
    color: rgb(0, 164, 228);
}

.my-organizations:hover #my-organizations-icon path {
    fill: rgb(0, 164, 228);
}

.active .my-organizations-text {
    color: rgb(0, 164, 228) !important;
}

.active #my-organizations-icon path {
    fill: rgb(0, 164, 228) !important;
}

.my-organizations-icon {
    width: 30px;
}

.my-organizations-text {
    padding-left: 10px;
    color: #ffffff;
}

.my-projects {
    grid-area: my-projects;
    margin-left: 24px;
    display: flex;
    cursor: pointer;
}

.my-projects:hover {
    color: rgb(0, 164, 228);
}

.my-projects:hover #my-projects-icon path {
    fill: rgb(0, 164, 228);
}

.active .my-projects-text {
    color: rgb(0, 164, 228) !important;
}

.active #my-projects-icon path {
    fill: rgb(0, 164, 228) !important;
}

.my-projects-icon {
    width: 30px;
}

.my-projects-text {
    padding-left: 10px;
    color: #ffffff;
}

.termhub-logo-text {
    grid-area: termhub-logo-text;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.logo-toggled {
    margin-left: 15px;
}

.fill-space-1 {
    grid-area: fill-space-1;
}

.fill-space-2 {
    grid-area: fill-space-2;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-8 17:8:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
