<div
    class="side-bar-container slide-in-left"
    [class.container-is-toggled]="toggleService.isToggled"
>
    <div class="termhub-logo-text"></div>
    <div class="fill-space-1"></div>

    <div
        class="my-projects"
        [routerLink]="['/projects/refset']"
        [routerLinkActive]="['active']"
    >
        <div class="my-projects-icon">
            <img src="assets/my-projects-icon.svg" alt="my projects icon" title="My projects"
            aria-label="My projects" />
        </div>
        <div class="my-projects-text" *ngIf="!toggleService.isToggled">
            Reference Sets
        </div>
    </div>
    <div
        class="my-organizations"
        [routerLink]="['/myorganizations']"
        [routerLinkActive]="['active']"
    >
        <!-- <div class="my-organizations-icon">
            <img src="assets/my-organizations-icon.svg" alt="my organizations icon" title="My organizations"
        aria-label="My organizations" />
          
        </div>
        <div class="my-organizations-text" *ngIf="!toggleService.isToggled">
            People
        </div> -->
    </div>
    <div
        class="my-teams"
        [routerLink]="['/myteams']"
        [routerLinkActive]="['active']"
    >
        <!-- <div class="my-teams-icon">
            <img src="assets/my-teams-icon.svg" alt="my teams icon" />
        </div>
        <div class="my-teams-text" *ngIf="!toggleService.isToggled">
            Project Settings
        </div> -->
    </div>
    <div class="my-settings"></div>
    <div class="fill-space-2"></div>
    <div class="toggle-sidebar" (click)="toggleService.toggleSidebar()">
        <div class="my-toggle-icon" *ngIf="!toggleService.isToggled">
            <img src="assets/my-toggle-icon.svg" alt="my toggle icon" title="Toggle sidebar"
            aria-label="Toggle sidebar" />
        </div>
        <div class="my-toggle-icon" *ngIf="toggleService.isToggled">
            <img src="assets/my-toggle-icon-toggled.svg" alt="my toggle icon" title="Toggled Sidebar"
            aria-label="Toggled sidebar" />
        </div>
        <div class="my-toggle-text" *ngIf="!toggleService.isToggled">
            Toggle Sidebar
        </div>
    </div>
</div>
