<div class="content-header">
    <div class="row header-title">
        <span class="title-label">Organizations</span>
        <mat-form-field appearance="outline" class="project-drop-down">
            <mat-label>{{selectedOrganization?.name ? selectedOrganization?.name : 'Choose Organization'}}</mat-label>
            <mat-select #detailsVersionSelect [disableOptionCentering]="true" [(value)]="selectedOrganization"  (selectionChange)="selectOrg($event)">
                <mat-option *ngFor="let organization of organizationList"
                            [value]="organization"
                            style="z-index: 3">
                    {{ organization.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="content-wrapper">
    <app-sidebar [menuItems]="menu"></app-sidebar>
    <div class='container-fluid mt-3'>
        <div class='row'>
            <div class='col-12'>
                <div *ngIf="showLoadingSpinner" class="loading"></div>
                <section class="mb-3">
                    <div class='section-header mb-4'>
                        Teams ({{dataCount}})
                        <create-new-team-modal *ngIf="selectedOrganization && selectedOrganization.roles.includes('ADMIN')" [organizationId]="organizationId" [organizations]="organizationList"></create-new-team-modal>
                    </div>
                    <div class='dashboard-section'>
                        <div class="ag-theme-alpine">
                            <ag-grid-angular
                                [columnDefs]="gridColumnDefs"
                                [rowData]="data"
                                (gridReady)="onGridReady($event)"
                                [gridOptions]="gridOptions"
                                style="width: 100%">
                            </ag-grid-angular>
                            <!-- Name Templates -->
                            <ng-template #descriptionSection let-params>
                                <label class="ellipsed-label" [ngbPopover]="params?.data.description" container="body" placement="top" popoverTitle="Description">
                                    {{ params?.data.description }}
                                </label>
                            </ng-template>
                        </div>
                    </div>
                    <!-- <div class='text-right'>
                        <a class='text-muted light'>show/hide admin</a>
                    </div> -->
                </section>
            </div>
        </div>
    </div>
</div>

