.add-remove-concept-hierarchy-modal-input-field {
	width: 475px;
	max-width: calc(100% - 125px);
}

.active-concept {
	background-color: #a4dbfd;
}

.add-remove-concept-hierarchy-modal-results-title {
	padding-top: 10px;
}

.add-remove-concept-hierarchy-modal-active-slider-section {
	padding-left: 5px;
}

.add-remove-concept-hierarchy-modal-table-first-column {
	padding-left: 12px !important;
	padding-right: 12px !important;
}

.add-remove-concept-hierarchy-modal-table-second-column {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.add-remove-concept-hierarchy-modal-table-second-column-data {
	display: flex;
	align-items: center;
}

.add-remove-concept-hierarchy-modal-table-second-column-data > .concept-name {
	padding-left: 5px;
}

.add-remove-concept-hierarchy-modal-table-third-column {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	padding-left: 10px !important;
}

.add-remove-concept-hierarchy-modal-results-container {
	padding-left: 0;
	padding-right: 20px;
	cursor: default;
}

.add-remove-concept-hierarchy-modal-results-row:hover {
	background-color: #a4dbfd;
}

.add-remove-concept-hierarchy-modal-table {
	height: 37rem;
	overflow-x: scroll;
	overflow: auto;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(215, 215, 215, 1);
}

.addRemoveByConceptHierarchySearchInput {
	width: 375px;
}

.concept-opened {
	width: 360px;
}

.add-remove-concept-hierarchy-modal-Section-container {
	width: 100% !important;
}

.add-remove-concept-hierarchy-modal-search-bar {
	padding-left: 0;
	margin-left: 5px;
	button {
		margin-left: 1em;
	}
}

.add-remove-concept-hierarchy-modal-cancel-search {
	margin-left: -10px;
	position: relative;
	cursor: default;
}

.add-remove-concept-hierarchy-modal-container-fluid {
	padding: 30px !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	height: 680px;
}

.add-remove-concept-hierarchy-modal-body {
	padding: 0;
}

.add-remove-concept-hierarchy-modal-body .rt2-concept-details-modal-column .row {
	margin-left: 3px;
	margin-right: 3px;
}

.add-remove-concept-hierarchy-modal-input-field {
	width: 308px;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
