<app-side-bar></app-side-bar>
<div id="refsetProjectsPage" class="container-fluid">
    <div class="row refset-title">
        <div
            class="col-md-auto page-title"
            style="margin-right: 20px; color: #555555; padding-left: 60px"
        >
            Projects
        </div>
        <div
            class="row justify-content-end details-version-select"
            style="margin-left: 20px"
        >
            <mat-form-field appearance="outline" class="project-drop-down">
                <mat-label>Choose Project</mat-label>
                <mat-select
                    #detailsVersionSelect
                    [disableOptionCentering]="true"
                    [(value)]="selectedProject"
                    (selectionChange)="onGridReady(originalGridParams)"
                >
                    <mat-option
                        *ngFor="let project of projects"
                        [value]="project"
                        style="z-index: 3"
                    >
                        {{ project.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div
            class="col-md-auto page-title"
            *ngIf="selectedProject"
            style="
                margin-right: 20px;
                color: #555555;
                padding-left: 60px;
                font-size: 14px;
            "
        >
            <b>Project Name: </b
            ><span>{{selectedProject?.name +
                &nbsp;&nbsp;" | "&nbsp;&nbsp;}}</span>

            <b>Organization Name: </b
            ><span>{{selectedProject?.organization?.name +
                    &nbsp;&nbsp;" | "&nbsp;&nbsp;}}</span>

            <b>Status: </b
            ><span>{{(selectedProject?.privateProject ? 'Public' : 'Private') +
                    &nbsp;&nbsp;" | "&nbsp;&nbsp;}}</span>
            <b>Project Role: </b><span>Author</span>
        </div>
    </div>

    <!-- Page Title -->
    <div
        style="
            width: 100%;
            justify-content: space-between;
            display: flex;
            padding-right: 20px;
            padding-top: 20px;
            align-items: baseline;
            padding-left: 265px;
        "
        [class.container-toggled]="toggleService.isToggled"
    >
        <div
            class="container-fluid page-title"
            style="display: inline; padding-left: 0px; color: rgb(0, 164, 228)"
        >
            Reference Sets
        </div>
        <div style="display: inline">
            <create-new-refset
                [selectedProject]="selectedProject"
                [existingMetadataConcepts]="existingMetadataConcepts"
                [existingBranchVersions]="existingBranchVersions"
            ></create-new-refset>
        </div>
        <div style="display: inline; padding-left: 10px">
            <button
                mat-raised-button
                color="primary"
                aria-hidden="false"
                #createRefsetButton
                class="refset-tool-action-button"
                aria-label="Create New Refset"
                title="Create New Refset"
                ng-reflect-color="primary"
            >
                Bulk Refset Actions
            </button>
        </div>
    </div>

    <!-- Refset Table -->
    <div
        class="container-fluid"
        [class.container-toggled]="toggleService.isToggled"
        style="padding-left: 265px"
    >
        <ag-grid-angular
            #directoryTable
            *ngIf="showTable"
            class="
                ag-theme-alpine
                refset-tool-ag-grid refset-tool-ag-grid-filter
            "
            [columnDefs]="columnDefs"
            [gridOptions]="refsetGridOptions"
            style="width: 100%"
        >
        </ag-grid-angular>

        <app-pagination
            #directoryPaging
            [pageSize]="refsetGridPaging.pageSize"
            [gridOptions]="refsetGridOptions"
            [numberOfPages]="refsetGridApi?.paginationGetTotalPages()"
            [pageSizeOptions]="refsetGridPaging.pageSizeOptions"
            [totalKnown]="refsetGridPaging.totalKnown"
            [manualStateRefresh]="refsetGridPaging.manualStateRefresh"
        >
        </app-pagination>

        <!-- Name Templates -->
        <ng-template #directoryNameSection let-params>
            {{ params?.value }}

            <mat-icon
                *ngIf="params?.data?.privateRefset"
                aria-hidden="false"
                #directoryPrivateIcon
                class="refset-tool-table-action-icon"
                aria-label="Private Refset"
                title="Private Refset"
            >
                lock
            </mat-icon>
        </ng-template>
    </div>
</div>
