<div class="content-header">
    <div class="row header-title">

        <span class="title-label">Organizations</span>
        <mat-form-field floatLabel="never" appearance="legacy" class="project-drop-down">
            <mat-select #detailsVersionSelect [disableOptionCentering]="true" [(value)]="selectedOrganization"
              [placeholder]="selectedOrganization?.id ? selectedOrganization?.name : 'Choose Organization'" (selectionChange)="selectOrganization()">
                <mat-option *ngFor="let organization of organizationList" [value]="organization" class="z-index-3" [title]="organization.name">
                    {{ organization.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <span class="title-label">Editions</span>
        <mat-form-field floatLabel="never" appearance="legacy" class="project-drop-down">
            <mat-select [disableOptionCentering]="true" [(value)]="selectedEdition" [placeholder]="selectedEdition?.name ? selectedEdition?.name : 'Choose Edition'"
              (selectionChange)="selectedEdition()">
                <mat-option *ngFor="let edition of editionList" [value]="edition" class="z-index-3">
                    {{ edition.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</div>
<div class="content-wrapper">
    <app-sidebar [menuItems]="menu" [id]="organizationId"></app-sidebar>
    <page-container>
        <div *ngIf="showLoadingSpinner" class="loading"></div>
        <section>
            <div class='section-header mb-10 d-flex'>
                <heading-with-count title="Organization Projects" [count]="dataCount"></heading-with-count>
                <!-- Organization Projects ({{dataCount}}) -->
                <create-new-project-modal *ngIf="selectedOrganization && selectedOrganization.roles.includes('ADMIN') && selectedEdition" [edition]="selectedEdition">
                </create-new-project-modal>
            </div>
            <div class='dashboard-section'>
                <div class="ag-theme-alpine">
                    <ag-grid-angular [columnDefs]="columnDefs" [rowData]="data" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
                        (cellClicked)="onGridCellClick($event)" [tooltipShowDelay]="0" class="w-100-pct">
                    </ag-grid-angular>
                </div>
                <ng-template #descriptionSection let-params>
                    <label class="ellipsed-label" container="body" placement="top" popoverTitle="Description">
                        {{ params?.data.description }}
                    </label>
                </ng-template>
                <ng-template #teamSection let-params>
                    <span class="text-primary font-weight-bold pointer" [title]="getTeamsTitle(params?.data)">{{getTeamCount(params?.data)}} teams</span>
                </ng-template>
            </div>
        </section>
    </page-container>
</div>
