<div class="modal-header mt2-modal-header">
	<h3 class="modal-title mt2-modal-title modal-header-font" id="modal-basic-title " *ngIf="config.showTitle" id="{{ id }}Title">
		{{ config.headerText }}
	</h3>
	<button *ngIf="config.showCloseIcon" type="button" class="close dialog-close-x close-icon-font" aria-label="Close Dialog" (click)="cancel()">
		<span aria-hidden="true" class="dialog-close-x close-icon-font">&times;</span>
	</button>
</div>

<div mat-dialog-content class="mt2-dialog-content">
	<ng-container [ngTemplateOutlet]="config.template" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
</div>

<div mat-dialog-actions class="mt2-dialog-actions" id="{{ id }}Actions">
	<div class="p-2 w-100-pct d-flex jc-flex-e mt2-btn-group">
		<button
			[hidden]="config.showConfirm === false"
			class="mt2-btn"
			[class]="config.confirmText === 'Download' ? 'mt2-download-btn' : 'mt2-action-btn'"
			id="{{ id }}Confirm"
			(click)="isDisabled ? '' : confirm()"
		>
			{{ config.confirmText }}
			<mat-icon
				*ngIf="config.confirmIcon"
				role="img"
				class="mt2-dialog-confirm-icon mat-icon notranslate material-icons mat-icon-no-color mt2-icon"
				aria-hidden="true"
				data-mat-icon-type="font"
			>
				{{ config.confirmIcon }}
			</mat-icon>
		</button>

		<button *ngIf="config.showCancel" id="{{ id }}Cancel" (click)="cancel()" class="mt2-btn mt2-cancel-btn">
			{{ config.cancelText }}
			<mat-icon
				*ngIf="config.cancelIcon"
				role="img"
				class="mt2-dialog-cancel-icon mat-icon notranslate material-icons mat-icon-no-color mt2-icon"
				aria-hidden="true"
				data-mat-icon-type="font"
			>
				{{ config.cancelIcon }}
			</mat-icon>
		</button>

		<button
			color="green"
			[hidden]="config.showAction !== true"
			class="mt2-btn"
			[class]="isDisabled ? 'mt2-download-btn' : 'mt2-next-back-btn'"
			id="{{ id }}Action"
			(click)="isDisabled ? '' : confirm()"
		>
			{{ config.actionText }}
		</button>
	</div>
</div>
