<div class="dialog-header accent-background">
    <!--<span class="dialog-header-title">{{ config.headerText }}</span>-->
    <div mat-dialog-title class="rt2-dialog-title page-h2-font">
        <div *ngIf="config.showTitle" id="{{ id }}Title">
            {{ config.headerText }}
        </div>

        <button *ngIf="config.showCloseIcon" mat-icon-button aria-hidden="false" aria-label="Close Dialog" (click)="cancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div mat-dialog-content class="rt2-dialog-content">

    <ng-container [ngTemplateOutlet]="config.template" [ngTemplateOutletContext]="{ $implicit: data }"></ng-container>
</div>

<div mat-dialog-actions class="rt2-dialog-actions" id="{{ id }}Actions">

    <div class="p-2 w-100-pct d-flex jc-flex-e rt2-btn-group">
      <button color="primary" [hidden]="config.showConfirm === false" class="rt2-btn" [class]="isDisabled ? 'rt2-download-btn' : 'rt2-action-btn'"
        id="{{ id }}Confirm" (click)="isDisabled ? '' : confirm() ">
          {{ config.confirmText }}
          <mat-icon *ngIf="config.confirmIcon" role="img" class="rt2-dialog-confirm-icon mat-icon notranslate material-icons mat-icon-no-color rt2-icon" aria-hidden="true"
            data-mat-icon-type="font">
              {{ config.confirmIcon }}
          </mat-icon>
      </button>

      <button *ngIf="config.showCancel" id="{{ id }}Cancel" (click)="cancel()"
        class="rt2-btn rt2-cancel-btn">
          {{ config.cancelText }}
          <mat-icon *ngIf="config.cancelIcon" role="img" class="rt2-dialog-cancel-icon mat-icon notranslate material-icons mat-icon-no-color rt2-icon" aria-hidden="true"
            data-mat-icon-type="font">
              {{ config.cancelIcon }}
          </mat-icon>
      </button>

      <button color="green" [hidden]="config.showAction != true" class="rt2-btn" [class]="isDisabled ? 'rt2-download-btn' : 'rt2-next-back-btn'"
        id="{{ id }}Action" (click)="isDisabled ? '' : confirm() ">
          {{ config.actionText }}
      </button>
    </div>
</div>