<div *ngIf="showLoadingSpinner" class="loading"></div>

<!-- Search Bar -->
<div class="top-search-bar content-header">
	<div class="row justify-content-end align-items-baseline">
		<div class="col page-title">
			Mapping
			<!-- : need map set name -->
			<span [hidden]="!numOfMembers">{{ '(' + numOfMembers + ')' }}</span>
		</div>
		<div class="col-md-auto dropdown-group">
			<div class="col-md-auto rt2-directory-chooser-column" *ngIf="showTable">
				<app-column-chooser title="Select Columns to Display" [gridColumnApi]="refsetGridColumnApi" [useDialog]="useDialog"> </app-column-chooser>
			</div>

			<div class="col-md-auto">
				<div class="dropdown directoryInput">
					<mat-form-field floatLabel="never" id="directorySearchInputField" title="Enter Search Criteria">
						<mat-label class="search-label" *ngIf="searchInput === ''">Search</mat-label>
						<input matInput #directorySearchInput id="directorySearchInput" [(ngModel)]="searchInput" (input)="onSearchChange()" disabled />
					</mat-form-field>
					<span class="clear-search" (click)="clearSearch()">&#10005;</span>
				</div>
			</div>
			<div class="col-md-auto p-l-5 hide">
				<mat-form-field floatLabel="never" class="directoryViewFilterField" appearance="fill">
					<mat-label></mat-label>
					<mat-select title="Public/Private Refsets" #directoryViewSelect [(value)]="selectedView" (selectionChange)="changedViewFilter()">
						<mat-option *ngFor="let option of viewOptions" [value]="option.value" class="no-checkbox"> {{ option.display }} </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid refsetDirectoryPage" (window:resize)="onResize($event)">
	<div class="box box-default">
		<div style="max-height: 600px; overflow: scroll">
			<code>
				<pre>{{ mapping | json }}</pre>
			</code>
		</div>
	</div>
</div>
<scroll-top></scroll-top>
