<div *ngIf="showLoadingSpinner" class="loading"></div>

<!-- Heading -->
<div class="top-search-bar content-header">
	<div class="d-flex">
		<div class="row">
			<div class="col-md-9 page-title" *ngIf="loaded">
				<div class="mt2-wrap" *ngIf="loaded" title="{{ mapsetData[0].code + ' ' + mapsetData[0].name }}">
					<span>{{ mapsetData[0].code + ' ' + mapsetData[0].name }} </span>
				</div>
			</div>
			<div *ngIf="loaded" class="col-md-3 d-flex header-menu">
				<span class="list-font align-self-center m-r-10"> {{ selectedVersion }}</span>
			</div>
		</div>
		<div class="col-md-auto d-flex m-r-10" *ngIf="loaded">
			<template [ngTemplateOutlet]="directoryActionSection" [ngOutletContext]="{ $implicit: mapsetData }"></template>
		</div>
	</div>
</div>

<div [hidden]="loaded" class="section-loading">Loading...</div>
<div class="mt2-container">
	<div class="d-flex justify-content-end heading-inbetween m-r-30" *ngIf="!libraryOnly && loaded">
		<div class="action-column mappings-section m-r-20" [hidden]="!assignedUser">Assigned To: {{ assignedUser }}</div>
		<div class="workflow-container m-b-10 justify-content-end m-t-5">
			<workflow-status-badge [status]="currentStatus"></workflow-status-badge>
		</div>
	</div>
	<div class="metadata-collapsible-container" [ngClass]="{ 'm-t-20': loaded }">
		<div class="metadata-collapsible-container-group-header row">
			<div class="metadata-collapsible-container-title page-header-font" *ngIf="mapsetData.length > 0">
				<span>Maps&nbsp; </span><span>{{ '(' + mapsetData[0].mapEntries.length + ')' }}</span>
			</div>

			<div class="row d-flex dropdown-group m-t-10" *ngIf="loaded">
				<div class="col-md-10 row p-l-30 p-t-10">
					<div class="col-md-auto mt2-directory-chooser-column">
						<div class="menu-inline">
							<button [matMenuTriggerFor]="actionMenu" aria-label="Actions" title="Actions" class="mapset-download-icon menu-button">
								<mat-icon class="menu-icon">more_vert</mat-icon>
								<span class="menu-label">Actions</span>
							</button>
						</div>
						<mat-menu #actionMenu="matMenu">
							<button
								*ngIf="!libraryOnly && mapsetInfo.workflowStatus === 'IN_EDIT' && editEnabled"
								mat-menu-item
								(click)="selectAction('edit')"
							>
								<span>Edit Maps</span>
							</button>
							<ng-container *ngIf="!libraryOnly && mapsetInfo.workflowStatus === 'IN_EDIT'">
								<span *ngFor="let action of workFlowMapActions">
									<button type="button" [title]="action.label" mat-menu-item (click)="reviewMapWorkflow(action.value)">
										<span> {{ action.label }}</span>
									</button></span
								>
							</ng-container>
							<button mat-menu-item (click)="downloadMapsets()">
								<span>Download Maps</span>
							</button>
						</mat-menu>
					</div>
				</div>
				<div class="action-column align-self-center col-2"></div>
			</div>
			<div class="dropdown-group section-background mappings-section" *ngIf="loaded">
				<div class="col-12">
					<div *ngFor="let record of mapsetData; index as i">
						<div *ngIf="!record.spanned">
							<div class="col-12 row">
								<div class="d-flex col-10 row">
									<div class="col-11 code-name hide">
										{{ record.name }}, <span class="code-link">{{ record.code }}</span>
									</div>

									<div *ngFor="let entry of record.mapEntries; index as x" class="row col-12 second-row">
										<div class="col-4 row mb-3">
											<div class="record-num col-1">{{ entry.group || '1' }}/{{ entry.priority }}</div>
											<div class="record-code col-2">{{ entry.toCode }}</div>
											<div class="record-name col-8">
												{{ entry.toName }}
												<span *ngIf="record.modFlag !== ''">
													<img
														class="mapset-mod-icon"
														*ngIf="record.moduleId !== internationalId"
														src="{{ 'assets/flags/' + record.modFlag + '.png' }}"
														title="{{ record.modLang }}"
														aria-label="{{ record.modLang }}"
												/></span>
											</div>
										</div>
										<div class="col-8 row mb-3">
											<div class="info-box">
												<i class="fa-regular fa-handshake relation-icon"></i
												><span class="info-message">{{ entry.relation }}</span>
											</div>
											<div
												*ngFor="let advice of entry.advices; index as i"
												class="info-box"
												[hidden]="advice.indexOf('ALWAYS') > -1"
											>
												<span *ngIf="advice.length > 0"
													><i class="fa-solid fa-star-of-life advice-icon"></i
													><span class="info-message">{{ advice }}</span></span
												>
											</div>
										</div>
									</div>
								</div>
								<div class="date-column col-1">
									<div class="action-column" [hidden]="!mapsetData[0].modified">
										Last Modified: {{ dateFormatter(mapsetData[0].modified) }}
									</div>
									<div [hidden]="!mapsetData[0].modifiedBy" class="date-column">Modified By: {{ mapsetData[0].modifiedBy }}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Action Templates -->
		<ng-template #directoryActionSection let-params>
			<div class="d-flex">
				<div class="col" *ngIf="!libraryOnly && mapsetInfo.workflowStatus === 'IN_EDIT' && editEnabled">
					<button class="library-app-refset-notes m-r-15 no-padding" (click)="selectAction('edit')">
						<img src="/assets/edit-icon.svg" title="Edit Maps" aria-label="Edit Maps" class="mapset-notes-icon mapset-edit-icon" />
					</button>
				</div>
				<div class="col">
					<button class="library-app-refset-download m-r-20 no-padding" (click)="downloadMapsets()">
						<div class="mat-button-wrapper mapset-download-icon">
							<i class="fa fa-download fa-lg" title="Download Maps" aria-label="Download Maps"></i>
						</div>
					</button>
				</div>
				<div class="col">
					<notes-modal [libraryOnly]="libraryOnly" [mapSetId]="mapsetInfo.id" [conceptCode]="conceptCode"></notes-modal>
				</div>

				<div class="col">
					<button class="library-app-refset-discussion-list m-r-20 no-padding" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
						<img
							src="/assets/comment-dots-regular.svg"
							title="{{ `${libraryOnly ? 'View' : 'Add'} Feedback` }}"
							aria-label="{{ `${libraryOnly ? 'View' : 'Add'} Feedback` }}"
							class="discussion-icon"
						/>
					</button>
				</div>
			</div>
		</ng-template>

		<ng-template #toBeDevelopedModal let-modal>
			<div class="modal-header mt2-modal-header">
				<div class="modal-title">Coming Soon</div>
				<button
					type="button"
					class="close dialog-close-x close-icon-font"
					title="Close"
					aria-label="Close"
					(click)="closeToBeDevelopedModal()"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>This feature is not yet available. Please check back later.</p>
			</div>
			<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
				<button type="button" class="mt2-btn mt2-action-btn" (click)="closeToBeDevelopedModal()">Close</button>
			</div>
		</ng-template>

		<ng-template #downloadModal let-modal>
			<div class="modal-header mt2-modal-header">
				<div class="modal-title">Download Map Set</div>
				<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeDownloadModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="!downloading">
				<p>{{ downloadTitle }}</p>
				<div class="modal-error-message" *ngIf="downloadError">
					<div>{{ downloadError }}</div>
				</div>
				<div class="modal-select">
					<label class="modal-label">File Format: <span class="mandatory-field">*</span></label>
					<mat-form-field floatLabel="never" appearance="fill" class="form-field-header">
						<mat-select placeholder="Select a format" [ngModel]="formats" [(value)]="selectedFormat" class="mt2-column-chooser-select">
							<mat-select-trigger class="trigger"
								><span *ngIf="!selectedFormat"> Select a format </span
								><span *ngIf="selectedFormat">{{ selectedFormat.display }}</span></mat-select-trigger
							>

							<mat-option *ngFor="let format of formats" [value]="format" class="no-checkbox">
								{{ format.display }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="modal-body" *ngIf="downloading">
				<p>Please wait, downloading...</p>
			</div>
			<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group" *ngIf="!downloading">
				<button type="button" title="Cancel" class="mt2-btn mt2-action-btn" (click)="closeDownloadModal()">Cancel</button>
				<button type="button" title="Download" class="mt2-btn mt2-action-btn" (click)="startDownload()">Download</button>
			</div>
		</ng-template>
	</div>
	<workflow-map-modal
		(updateWorkFlowMapStatus)="updateWorkFlowMapStatus($event)"
		(closeWorkflowMapModal)="closeWorkflowMapModal()"
		[workFlowMapStatus]="workFlowMapStatus"
		[mapsetInfo]="mapsetInfo"
		[isWFMapModalOpen]="isWFMapModalOpen"
		[conceptCode]="conceptCode"
	></workflow-map-modal>
</div>
