<div *ngIf="showLoadingSpinner" class="loading"></div>

<!-- Search Bar -->
<div class="top-search-bar content-header">
	<div class="d-flex justify-content-end">
		<div class="row d-flex">
			<div class="col-md-9 page-title">
				<div class="rt2-wrap" *ngIf="loaded" title="{{ mapsetData[0].code + ' ' + mapsetData[0].name }}">
					<span>{{ mapsetData[0].code + ' ' + mapsetData[0].name }} </span>
				</div>
				<app-workflow-status
					[workflowStatus]="mapsetInfo.workflowStatus !== null ? mapsetInfo.workflowStatus : mapsetInfo.versionStatus"
					class="col-1"
				>
				</app-workflow-status>
			</div>
			<div *ngIf="loaded" class="col-md-3 list-font align-items-center">{{ selectedVersion }}</div>
		</div>
		<div class="col-md-2 d-flex header-menu">
			<template [ngTemplateOutlet]="directoryActionSection" [ngOutletContext]="{ $implicit: mapsetData }"></template>
		</div>
	</div>
</div>

<div [hidden]="loaded" class="section-loading">Loading...</div>
<div class="rt2-container">
	<div class="metadata-collapsible-container" [ngClass]="{ 'm-t-20': loaded }">
		<div class="metadata-collapsible-container-group-header row">
			<div class="metadata-collapsible-container-title page-header-font" *ngIf="mapsetData.length > 0">
				<span>Maps&nbsp; </span><span>{{ '(' + mapsetData[0].mapEntries.length + ')' }}</span>
			</div>

			<div class="row d-flex dropdown-group m-t-10" *ngIf="loaded">
				<div class="col-md-10 row p-l-30 p-t-10">
					<!-- <div class="col-md-auto rt2-directory-chooser-column">
						<mat-menu #searchMenu="matMenu" class="search-box">
							<div class="dropdown directoryInput" (click)="$event.stopPropagation()">
								<mat-form-field floatLabel="never" id="directorySearchInputField" title="Enter Search Criteria">
									<mat-label *ngIf="searchInput === ''" class="search-label">Search by Source PT (enter at least 3 characters)</mat-label>
									<input matInput #directorySearchInput id="directorySearchInput" [(ngModel)]="searchInput" (input)="onSearchChange()" (click)="$event.stopPropagation()" />
								</mat-form-field>
								<span class="clear-search" *ngIf="searchInput.length > 0" title="Clear Search" (click)="$event.stopPropagation(); clearSearch()">&#10005;</span><br />
								<span *ngIf="searchInput.length > 0" class="mappings-section"
									>{{ gridApi.getDisplayedRowCount() > 0 ? gridApi.getDisplayedRowCount() : 'No ' }} result{{ gridApi.getDisplayedRowCount() > 1 ? 's' : '' }} found</span
								>
							</div>
						</mat-menu>
						<div class="menu-inline">
							<button
								[matMenuTriggerFor]="searchMenu"
								(menuOpened)="menuOpened()"
								[matBadgeHidden]="searchInput === ''"
								matBadgeSize="small"
								[matBadge]="'.'"
								aria-label="Search"
								title="Search"
								class="mapset-download-icon menu-button">
								<mat-icon class="menu-icon">search</mat-icon>
								<span class="menu-label">Search</span>
							</button>
						</div>
					</div> -->
					<div class="col-md-auto rt2-directory-chooser-column">
						<div class="menu-inline">
							<button [matMenuTriggerFor]="actionMenu" aria-label="Actions" title="Actions" class="mapset-download-icon menu-button">
								<mat-icon class="menu-icon">more_vert</mat-icon>
								<span class="menu-label">Actions</span>
							</button>
						</div>
						<mat-menu #actionMenu="matMenu">
							<button mat-menu-item (click)="selectAction('edit')" [disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'">
								<span>Edit Maps</span>
							</button>
							<button mat-menu-item (click)="selectAction('review')">
								<span>Request Review</span>
							</button>
						</mat-menu>
					</div>
				</div>
				<div class="action-column col-2">
					<span class="date-column second-row" [hidden]="!mapsetData[0].modified"
						>Last Updated: {{ dateFormatter(mapsetData[0].modified) }}</span
					>
				</div>
			</div>
			<div class="dropdown-group section-background mappings-section" *ngIf="loaded">
				<div class="col-12">
					<div *ngFor="let record of mapsetData; index as i">
						<div *ngIf="!record.spanned">
							<div class="col-12 row">
								<div class="d-flex col-12 row">
									<div class="col-11 code-name hide">
										{{ record.name }}, <span class="code-link">{{ record.code }}</span>
									</div>

									<div *ngFor="let entry of record.mapEntries; index as x" class="row col-12 second-row">
										<div class="col-4 row mb-3">
											<div class="record-num col-1">{{ entry.group || '1' }}/{{ entry.priority }}</div>
											<div class="record-code col-2">{{ entry.toCode }}</div>
											<div class="record-name col-8">
												{{ entry.toName }}
												<span *ngIf="record.modFlag !== ''">
													<img
														class="mapset-mod-icon"
														*ngIf="record.moduleId !== internationalId"
														src="{{ 'assets/flags/' + record.modFlag + '.png' }}"
														title="{{ record.modLang }}"
														aria-label="{{ record.modLang }}"
												/></span>
											</div>
										</div>
										<div class="col-8 row mb-3">
											<div class="info-box">
												<i class="fa-regular fa-handshake relation-icon"></i
												><span class="info-message">{{ entry.relation }}</span>
											</div>
											<div
												*ngFor="let advice of entry.advices; index as i"
												class="info-box"
												[hidden]="advice.indexOf('ALWAYS') > -1"
											>
												<span *ngIf="advice.length > 0"
													><i class="fa-solid fa-star-of-life advice-icon"></i
													><span class="info-message">{{ advice }}</span></span
												>
											</div>
										</div>
									</div>
								</div>
								<div class="action-column col-2 hide">
									<div class="action-btns">
										<template [ngTemplateOutlet]="directoryActionSection" [ngOutletContext]="{ $implicit: record }"></template>
									</div>
									<span class="date-column second-row">Last Updated: {{ dateFormatter(record.modified) }}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Action Templates -->
		<ng-template #directoryActionSection let-params>
			<div class="d-flex">
				<div class="col">
					<button
						class="library-app-refset-notes m-r-15 no-padding"
						(click)="selectAction('edit')"
						[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<img src="/assets/edit-icon.svg" title="Edit Maps" aria-label="Edit Maps" class="mapset-notes-icon mapset-edit-icon" />
					</button>
				</div>
				<div class="col">
					<button class="library-app-refset-download m-r-20 no-padding" (click)="downloadMapsets()">
						<div class="mat-button-wrapper mapset-download-icon">
							<i class="fa fa-download fa-lg" title="Download Maps" aria-label="Download Maps"></i>
						</div>
					</button>
				</div>
				<div class="col">
					<button class="library-app-refset-notes m-r-20 no-padding" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
						<img src="/assets/sticky-note.svg" title="View Notes" aria-label="View Notes" class="mapset-notes-icon" />
					</button>
				</div>

				<div class="col">
					<button class="library-app-refset-discussion-list m-r-20 no-padding" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
						<img src="/assets/comment-dots-regular.svg" title="View Feedback" aria-label="View Feedback" class="discussion-icon" />
					</button>
				</div>
			</div>
		</ng-template>

		<ng-template #toBeDevelopedModal let-modal>
			<div class="modal-header rt2-modal-header">
				<div class="modal-title">Coming Soon</div>
				<button
					type="button"
					class="close dialog-close-x close-icon-font"
					title="Close"
					aria-label="Close"
					(click)="closeToBeDevelopedModal()"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>This feature is not yet available. Please check back later.</p>
			</div>
			<div class="modal-footer rt2-modal-footer rt2-lockable rt2-btn-group">
				<button type="button" class="rt2-btn rt2-action-btn" (click)="closeToBeDevelopedModal()">Close</button>
			</div>
		</ng-template>

		<ng-template #downloadModal let-modal>
			<div class="modal-header rt2-modal-header">
				<div class="modal-title">Download Map Set</div>
				<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeDownloadModal()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="!downloading">
				<p>{{ downloadTitle }}</p>
				<div class="modal-error-message" *ngIf="downloadError">
					<div>{{ downloadError }}</div>
				</div>
				<div class="modal-select">
					<label class="modal-label">File Format: <span class="mandatory-field">*</span></label>
					<mat-form-field floatLabel="never" appearance="fill" class="form-field-header">
						<mat-select placeholder="Select a format" [ngModel]="formats" [(value)]="selectedFormat" class="rt2-column-chooser-select">
							<mat-select-trigger class="trigger"
								><span *ngIf="!selectedFormat"> Select a format </span
								><span *ngIf="selectedFormat">{{ selectedFormat.display }}</span></mat-select-trigger
							>

							<mat-option *ngFor="let format of formats" [value]="format" class="no-checkbox">
								{{ format.display }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div class="modal-body" *ngIf="downloading">
				<p>Please wait, downloading...</p>
			</div>
			<div class="modal-footer rt2-modal-footer rt2-lockable rt2-btn-group" *ngIf="!downloading">
				<button type="button" title="Cancel" class="rt2-btn rt2-action-btn" (click)="closeDownloadModal()">Cancel</button>
				<button type="button" title="Download" class="rt2-btn rt2-action-btn" (click)="startDownload()">Download</button>
			</div>
		</ng-template>

		<scroll-top></scroll-top>
	</div>
</div>
