<div class='sidebar' (mouseleave)="showSideBar=false" [class.sidebar-hover]="showSideBar" [style.z-index]="showSideBar ? 6 : 1">
  <div class="wrapper">
      <ul>
        <ng-container *ngFor="let item of menuItems">
          <li [class.active]="item.isActive">
              <a [routerLink]="[item.link, id]">
                  <i class="{{item.icon}}" (mouseover)="showSideBar=true"></i>
                  <span class="nav-label">{{item.name}}</span>
              </a>
          </li>
        </ng-container>
    </ul>
  </div>
</div>