:host {
    position: absolute;
    pointer-events: none;
}
.custom-tooltip-wrapper{
    width: 150px;
    height: fit-content;
    overflow: hidden;
    border: 1px solid grey;
    background-color: white;
}
.custom-tooltip {
    white-space: nowrap;
    margin-top: 15px;
    padding-left: 10px;
    line-height: 5px;
}

.custom-tooltip p {
    cursor: pointer;
}
