<!-- <a title="Create New Project" class='btn btn-primary rounded btn-lg float-right btn-wide-font' aria-label="Create New Project"
  (click)="openCreateNewProjectModal(createNewProjectDialog)">Create
  New Project</a> -->
<button title="Create New Project" class="rt2-btn rt2-action-btn float-right mt-1" aria-label="Create New Project" (click)="openCreateNewProjectModal(createNewProjectDialog)">
  Create New Project
</button>

<ng-template #createNewProjectDialog let-modal>

  <div class="modal-header rt2-modal-header">
    <button ngbAutofocus class="unfocus-btn"></button>
    <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
      Create New Project
    </h4>

    <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="dialog-close-x">&times;</span>
    </button>
  </div>

  <div class="modal-body rt2-lockable create-new-project-modal-body">

    <table>
      <tr>
        <td>
          <label class="modal-label-edition">Parent Organization:</label>
        </td>
        <td>
          {{ edition.organization.name }}
        </td>
      </tr>
      <tr>
        <td>
          <label class="modal-label-edition">Parent Edition:</label>
        </td>
        <td>
          {{ edition.name }}
        </td>
      </tr>
      <tr>
        <td>
          <label class="modal-label">Name: <span class="mandatory-field">*</span></label>
        </td>
        <td>
          <input class="modal-input-field" placeholder="Project Name" autofocus #projectName [(ngModel)]="name" />{{ setAutoFocus(projectName) }}
        </td>
      </tr>
      <!-- <tr>
                <td>
                    <label class="modal-label">Email:</label>
                </td>
                <td>
                    <input class="modal-input-field" (keydown.tab)="onKeyDownEvent($event)" placeholder="primarycontactemail@orgname.org"  [(ngModel)]="email"/>
                </td>
            </tr>
            <tr class="modal-error-message" [hidden]="!emailError">
                <div>{{emailError}}</div>
            </tr> -->
      <tr>
        <td>
          <label class="modal-label-description">Description:</label>
        </td>
        <td>
          <mat-form-field floatLabel="never" class="import-from-list-field" appearance="legacy">
            <textarea matInput class="import-from-list-text-area" [(ngModel)]="description"></textarea>
          </mat-form-field>

        </td>
      </tr>
      <tr>
        <td>
          <label class="modal-label">Project Privacy:</label>
        </td>
        <td>
          <mat-checkbox [(ngModel)]="privateProject">Private</mat-checkbox>
        </td>
      </tr>
    </table>

  </div>

  <div class="modal-footer rt2-modal-footer rt2-lockable rt2-btn-group">

    <button type="button" [disabled]="name === ''" (click)="createProjectObject()" color="green" aria-hidden="false" class="rt2-btn rt2-next-back-btn"
      aria-label="Create Project" title="Create Project">
      Create Project
    </button>
    <button type="button" (click)="modal.dismiss('Cross click')" mat-raised-button aria-hidden="false" 
      class="rt2-btn rt2-cancel-btn" aria-label="Cancel" title="Cancel">
      Cancel
    </button>

  </div>

</ng-template>