<div *ngIf="!selectedOrganization" class='section-list text-right' title="Create New Project" aria-label="Create New Project" (click)="openCreateNewProjectModal(createNewProjectDialog)"><a class='btn btn-primary btn-lg'>Create a Project</a></div>
<a *ngIf="selectedOrganization" class="btn btn-primary radius-0 float-right" title="Create New Project" aria-label="Create New Project" (click)="openCreateNewProjectModal(createNewProjectDialog)">Create New Project</a>

<ng-template #createNewProjectDialog let-modal>

    <div class="modal-header rt2-modal-header">

        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            Create a Project
        </h4>

        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>

    <div class="modal-body refset-tool-lockable">
        
        <table>
            <tr *ngIf="!selectedOrganization">
                <td>
                    <label class="modal-label">Parent Organization:</label>
                </td>
                <td>
                    <div class="row" id="downloadContentRow" >
                        <div >
                            <mat-form-field appearance="fill" class="col refset-tool-modal-select-field">
                                <mat-select #downloadContentField class="refset-tool-modal-select" [(value)]="selectedOrganization" (selectionChange)="getOrganization()">
                                    <mat-option *ngFor="let option of organizationsArray" [value]="option.id">
                                        {{ option.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="modal-label">Name:</label>
                </td>
                <td>
                    <input class="modal-input-field" placeholder="Project Name"  [(ngModel)]="name"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="modal-label">Email:</label>
                </td>
                <td>
                    <input class="modal-input-field" placeholder="primarycontactemail@orgname.org"  [(ngModel)]="email"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="modal-label">Description:</label>
                </td>
                <td>
                    <mat-form-field class="import-from-list-field" appearance="outline">
                        <textarea matInput class="import-from-list-text-area" [(ngModel)]="description"></textarea>
                    </mat-form-field>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label class="modal-label">Project Privacy:</label>
                </td>
                <td>
                    <mat-checkbox [(ngModel)]="privateProject">Private</mat-checkbox>
                </td>
            </tr>
        </table>

    </div>

    <div class="modal-footer rt2-modal-footer refset-tool-lockable">
        <button type="button" [disabled]="name === '' || description === '' || email === ''" (click)="callMemberOperation()" mat-raised-button color="green" aria-hidden="false" class="refset-tool-action-button" 
                aria-label="Create Project" title="Create Project" ng-reflect-color="green">
            Create Project
        </button>

        
    </div>
    
</ng-template>
