.upgrade-modal-current-terminology-term {
	padding-left: 25px;
	text-align: left;
}

.upgrade-modal-current-terminology-label {
	font-weight: 500;
}

.upgrade-modal-message {
	padding-top: 25px;
}

.upgrade-modal-current-version-term {
	padding-left: 25px;
	text-align: left;
}

.upgrade-modal-success-warning {
	height: fit-content;
}

.upgrade-modal-success {
	text-align: left;
}

.upgrade-modal-current-version-label {
	font-weight: 500;
}

.upgrade-modal-body-mid-term {
	padding-left: 25px;
	text-align: left;
}

.upgrade-modal-body-mid-label {
	font-weight: 500;
}

.upgrade-modal-current-version {
	text-align: left;
}

.successful-upgrade-modal-body-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
