<button *ngIf="isInitialUpgrade" type="button" mat-raised-button color="primary" aria-hidden="false"
  #upgradeButton class="refset-tool-action-button refset-action-button"
  (click)="openVersionChoiceModal()" aria-label="Upgrade" title="Upgrade"
  ng-reflect-color="primary">
  Upgrade
</button>
<adjudicate-upgrade-modal *ngIf="!isInitialUpgrade" [refsetData]="refsetData"
  [membersOfRefset]="membersOfRefset" [membersInCommon]="membersInCommon"
  [inactiveConcepts]="inactiveConcepts"></adjudicate-upgrade-modal>
<ng-template #upgradeDialog let-modal>
  <ng-container>
    <div class="modal-header rt2-modal-header">
      <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
        Upgrade Reference Set
      </h4>
      <button type="button" class="close dialog-close-x" aria-label="Close"
        (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="dialog-close-x">&times;</span>
      </button>
    </div>
    <div class="container-fluid upgrade-container-fluid">
      <!-- <div class="modal-body upgrade-modal-body">
            <div class="upgrade-modal-body-header">
                <div class="upgrade-modal-current-version"> -->


      <!--Table-->
      <div class="container-fluid">
        <div class="row refset-tool-refset-metadata-section">
          <table class="refset-tool-refset-metadata-table table-striped mb-1">
            <tbody>
              <tr>
                <td class="upgrade-modal-current-version-label" aria-label="Current Version:">
                  Current Version:</td>
                <td class="upgrade-modal-current-version-term">
                  {{latestDate(refsetData?.versionList)}}</td>
              </tr>
              <tr>
                <td class="upgrade-modal-current-terminology-label"
                  aria-label="Current Terminology:">Current Terminology:</td>
                <td class="upgrade-modal-current-terminology-term">{{refsetData?.editionShortName}}
                </td>
              </tr>
              <tr>
                <td class="upgrade-modal-body-mid-label" aria-label="Current Terminology:">Upgrade
                  To:</td>
                <td class="upgrade-modal-body-mid-term">{{ existingBranchVersions[0] + '
                  (PUBLISHED)' }}</td>
              </tr>
            </tbody>
          </table>
          <div>
            <p class="upgrade-modal-message">The upgrade process will run in the background.</p>
          </div>
        </div>
      </div>


      <!-- <span class="upgrade-modal-current-version-label" aria-label="Current Version:">Current Version:</span>
                    <span class="upgrade-modal-current-version-term">{{latestDate(refsetData?.versionList)}}</span> -->
    </div>
    <!-- <div class="upgrade-modal-current-terminology">
                    <span class="upgrade-modal-current-terminology-label" aria-label="Current Terminology:">Current Terminology:</span>
                    <span class="upgrade-modal-current-terminology-term">{{refsetData?.editionShortName}}</span>
                </div> -->
    <!-- </div> -->

    <!-- <div class="upgrade-modal-body-mid"><div><span class="upgrade-modal-body-mid-label">Upgrade To: </span>{{ existingBranchVersions[0] + ' (PUBLISHED)' }}</div></div> -->
    <!-- </div>
    </div> -->
    <!--Table-->


    <div class="modal-footer rt2-modal-footer">
      <button type="button" mat-raised-button color="green" aria-hidden="false"
        class="refset-tool-action-button upgrade-modal-button" aria-label="Upgrade" title="Upgrade"
        ng-reflect-color="green" (click)="modal.dismiss('Cross click'); upgrade()">
        Start Upgrade
      </button>
      <button type="button" (click)="modal.dismiss('Cross click')" mat-raised-button
        aria-hidden="false" class="refset-tool-action-button"
        style="margin-left: 3px; background-color: red" aria-label="Cancel" title="Cancel"
        ng-reflect-color="primary">
        Cancel
      </button>
    </div>
  </ng-container>
</ng-template>

<!--Version Continue Modal-->
<ng-template #versionContinueDialog let-modal>
  <div class="modal-header review-modal-header">
      <button ngbAutofocus class="unfocus-btn"></button>
      <button type="button" class="close" aria-label="Close" (click)="setVersionContinueChoice(false)">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="container-fluid ready-for-review-container-fluid">
      <div class="modal-body review-modal-body">
          <div>This refset is already based on the latest version of the edition. Are you sure you want to continue?
          </div>
      </div>
  </div>
  <div class="modal-footer ready-for-review-footer">
      <button type="button" (click)="setVersionContinueChoice(true)" mat-raised-button color="primary" aria-hidden="false"
        class="refset-tool-action-button" aria-label="Yes" title="Yes" ng-reflect-color="primary" style="margin-right: 20px;">
          Yes
      </button>
      <button type="button" (click)="setVersionContinueChoice(false)" mat-raised-button color="red" aria-hidden="false" class="refset-tool-action-button" aria-label="No"
        title="No" ng-reflect-color="red">
          No
      </button>
  </div>
</ng-template>
