<button type="button" mat-raised-button color="primary" aria-hidden="false" #upgradeButton class="refset-tool-action-button refset-action-button" (click)="openUpgradeModal(upgradeDialog)" aria-label="Upgrade" title="Upgrade" ng-reflect-color="primary">
    {{ (getResumeParam || isResumeUpgrade && !isInitialUpgrade) ? 'Resume Upgrade' : 'Upgrade' }}
</button>
<!-- <button mat-menu-item (click)="openUpgradeModal(upgradeDialog)" aria-label="Upgrade" title="Upgrade" ng-reflect-color="primary">Upgrade Refset</button> -->
<ng-template #upgradeDialog
             let-modal>
<ng-container *ngIf="(isInitialUpgrade || getInitialParam) && (!isResumeUpgrade || !getResumeParam)">
    <div class="modal-header upgrade-modal-header">
        <h4 class="modal-title upgrade-modal-title"
            id="modal-basic-title">
            Upgrade Reference Set
        </h4>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container-fluid upgrade-container-fluid">
        <div class="modal-body upgrade-modal-body">
            <div class="upgrade-modal-body-header">
                <div class="upgrade-modal-current-version">
                    <span class="upgrade-modal-current-version-label" aria-label="Current Version:">Current Version:</span>
                    <span class="upgrade-modal-current-version-term">{{refsetData?.branchPath}}</span>
                </div>
                <div class="upgrade-modal-current-terminology">
                    <span class="upgrade-modal-current-terminology-label" aria-label="Current Terminology:">Current Terminology:</span>
                    <span class="upgrade-modal-current-terminology-term">{{refsetData?.editionShortName}}</span>
                </div>
            </div>
            <div class="upgrade-modal-body-mid">
            <mat-form-field appearance="fill">
                <mat-label>New Version:</mat-label>
                <select matNativeControl
                        [(ngModel)]="selectedVersion">
                    <option *ngFor="let version of listOfDates(refsetData?.versionList)"
                            [value]="version?.refsetInternalId">
                        {{ version?.date }}
                    </option>
                </select>
            </mat-form-field>
            </div>
        </div>
    </div>
    <div class="modal-footer upgrade-footer">
        <div class="upgrade-footer-warning-message" *ngIf="showWarning">Currently on the newest version</div>
        <button type="button" mat-raised-button color="primary" aria-hidden="false" class="refset-tool-action-button upgrade-modal-button" aria-label="Upgrade" title="Upgrade" ng-reflect-color="primary" (click)="upgrade()">
            Upgrade
        </button>
    </div>
</ng-container>
<ng-container *ngIf="(getResumeParam || isResumeUpgrade) && (!isInitialUpgrade || !getInitialParam)">
    <div class="modal-header upgrade-modal-header">
        <h4 class="modal-title upgrade-modal-title"
            id="modal-basic-title">
            Upgrade Reference Set
        </h4>
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container-fluid upgrade-container-fluid">
        <div class="modal-body upgrade-modal-body">
            <div class="successful-upgrade-modal-body-header">
                <ngb-alert [dismissible]="false" type="success" class="upgrade-modal-success-warning">
                    <div class="success-header">
                        <img class="circled-check" src="assets/circled-check.svg" alt="circled check" aria-label="Circled Check" title="Circled Check" />
                        <div class="success-body upgrade-modal-success">
                            <strong>Success!</strong><br />Lookup complete. Inactive Concept Report available for export. Upgrade can continue.
                        </div>
                    </div>
                </ngb-alert>
            </div>
            <div class="upgrade-modal-body-mid">
                <div class="upgrade-success-inactive"><span class="upgrade-success-inactive-label">Inactive Concepts:</span><span>{{inactiveConcepts}}</span></div>
                <div class="upgrade-success-members"><span class="upgrade-success-members-label">Members in Common:</span><span>{{totalMembers}}</span></div>
            </div>
        </div>
    </div>
    <div class="modal-footer upgrade-footer">
        <button type="button" mat-raised-button color="primary" (click)="refsetDetails?.setWorkflowStatusByAction('', 'CANCEL_UPGRADE'); modal.dismiss('Cross click'); refsetDetails?.initializeDetailsPage()" aria-hidden="false" class="refset-tool-action-button adjudicate-cancel-modal-button" aria-label="Cancel Upgrade" title="Cancel Upgrade" ng-reflect-color="primary">
            Cancel Upgrade
        </button>
        <button type="button" mat-raised-button color="primary" aria-hidden="false" class="refset-tool-action-button export-inactive-concept-modal-button" aria-label="Export" title="Export" ng-reflect-color="primary">
            Export Inactive Concept Report
        </button>
        <!-- <button type="button" mat-raised-button color="primary" aria-hidden="false" class="refset-tool-action-button upgrade-modal-button" aria-label="Upgrade" title="Upgrade" ng-reflect-color="primary" (click)="modal.dismiss('Cross click'); upgrade()">
            Continue Upgrade
        </button> -->
        <adjudicate-upgrade-modal [refsetData]="refsetData" [selectedVersion]="selectedVersion" [inactiveConcepts]="inactiveConcepts"></adjudicate-upgrade-modal>
    </div>
</ng-container>
</ng-template>