<div class="content-header">
	<div class="row header-title">

		<div class="col-md-auto"><div class="title-label heading-label">Organizations</div></div>

		<mat-form-field floatLabel="never" appearance="fill" class="project-drop-down">
			<mat-select
				#detailsVersionSelect
				[disableOptionCentering]="true"
				[(value)]="selectedOrganization"
				[placeholder]="selectedOrganization?.id ? selectedOrganization?.name : 'Choose Organization'"
				(selectionChange)="changeOrganization()">
				<mat-option *ngFor="let organization of organizationList" [value]="organization" class="z-index-3 no-checkbox" [title]="organization.name">
					{{ organization.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<div class="col-md-auto"><div *ngIf="currentMenu === 'projects'" class="title-label heading-label">Editions</div></div>

		<mat-form-field *ngIf="currentMenu === 'projects'" floatLabel="never" appearance="fill" class="project-drop-down">
			<mat-select
				[disableOptionCentering]="true"
				[(value)]="selectedEdition"
				[placeholder]="selectedEdition?.name ? selectedEdition?.name : 'Choose Edition'"
				(selectionChange)="changeEdition()">

				<mat-option *ngFor="let edition of editionList" [value]="edition" class="z-index-3 no-checkbox">
					{{ edition.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
</div>
<div class="content-wrapper">
	<app-sidebar [menuItems]="menu" [id]="organizationId"></app-sidebar>
	<page-container>
		<div *ngIf="showLoadingSpinner" class="loading"></div>
		<section>
			<router-outlet></router-outlet>
		</section>
	</page-container>
</div>
