.linethrough-inactive {
	text-decoration: line-through;
}

.add-bold {
	font-weight: 600;
}

.adjudicate-upgrade-modal-body-header {
	display: flex;
	height: 50px;
	padding: 1em 1em 1.5em 0;
}

.adjudicate-format-option-drop-down {
	margin-top: -30px;
	padding-right: 20px;
}

.adjudicate-inactive-concepts {
	padding-right: 15px;
}

@media only screen and (max-height: 1440px) {
	.adjudication-list {
		max-height: 1000px;
	}
}

@media only screen and (max-height: 1080px) {
	.adjudication-list {
		max-height: 800px;
	}
}

.adjudicate-information-button {
	color: #00a9e0;
	cursor: pointer;
	margin-top: 0.75em;
	margin-left: -0.05em;
}
