
<button type="button" mat-raised-button color="primary" aria-hidden="false" #adjudicateUpgradeButton class="refset-tool-action-button refset-action-button" (click)="openAdjudicateUpgradeModal(adjudicateUpgradeDialog)" aria-label="Adjudicate Upgrade" title="Adjudicate Upgrade" ng-reflect-color="primary">Continue Upgrade</button>
<ng-template #adjudicateUpgradeDialog class="modal-dialog-centered" let-modal>
<ng-container>
    <div class="modal-header rt2-modal-header">
        <h4 class="modal-title rt2-modal-title"
            id="modal-basic-title">
            Upgrade Reference Set
        </h4>
        <button type="button"
                class="close dialog-close-x"
                aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>
    <div class="adjudicate-upgrade-container-fluid">
        <div class="modal-body adjudicate-upgrade-modal-body">
            <div class="adjudicate-upgrade-modal-body-header">
                <div class="adjudicate-inactive-concepts">Inactive Concepts ({{inactiveConcepts}})</div>
                <div class="adjudicate-format-option-drop-down">
                    <mat-form-field appearance="fill">
                    <mat-label>Select Language(s):</mat-label>
                    <select matNativeControl [(ngModel)]="selectedLanguage" (change)=" ngAfterViewInit(); changeLanguage($event); showActionButton = true">
                        <option
                            *ngFor="let option of languageOptions"
                            [value]="option">
                            {{ option }}
                        </option>
                    </select>
                </mat-form-field>
                </div>
                <div class="adjudicate-toggle">
                    <mat-slide-toggle
                    color="primary"
                    (change)="hideIncludedReplacements($event); showActionButton = true">
                  Hide Included Replacements
                </mat-slide-toggle>
                </div>
            </div>
            <div class="adjudicate-upgrade-modal-body-mid">
                <ag-grid-angular
                class="ag-theme-alpine refset-tool-ag-grid refset-tool-ag-grid-filter"
                [columnDefs]="columnDefs"
                [gridOptions]="refsetGridOptions"
                (cellMouseOver)="onCellMouseOver($event)"
                style="width: 100%; height: 433px">
                </ag-grid-angular>

                <!-- <app-pagination
               [pageSize]="refsetGridPaging.pageSize"
               [gridOptions]="refsetGridOptions"
               [numberOfPages]="refsetGridApi?.paginationGetTotalPages()"
               [pageSizeOptions]="refsetGridPaging.pageSizeOptions"
               [totalKnown]="refsetGridPaging.totalKnown"
               [manualStateRefresh]="refsetGridPaging.manualStateRefresh"
               [numOfResults]="numOfResults">
                </app-pagination> -->
            </div>
        </div>
    </div>
    <div class="modal-footer rt2-modal-footer">
        <button type="button" mat-raised-button color="red" (click)="refsetDetails?.setWorkflowStatusByAction('', 'CANCEL_UPGRADE'); modal.dismiss('Cross click');" aria-hidden="false" class="refset-tool-action-button adjudicate-cancel-modal-button" aria-label="Cancel Upgrade" title="Cancel Upgrade" ng-reflect-color="red">
            Cancel Upgrade
        </button>
        <button type="button" mat-raised-button color="green" (click)="getFinishedChangeReport()" aria-hidden="false" class="refset-tool-action-button adjudicate-export-inactive-concept-modal-button" aria-label="Export" title="Export" ng-reflect-color="green">
            Export Change Report
        </button>
        <button type="button" mat-raised-button color="green" (click)="getInactiveChangeReport()" aria-hidden="false" class="refset-tool-action-button adjudicate-export-inactive-concept-modal-button" aria-label="Export" title="Export" ng-reflect-color="green">
            Export Inactive Concept Report
        </button>
        <finish-upgrade-modal [refsetData]="refsetData" [membersOfRefset]="membersOfRefset" [membersInCommon]="membersInCommon" [membersInCommonForChangeReport]="membersInCommonForChangeReport" [inactiveConcepts]="inactiveConcepts"></finish-upgrade-modal>
    </div>
</ng-container>
</ng-template>

<!-- Inactive Concept Code Templates -->
<ng-template #inactiveConceptCodeSection let-params>
    <img *ngIf="!params?.data?.isHidden && ((params?.data?.stillMember !== undefined && !params?.data?.stillMember) || params?.data?.replaced)"
    src="assets/add-symbol-icon.svg"
    (click)="addRemoveConcept(params?.data, 'INACTIVE_ADDED')"
    width="18px"
    height="18px"
    title="Add {{actionText}}"
    aria-label="Add"
    class="add-symbol-icon"
    alt="Add symbol shown when you're able to add a concept" 
/>

<img *ngIf="!params?.data?.isHidden && params?.data?.stillMember && !params?.data?.replaced"
    src="assets/subtract-symbol-icon.svg"
    (click)="addRemoveConcept(params?.data, 'INACTIVE_REMOVED')"
    width="18px"
    height="18px"
    title="Remove {{actionText}}"
    aria-label="Subtract"
    class="subtract-symbol-icon"
    alt="Subtract symbol shown when you're able to remove a concept" 
/>
</ng-template>

<!-- Inactive ID Templates -->
<ng-template #adjudicateInactiveId let-params>
    <span [class.linethrough-inactive]="params?.data?.replaced || !params?.data?.stillMember" [class.add-bold]="!params?.data?.replaced && params?.data?.stillMember" [class.hide-data]="params?.data?.isHidden">
        {{ params?.data?.code }}
    </span>
</ng-template>

<!-- Inactive Section EN PT Templates -->
<ng-template #adjudicateInactiveEnPtSection let-params>
    <span [class.linethrough-inactive]="params?.data?.replaced || !params?.data?.stillMember" [class.add-bold]="!params?.data?.replaced && params?.data?.stillMember" [class.hide-data]="params?.data?.isHidden">
        {{ transformDescriptions(params?.data?.descriptions)?.length ? transformDescriptions(params?.data?.descriptions)[0].term : '' }}
    </span>
</ng-template>

<!-- Inactivation Reason Section Templates -->
<ng-template #adjudicateInactivationReason let-params>
    <span [class.linethrough-inactive]="params?.data?.replaced || !params?.data?.stillMember" [class.add-bold]="!params?.data?.replaced && params?.data?.stillMember" [class.hide-data]="params?.data?.isHidden">
        {{ formatReason(params?.data?.inactivationReason) }}
    </span>
</ng-template>

<!-- Replacement Concept Code Templates -->
<ng-template #replacementConceptCodeSection let-params>
<ng-container *ngIf="!params?.data?.replacementConcecpts[0]?.existingMember">
    <img *ngIf="!params?.data?.replacementConcecpts[0]?.added"
    src="assets/add-symbol-icon.svg"
    (click)="addRemoveConcept(params?.data, 'REPLACEMENT_ADDED')"
    width="18px"
    height="18px"
    title="Add {{actionText}}"
    aria-label="Add"
    class="add-symbol-icon"
    alt="Add symbol shown when you're able to add a concept" 
/>

<img *ngIf="params?.data?.replacementConcecpts[0]?.added"
    src="assets/subtract-symbol-icon.svg"
    (click)="addRemoveConcept(params?.data, 'REPLACEMENT_REMOVED')"
    width="18px"
    height="18px"
    title="Remove {{actionText}}"
    aria-label="Subtract"
    class="subtract-symbol-icon"
    alt="Subtract symbol shown when you're able to remove a concept" 
/>
</ng-container>
    <mat-icon *ngIf="params?.data?.replacementConcecpts[0]?.existingMember" class="adjudicate-information-button" aria-label="Replacement concept is already a member of the refset." title="Replacement concept is already a member of the refset.">information</mat-icon>
</ng-template>

<!-- Replacement ID Templates -->
<ng-template #adjudicateReplacementId let-params>
    <span [class.add-bold]="params?.data?.replacementConcecpts[0]?.added || params?.data?.replacementConcecpts[0]?.existingMember">
        {{ params?.data?.replacementConcecpts[0]?.code }}
    </span>
</ng-template>

<!-- Replacement Section EN PT Templates -->
<ng-template #adjudicateReplacementEnPtSection let-params>
    <span *ngIf="params?.data?.replacementConcecpts[0]?.reason.includes('MANUAL_REPLACEMENT')" [class.add-bold]="params?.data?.replacementConcecpts[0]?.added || params?.data?.replacementConcecpts[0]?.existingMember">
        {{ transformManualReplacementDescriptions(params?.data?.replacementConcecpts[0]?.descriptions)?.length ? transformManualReplacementDescriptions(params?.data?.replacementConcecpts[0]?.descriptions)[0].term : '' }}
    </span>
    <span *ngIf="!params?.data?.replacementConcecpts[0]?.reason.includes('MANUAL_REPLACEMENT')" [class.add-bold]="params?.data?.replacementConcecpts[0]?.added || params?.data?.replacementConcecpts[0]?.existingMember">
        {{ transformDescriptions(params?.data?.replacementConcecpts[0]?.descriptions)?.length ? transformDescriptions(params?.data?.replacementConcecpts[0]?.descriptions)[0].term : '' }}
    </span>
</ng-template>

<!-- Reason Section Templates -->
<ng-template #adjudicateReason let-params>
    <span *ngIf="!params.data.isSearch" [class.add-bold]="params?.data?.replacementConcecpts[0]?.added || params?.data?.replacementConcecpts[0]?.existingMember">
        {{ formatReason(params?.data?.replacementConcecpts[0]?.reason) }}
    </span>
    <span [hidden]="!params.data.isSearch">
        <mat-form-field appearance="fill" style="width: 400px">
            <mat-label>Add Concept by ID or FSN</mat-label>
            <mat-select (selectionChange)="selectedConceptChanged($event)" >
                <input style="height: 50px; width: 300px;" placeholder="Type here..." (keydown)="handleInput($event)" (input)="onSearchChange($event.target.value)" (mouseover)="$event.target.focus()">
                <mat-option *ngIf="!selectedConcepts && !manualReplacementOptionsLoading">None</mat-option>
                <mat-option *ngIf="manualReplacementOptionsLoading">Loading...</mat-option>
                <mat-option *ngFor="let concept of selectedConcepts" [value]="concept">{{ transformDescriptions(concept.descriptions, true)?.length ? transformDescriptions(concept.descriptions, true)[0].term : ''}}</mat-option>
                <!-- + ' | ' + transformDescriptions(concept.descriptions, true)[0].descriptionId -->
            </mat-select>
          </mat-form-field>
            <img
            src="assets/add-symbol-icon.svg"
            (click)="addManualReplacement('NEW_MANUAL_REPLACEMENT'); showActionButton = true"
            width="18px"
            height="18px"
            title=""
            aria-label="Add"
            class="grey-add-symbol-icon"
            alt="Add symbol shown when you're able to add a concept" 
            />
    </span>
</ng-template>

<!-- Action Section Templates -->
<ng-template #actionSection let-params>
    <span *ngIf="params?.data?.replacementConcecpts[0]?.reason.includes('MANUAL_REPLACEMENT')">
        <img
        src="assets/grey-trash-bin.svg"
        (click)="removeManualReplacement('REMOVED_MANUAL_REPLACEMENT')"
        width="18px"
        height="18px"
        title="Remove {{actionText}}"
        aria-label="Subtract"
        class="grey-trash-bin-icon"
        alt="Subtract symbol shown when you're able to remove a concept" 
        />
    </span>
    <span *ngIf="!params?.data?.isHidden && showActionButton">
        <img
        src="assets/grey-add-symbol.svg"
        (click)="getSelectedRowData('add'); showActionButton = false;"
        width="18px"
        height="18px"
        title=""
        aria-label="Add"
        class="grey-add-symbol-icon"
        alt="Add symbol shown when you're able to add a concept" 
    />
    </span>
    <span *ngIf="params?.data?.isSearch && !showActionButton">
        <img
        src="assets/grey-close-icon.svg"
        (click)="getSelectedRowData('remove'); showActionButton = true;"
        width="18px"
        height="18px"
        title="Remove {{actionText}}"
        aria-label="Subtract"
        class="grey-close-icon"
        alt="Subtract symbol shown when you're able to remove a concept" 
    />
    </span>
    </ng-template>