.projects-dropdown-block {
    margin: auto 0;
}

.projects-drop-down {
    width: 250px;
}

.projects-drop-down .mat-select-arrow-wrapper {
    padding-top: 0 !important;
}

// no left margin for first child
.rt2-select-group > :first-child {
    margin-left: 0;
}

  // no right margin for last child
.rt2-select-group > :last-child {
    margin-right: 0;
}

  // margins for every child
.rt2-select-group > span {
    margin: 0 5px 5px;
}