<page-container class="page-container">
	<section>
		<div class="d-flex mb-10">
			<heading-with-count title="Project Teams" [count]="numberOfTeams"></heading-with-count>
			<span *ngIf="selectedOrganization && selectedOrganization.roles.includes('ADMIN')" class="col-md-auto float-right">
				<div>
					<span>
						To create a new team, first go to the
						<span class="pointer" title="Click create a new team, first go to the organization team page">
							<a href="{{ '/organizations/' + organizationId + '/teams' }}">organization team page</a>
						</span>
					</span>
				</div>
				<div>
					<span>
						To add an existing team to this project go to the
						<span class="pointer" title="Click add an existing team to this project go to the project configuration page">
							<a href="{{ '/organization/' + organizationId + '/edition/' + editionId + '/projects/' + projectId + '/configuration' }}">project configuration page</a>
						</span>
					</span>
				</div>
			</span>
		</div>

		<div class="dashboard-section">
			<div class="ag-theme-alpine">
				<ag-grid-angular [columnDefs]="gridColumnDefs" [rowData]="teamData" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" class="w-100-pct h-638"> </ag-grid-angular>
				<!-- description template -->
				<ng-template #descriptionSection let-params>
					<label class="ellipsed-label" container="body" placement="top" popoverTitle="Description">
						{{ params?.data?.description }}
					</label>
				</ng-template>
				<!-- people template-->
				<ng-template #peopleSection let-params>
					<div class="text-primary font-weight-bold pointer">{{ params?.data?.members }} Users</div>
				</ng-template>
			</div>
		</div>
	</section>
</page-container>
<scroll-top></scroll-top>

<ng-template #workflowDiagramDialog let-modal>
	<div class="modal-header review-modal-header">
		<h3 class="modal-title review-modal-title modal-header-font" id="modal-basic-title">Workflow Diagram</h3>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body review-modal-body">
		<img src="assets/wf-table.png" alt="Workflow Diagram" title="Workflow Diagram" aria-label="Workflow Diagram" class="mw-100-pct mh-100-pct" />
	</div>
</ng-template>
