<div *ngIf="showLoadingSpinner" class="loading"></div>

<div class="content-header">
    <div class="row header-title">

        <div class="d-flex jc-space-between w-100-pct projects-dropdown-block">
            <div>
              <span class="title-label">Projects</span>
            </div>

            <div class="d-flex rt2-select-group">
                <span class="projects-dropdown-block">
                    <!-- <span class="title-label">Organizations</span> -->
                    <mat-form-field floatLabel="never" appearance="legacy" class="projects-drop-down">
                        <mat-select [disableOptionCentering]="true" [placeholder]="selectedOrganization?.name ? selectedOrganization?.name : 'Select Organization'"
                            [(value)]="selectedOrganization" (selectionChange)="selectOrganization()">
                            <mat-option *ngFor="let organization of organizationList" [value]="organization" class="z-index-3">
                                {{ organization.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
        
                <span class="projects-dropdown-block">
                    <!-- <span class="title-label">Editions</span> -->
                    <mat-form-field floatLabel="never" appearance="legacy" class="projects-drop-down">
                        <mat-select [disableOptionCentering]="true" [placeholder]="selectedEdition?.name ? selectedEdition?.name : 'Selecr Edition'" [(value)]="selectedEdition"
                        (selectionChange)="selectedEdition()">
                            <mat-option *ngFor="let edition of editionList" [value]="edition" class="z-index-3">
                                {{ edition.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
        
                <span class="projects-dropdown-block">
                    <!-- <span class="title-label">Projects</span> -->
                    <mat-form-field floatLabel="never" appearance="legacy" class="projects-drop-down">
                        <mat-select [disabled]="organizationId === '0'" [placeholder]="selectedProject?.name ? selectedProject?.name : 'Select Project'"
                        [disableOptionCentering]="true" [(value)]="selectedProject" (selectionChange)="selectProject()">
                            <mat-option *ngFor="let project of projectList" [value]="project" class="z-index-3">
                                {{ project.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </div>
        </div>
    </div>

</div>

<div class="content-wrapper">
    <app-sidebar [menuItems]="menu" [id]="organizationId"></app-sidebar>
    <page-container class='rt2-container'>
        <section>
            <div class='d-flex mb-10'>
                <heading-with-count title="Project Teams" [count]="numberOfTeams"></heading-with-count>
                <span *ngIf="selectedOrganization && selectedOrganization.roles.includes('ADMIN')"
                    class="w-46-pct float-right">
                    <div>
                        <span>
                            To create a new team, first go to the
                            <span class="pointer" title="Click create a new team, first go to the organization team page">
                                <a href="{{'/organizations/' + selectedOrganization?.id + '/teams'}}">organization team page</a>
                            </span>
                        </span>
                    </div>
                    <div>
                        <span>
                            To add an existing team to this project go to the
                            <span class="pointer" title="Click add an existing team to this project go to the project configuration page">
                                <a href="{{'/organization/' + selectedOrganization?.id + '/edition/' + selectedEdition?.id + '/projects/' + selectedProject?.id + '/configuration' }}">project configuration page</a>
                            </span>
                        </span>
                    </div>
                </span>
            </div>

            <div class='dashboard-section'>
                <div class="ag-theme-alpine">
                    <ag-grid-angular *ngIf="showTable" [columnDefs]="gridColumnDefs" [rowData]="teamData" (gridReady)="onGridReady($event)" [gridOptions]="gridOptions" class="w-100-pct">
                    </ag-grid-angular>
                    <!-- description template -->
                    <ng-template #descriptionSection let-params>
                        <label class="ellipsed-label" container="body" placement="top" popoverTitle="Description">
                            {{ params?.data?.description }}
                        </label>
                    </ng-template>
                    <!-- people template-->
                    <ng-template #peopleSection let-params>
                        <span class="text-primary font-weight-bold pointer">{{params?.data?.members}} Users</span>
                    </ng-template>
                </div>
            </div>

        </section>
    </page-container>
</div>
<scroll-top></scroll-top>

<ng-template #workflowDiagramDialog let-modal>
    <div class="modal-header review-modal-header">
        <h3 class="modal-title review-modal-title modal-header-font" id="modal-basic-title">
            Workflow Diagram
        </h3>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body review-modal-body">
        <img src="assets/wf-table.png" alt="Workflow Diagram" title="Workflow Diagram" aria-label="Workflow Diagram" class="mw-100-pct mh-100-pct" />
    </div>
</ng-template>
