////////////////////////////////////////////////////////////////////////
// WHITE ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$white: #ffffff;
.text-white {
    color: $white;
}
.bg-white {
    background-color: $white;
}

$alto-white: #e0e0e0;
.text-alto-white {
    color: $alto-white;
}
.bg-alto-white {
    background-color: $alto-white;
}

////////////////////////////////////////////////////////////////////////
// GREY ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$ghost-grey: #c8cfd6;
.text-ghost-grey {
    color: $ghost-grey;
}
.bg-ghost-grey {
    background-color: $ghost-grey;
}

$grey: #808080;
.text-grey {
    color: $grey;
}
.bg-grey {
    background-color: $grey;
}

$slate-grey: #708090;
.text-slate-grey {
    color: $slate-grey;
}
.bg-slate-grey {
    background-color: $slate-grey;
}

$river-bed: #434a55;
.text-river-bed {
    color: $river-bed;
}
.bg-river-bed {
    background-color: $river-bed;
}

////////////////////////////////////////////////////////////////////////
// BLACK ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$black: #000000;
.text-black {
    color: $black;
}
.bg-black {
    background-color: $black;
}

$bootstrap-black: #343a40;
.text-bootstrap-black {
    color: $bootstrap-black;
}
.bg-bootstrap-black {
    background-color: $bootstrap-black;
}

////////////////////////////////////////////////////////////////////////
// PURPLE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$wisteria: #a060ae;
.text-wisteria {
    color: $wisteria;
}
.bg-wisteria {
    background-color: $wisteria;
}

////////////////////////////////////////////////////////////////////////
// RED /////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$mandy: #eb4c59;
.text-mandy {
    color: $mandy;
}
.bg-mandy {
    background-color: $mandy;
}

////////////////////////////////////////////////////////////////////////
// GREEN ///////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$fruit-salad: #4ea24e;
.text-fruit-salad {
    color: $fruit-salad;
}
.bg-fruit-salad {
    background-color: $fruit-salad;
}

////////////////////////////////////////////////////////////////////////
// BLUE ////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$anakiwa: #c3e7fe;
.text-anakiwa {
    color: $anakiwa;
}
.bg-anakiwa {
    background-color: $anakiwa;
}

$cerulean: #00a9e0;
.text-cerulean {
    color: $cerulean;
}
.bg-cerulean {
    background-color: $cerulean;
}

$blumine: #124f6b;
.text-blumine {
    color: $blumine;
}
.bg-blumine {
    background-color: $blumine;
}

////////////////////////////////////////////////////////////////////////
// ORANGE //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$sea-buckthorn: #f8a73d;
.text-sea-buckthorn {
    color: $sea-buckthorn;
}
.bg-sea-buckthorn {
    background-color: $sea-buckthorn;
}

////////////////////////////////////////////////////////////////////////
// YELLOW //////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////
$candlelight: #fbdb13;
.text-candlelight {
    color: $candlelight;
}
.bg-candlelight {
    background-color: $candlelight;
}

$standard_font_size: 16px;
$standard_font_family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans serif;
$standard_font_color: black;
$standard_table_data_color: #666;
$standard_link_color: #00a4e4;
$standard_font_weight: 100;
$standard_primary_button_color: $cerulean;
$standard_default_button_color: #fdfdfd;
$success_color: green;
$error_color: red;
$warning_color: rgba(255, 239, 0, 1);
$change_highlight_color: rgba(255, 239, 0, 1);
$add_color: green;
$delete_color: red;
$action_button_color: #138cdd;
$inactive_text_color: rgb(170, 170, 170);
$inactive_row_color: rgb(241 222 222);
$header_font_family: "museo", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans serif;
$concept_details_color: rgba(0, 169, 224, 1);
