
<div class="content-header">
    <div class="row header-title">
        <span class="title-label">My Dashboard</span>
    </div>
</div>
<div class="content-wrapper">
    <div class='container-fluid mt-3'>
        <div class='row'>
            <div class='col-md-4 col-12'>
                <section>
                    <div class='section-header'>My Organization</div>
                    <div class='dashboard-section'>
                        <div class="dashboard-section-mid">
                            <ng-container *ngFor="let organization of organizationList">
                                <div class='section-list' *ngIf="organization.value">
                                    <!-- <img src='assets/sampels/u102.svg' /> -->
                                    <span [routerLink]="['/organizations/projects', organization.id]"><a>{{ organization.value }}</a></span>
                                </div>
                                </ng-container>
                        </div>
                        <div>
                            <create-new-organization-modal></create-new-organization-modal>
                        </div>
                    </div>
                </section>
                
                <section>
                    <div class='section-header'>My Projects</div>
                    <div class='dashboard-section'>
                        <div class="dashboard-section-mid">
                            <ng-container *ngFor="let project of projectList">
                                <div class='section-list' *ngIf="project.name">
                                    <span [routerLink]="['/projects', project.id]"><a>{{ project.name }}</a><i *ngIf="project.privateProject" class='fa fa-lock ml-2 text-muted'></i></span>
                                </div>
                                </ng-container>
                        </div>
                        <div>
                            <create-new-project-modal></create-new-project-modal>
                        </div>
                    </div>
                </section>
    
                <section>
                    <div class='section-header'>My Teams</div>
                    <div class='dashboard-section'>
                        <div class="dashboard-section-mid">
                            <ng-container *ngFor="let team of teamList">
                                <div class='section-list' *ngIf="team.name">
                                    <span [routerLink]="['/teams/people', team.id]"><a>{{ team.name }}</a></span>
                                </div>
                                </ng-container>
                        </div>
                        <div>
                            <create-new-team-modal></create-new-team-modal>
                        </div>
                    </div>
                </section>
            </div>
            <div class='col-md-8 col-12'>
                <section>
                    <div class='section-header'>My Refsets</div>
                    <div class='dashboard-section pr-2 pl-2'>
                        <!-- <mat-form-field class="example-form-field" appearance="fill">
                                    <input matInput type="text"
                                        placeholder="Search"
                                        [(ngModel)]="searchText" />
                                    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="searchText = ''">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field> -->
                        <div class="ag-theme-alpine">
                            <ag-grid-angular
                                [columnDefs]="columnDefs"
                                [rowData]="data"
                                (gridReady)="onGridReady($event)"
                                style="width: 100%">
                            </ag-grid-angular>
                        </div>
                    </div>
                </section>
                <div class='text-right'>
                    <a class='text-muted light mr-3'>show admin</a>
                    <a class='text-muted light'>hide admin</a>
                </div>
            </div>
        </div>
    </div>
</div>