.container-toggled {
padding-left: 118px !important;
}

.library-app-refset-download {
margin-top: 1em;
}

.library-app-refset-discussion-list {
margin-top: 1.5em;
}

.project-refset-name {
margin-top: -0.5em;
}
