#project-name {
    margin-right: 20px;
    color: #555555;
    padding-left: 60px;
    font-size: 14px;
}

#workflow-diagram-img {
    max-width: 100%;
    max-height: 100%;
}

#refset-count {
    color: rgb(0, 164, 228);
}

#selected-project {
    justify-content: space-between;
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
    align-items: baseline;
    padding-left: 15px;
    padding-bottom: 10px;
}