<div *ngIf="showLoadingSpinner" class="loading"></div>

<div class="content-header">
    <div class="row header-title">
        <span class="title-label">Organizations</span>
        <mat-form-field appearance="outline" class="project-drop-down">
            <mat-label>{{selectedOrganization?.name ? selectedOrganization?.name : 'Choose Organization'}}</mat-label>
            <mat-select #detailsVersionSelect [disableOptionCentering]="true" [(value)]="selectedOrganization" (selectionChange)="selectOrganization($event)">
                <mat-option *ngFor="let organization of organizations" [value]="organization" style="z-index: 3">
                    {{ organization.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <span class="title-label">Projects</span>
        <mat-form-field appearance="outline" class="project-drop-down">
            <mat-label>{{selectedProject?.name ? selectedProject?.name : 'Choose Project'}}</mat-label>
            <mat-select [disabled]="organizationId === '0'" #detailsVersionSelect [disableOptionCentering]="true" [(value)]="selectedProject"
              (selectionChange)="showRefsets()">
                <mat-option *ngFor="let project of projectList" [value]="project" style="z-index: 3">
                    {{ project.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-md-auto page-title" *ngIf="selectedProject" style="
            margin-right: 20px;
            color: #555555;
            padding-left: 60px;
            font-size: 14px;
        ">
            <b>Project Name: </b><span>{{selectedProject?.name +
                &nbsp;&nbsp;" | "&nbsp;&nbsp;}}</span>

            <b>Organization Name: </b><span>{{selectedProject?.organization?.name +
                &nbsp;&nbsp;" | "&nbsp;&nbsp;}}</span>

            <b>Status: </b><span>{{(selectedProject?.privateProject ? 'Private' : 'Public') +
                &nbsp;&nbsp;" | "&nbsp;&nbsp;}}</span>
            <b>Project Role(s): </b><span>{{ getRoleString() }}</span>
        </div>
    </div>

</div>
<div class="content-wrapper">
    <app-sidebar [menuItems]="menu" [id]="organizationId"></app-sidebar>
    <div class='container-fluid mt-3'>
        <!-- Page Title -->
        <div *ngIf="selectedProject" style="
            width: 100%;
            justify-content: space-between;
            display: flex;
            padding-right: 20px;
            padding-top: 20px;
            align-items: baseline;
            padding-left: 15px;
            padding-bottom: 10px;
        " [class.container-toggled]="toggleService.isToggled">
            <div class="container-fluid page-title" style="display: inline; padding-left: 0px; color: rgb(0, 164, 228)">
                Reference Sets
                <span [hidden]="!numOfResults">{{ '(' + numOfResults + ')' }}</span>
            </div>
            <div style="display: inline">
                <create-new-refset [disabled]="!selectedProject?.roles?.includes('AUTHOR') || !selectedProject" [inputProperties]="createRefsetProperties"
                  [existingBranchVersions]="existingBranchVersions">
                </create-new-refset>
            </div>
            <div style="display: inline; padding-left: 10px">
                <button disabled mat-raised-button color="primary" aria-hidden="false" #createRefsetButton class="refset-tool-action-button isDisabled"
                  aria-label="Bulk Publication" title="Bulk Publication" ng-reflect-color="primary">
                    Bulk Publication
                </button>
            </div>
        </div>

        <!-- Refset Table -->
        <div class="container-fluid" [class.container-toggled]="toggleService.isToggled">
            <ag-grid-angular *ngIf="showTable" #projectTable class="ag-theme-alpine refset-tool-ag-grid refset-tool-ag-grid-filter" [columnDefs]="columnDefs"
              [gridOptions]="refsetGridOptions" style="width: 100%">
            </ag-grid-angular>

            <app-pagination *ngIf="showTable" #projectPaging [pageSize]="refsetGridPaging.pageSize" [gridOptions]="refsetGridOptions"
              [pageSizeOptions]="refsetGridPaging.pageSizeOptions" [totalKnown]="refsetGridPaging.totalKnown" [manualStateRefresh]="refsetGridPaging.manualStateRefresh"
              [isSelectedProject]="isSelectedProject" [isProjectsPage]="true">
            </app-pagination>

            <!-- Name Templates -->
            <ng-template #projectNameSection let-params>
                {{ params?.value }}

                <mat-icon *ngIf="params?.data?.privateRefset" aria-hidden="false" #directoryPrivateIcon class="refset-tool-table-action-icon" aria-label="Private Refset"
                  title="Private Refset">
                    lock
                </mat-icon>
            </ng-template>

            <!-- Workflow Status Templates -->
            <ng-template #projectWorkflowStatusSection let-params>
                <workflow-status-badge [status]="params?.data?.workflowStatus"></workflow-status-badge>
            </ng-template>

            <!-- Action Templates -->
            <ng-template #projectActionSection let-params>
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-2">
                            <app-refset-download [isDetailPage]="false" *ngIf="params?.data?.downloadable" [disabled]="!params?.data?.downloadable"
                              [refset]="getRefsetRow(params.data.refsetId)">
                            </app-refset-download>
                        </div>

                        <div class="col-2">
                            <app-refset-discussion-list *ngIf="params && params.data" type="REFSET" [refsetInternalId]="params.data.id" [refsetId]="params.data.refsetId"
                              [refsetName]="params.data.name" [roles]="params.data.roles" [(discussionCount)]="params.data.unresolvedDiscussionCount">
                            </app-refset-discussion-list>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<scroll-top></scroll-top>

<ng-template #workflowDiagramDialog let-modal>
    <div class="modal-header review-modal-header">
        <h4 class="modal-title review-modal-title" id="modal-basic-title">
            Workflow Diagram
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container-fluid ready-for-review-container-fluid">
        <div class="modal-body review-modal-body">
            <img src="assets/wf-table.png" alt="Workflow Diagram" title="Workflow Diagram" aria-label="Workflow Diagram" style="max-width: 100%; max-height: 100%;" />
        </div>
    </div>
</ng-template>