@if (showLoadingSpinner) {
	<div class="loading"></div>
}

<!-- Heading -->
<div class="top-search-bar content-header">
	<div class="d-flex">
		<div class="row">
			<div class="col-md-9 page-title" title="{{ mapsetInfo.refSetName }}">
				<div class="mt2-wrap">{{ mapsetInfo.refSetName }}</div>
			</div>
			<div class="col-md-3 d-flex header-menu">
				<mat-form-field
					floatLabel="never"
					class="directoryViewFilterField format-version-drop-down m-r-10"
					appearance="fill"
					*ngIf="!waitingForResponse && versionStatuses.length > 1"
				>
					<mat-label></mat-label>
					<mat-select
						title="Choose Version"
						placeholder="Choose Version"
						#directoryViewSelect
						[(value)]="selectedVersion"
						(selectionChange)="changedVersionStatus()"
					>
						<mat-option *ngFor="let option of versionStatuses" [value]="option" class="no-checkbox"> {{ option }} </mat-option>
					</mat-select>
				</mat-form-field>
				<span *ngIf="versionStatuses.length === 1" class="list-font align-self-center m-r-5">{{ versionStatuses[0] }}</span>
			</div>
		</div>
		<div class="col-md-auto d-flex">
			<div class="col">
				<button
					class="library-app-refset-download mr-15"
					(click)="openDownloadModal(downloadModal)"
					[disabled]="!selectedVersion || numOfMembers === 0"
					[hidden]="waitingForResponse"
				>
					<div class="mat-button-wrapper mapset-download-icon">
						<i class="fa fa-download fa-lg" title="Download Map Set" aria-label="Download Map Set"></i>
					</div>
				</button>
			</div>
			<div class="col" *ngIf="mapsetInfo.workflowStatus === 'IN_UPGRADE'">
				<button (click)="goToMapsInactivesPage(mapsetCode)" class="library-app-refset-notes mr-20 no-padding" [hidden]="waitingForResponse">
					<img src="/assets/no-preview-icon.svg" title="Manage Inactives" aria-label="Manage Inactives" class="no-preview-icon" />
				</button>
			</div>
			<div class="col">
				<button
					(click)="openToBeDevelopedModal(toBeDevelopedModal)"
					class="library-app-refset-notes mr-20 no-padding"
					[hidden]="waitingForResponse"
				>
					<img
						src="/assets/comment-dots-regular.svg"
						title="{{ `${libraryOnly ? 'View' : 'Add'} Feedback` }}"
						aria-label="Add Feedback"
						class="discussion-icon"
					/>
				</button>
			</div>
		</div>
	</div>
</div>
<div [hidden]="loaded || waitingForResponse" class="section-loading">Loading...</div>
<div class="row edit-actions" *ngIf="loaded && !waitingForResponse && !libraryOnly">
	<div class="col"></div>
	<div class="col-md-auto no-margin-top">
		<span class="date-column">
			<ng-container>
				<span *ngFor="let edit of editWF"
					><button
						*ngIf="(editStatus && edit.label === editWF[0].label) || (!editStatus && edit.label !== editWF[0].label)"
						type="button"
						[title]="edit.label"
						class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
						(click)="editWorkflow(edit.value)"
						[disabled]="!showEdit"
						(ngClass)="({ disabled: !showEdit })"
					>
						{{ edit.label }}
					</button></span
				>
			</ng-container>
			<ng-container>
				<span *ngFor="let upgrade of upgradeWF"
					><button
						*ngIf="(upgradeStatus && upgrade.label === upgradeWF[0].label) || (!upgradeStatus && upgrade.label !== upgradeWF[0].label)"
						type="button"
						[title]="upgrade.label"
						class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
						(click)="upgradeWorkflow(upgrade.value)"
						[disabled]="!showUpgrade"
						(ngClass)="({ disabled: !showUpgrade })"
					>
						{{ upgrade.label }}
					</button></span
				>
			</ng-container>
			<ng-container>
				<span *ngFor="let review of reviewWF"
					><button
						*ngIf="
							(requestStatus && review.label === reviewWF[0].label) ||
							(!requestStatus &&
								review.label !== reviewWF[0].label &&
								review.label !== reviewWF[3].label &&
								review.label !== reviewWF[4].label &&
								!reviewStatus) ||
							(!requestStatus && (review.label === reviewWF[3].label || review.label === reviewWF[4].label) && reviewStatus)
						"
						type="button"
						[title]="review.label"
						class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
						(click)="reviewWorkflow(review.value)"
						[disabled]="!showReview"
						(ngClass)="({ disabled: !showReview })"
					>
						{{ review.label }}
					</button></span
				>
			</ng-container>
			<ng-container>
				<!-- || (!publishStatus && startPublish && !finishPublish && publish.label === publishWF[2].label) ||
							(!publishStatus && !startPublish && finishPublish && publish.label === publishWF[3].label) -->
				<span *ngFor="let publish of publishWF"
					><button
						*ngIf="
							(publishStatus && publish.label === publishWF[0].label) ||
							(!publishStatus && startPublish && !finishPublish && publish.label === publishWF[1].label)
						"
						type="button"
						[title]="publish.label"
						class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
						(click)="publishWorkflow(publish.value)"
						[disabled]="!showPublish"
						(ngClass)="({ disabled: !showPublish })"
					>
						{{ publish.label }}
					</button></span
				>
			</ng-container>
		</span>
	</div>
</div>
<div class="mt2-container" (window:resize)="onResize($event)" [ngClass]="{ 'm-t-20': libraryOnly }">
	<div class="metadata-collapsible-container">
		<div class="switch-view" *ngIf="showMappingsSection && loaded" [hidden]="numOfMembers === 0">
			<mat-label class="switch-label">view by</mat-label>
			<mat-button-toggle-group
				#group="matButtonToggleGroup"
				[value]="showMapTable"
				(change)="changeMappingsView(group.value)"
				[hideSingleSelectionIndicator]="true"
			>
				<mat-button-toggle value="table" title="View by table"> table </mat-button-toggle>
				<mat-button-toggle value="record" title="View by record"> record </mat-button-toggle>
			</mat-button-toggle-group>
		</div>
		<div class="metadata-collapsible-container-group-header pointer" (click)="toggleSectionView('showMappingsSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Mappings&nbsp; </span><span [hidden]="!maxTotal">{{ '(' + maxTotal + ')' }}</span>
				<span [hidden]="maxTotal">{{ '(0)' }}</span>
				<div class="sub-header-font">
					<span [hidden]="checkedNum === 0">selected {{ checkedNum }}</span>
				</div>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showMappingsSection"
				alt="Collapse Button"
				title="Collapse Mappings"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showMappingsSection"
				alt="Expand Button"
				title="Expand Mappings"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>
		<div class="d-flex dropdown-group" *ngIf="showMappingsSection && numOfMembers > 0">
			<div class="col-md-auto mt2-directory-chooser-column" *ngIf="showTable && showMapTable === 'table'">
				<app-column-chooser
					title="Select Columns to Display"
					[gridColumnApi]="refsetGridApi"
					[useDialog]="useDialog"
					[columnStorage]="mapsetRecordsColumnStorage"
					[manualStateRefresh]="manualStateRefresh"
				>
				</app-column-chooser>
			</div>

			<div class="col-md-auto mt2-directory-chooser-column">
				<mat-menu #searchMenu="matMenu" class="search-box">
					<div class="dropdown directoryInput" (click)="$event.stopPropagation()">
						<mat-form-field floatLabel="never" id="directorySearchInputField" title="Enter Search Criteria">
							<mat-label *ngIf="searchInput === ''" class="search-label">Search by Source PT (enter at least 3 characters)</mat-label>
							<input
								matInput
								#directorySearchInput
								id="directorySearchInput"
								[(ngModel)]="searchInput"
								(input)="onSearchChange()"
								(click)="$event.stopPropagation()"
							/>
						</mat-form-field>
						<span
							class="clear-search"
							*ngIf="searchInput.length > 0"
							title="Clear Search"
							(click)="$event.stopPropagation(); clearSearch()"
							>&#10005;</span
						><br />
						<span *ngIf="searchInput.length > 0 && loaded" class="mappings-section"
							>{{ refsetGridApi.getDisplayedRowCount() > 0 ? refsetGridApi.getDisplayedRowCount() : 'No ' }} result{{
								refsetGridApi.getDisplayedRowCount() > 1 ? 's' : ''
							}}
							found</span
						><span *ngIf="!loaded" class="mappings-section">Loading...</span>
					</div></mat-menu
				>
				<div class="menu-inline">
					<button
						[matMenuTriggerFor]="searchMenu"
						(menuOpened)="menuOpened()"
						[matBadgeHidden]="searchInput === ''"
						matBadgeSize="small"
						[matBadge]="'.'"
						aria-label="Search"
						title="Search"
						class="mapset-download-icon menu-button"
					>
						<mat-icon class="menu-icon">search</mat-icon>
						<span class="menu-label">Search</span>
					</button>
				</div>
			</div>
			<div class="col-md-auto mt2-directory-chooser-column">
				<div class="menu-inline">
					<button [matMenuTriggerFor]="actionMenu" aria-label="Actions" title="Actions" class="mapset-download-icon menu-button">
						<mat-icon class="menu-icon">more_vert</mat-icon>
						<span class="menu-label">Actions</span>
					</button>
				</div>
				<mat-menu #actionMenu="matMenu">
					<button mat-menu-item (click)="selectAction('select')" *ngIf="showMapTable === 'record'">
						<span>Check/Uncheck All</span>
					</button>
					<button mat-menu-item (click)="selectAction('view')" [disabled]="checkedNum !== 1">
						<span>View Selected Mapping</span>
					</button>
					<button
						*ngIf="!libraryOnly && hasUserRoles('SPECIALIST') === true"
						mat-menu-item
						(click)="selectAction('edit')"
						[disabled]="checkedNum !== 1 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Edit Selected Mapping</span>
					</button>
					<button
						*ngIf="!libraryOnly && hasUserRoles('SPECIALIST') === true"
						mat-menu-item
						(click)="selectAction('batch')"
						[disabled]="checkedNum < 2 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Batch Edit Selected Mappings</span>
					</button>
					<button
						*ngIf="!libraryOnly && hasUserRoles('SPECIALIST')"
						mat-menu-item
						(click)="selectAction('list')"
						[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Batch Edit Maps By List</span>
					</button>
					<ng-container *ngIf="!libraryOnly && workFlowMapActions.length">
						<span *ngFor="let action of workFlowMapActions">
							<button type="button" [title]="action.label" mat-menu-item (click)="reviewMapWorkflow(action.value)">
								<span> {{ action.label }}</span>
							</button></span
						>
					</ng-container>
					<div class="dropdown-divider"></div>
					<button mat-menu-item (click)="selectAction('selected')" [disabled]="checkedNum < 1">
						<span>Download Selected Mappings</span>
					</button>
					<button mat-menu-item (click)="selectAction('all')">
						<span>Download Entire Map Set</span>
					</button>
					<div class="dropdown-divider"></div>
					<button mat-menu-item (click)="selectAction('report_nrmr')">
						<span>Norway Replacement Map Report</span>
					</button>
					<button mat-menu-item (click)="selectAction('report_nrtr')">
						<span>Norway Replacement Translation Report</span>
					</button>
					<button mat-menu-item (click)="selectAction('report_hur')">
						<span>Helsedirektoratet Untranslated Report</span>
					</button>
				</mat-menu>
			</div>
		</div>
		<div class="metadata-section-background" *ngIf="showMappingsSection">
			<div
				id="directoryHeader"
				class="directory-header ag-theme-alpine"
				[hidden]="!showMappingsSection || !loaded || numOfMembers === 0 || showMapTable !== 'table'"
			></div>
			<div [hidden]="!showMappingsSection" class="section-background mappings-section" [ngClass]="{ overflow: showMapTable !== 'table' }">
				<div [hidden]="!loaded" *ngIf="numOfMembers === 0" class="status-no-results">No Results to Show</div>
				<div class="content-wrapper" [hidden]="showMapTable !== 'table' || !loaded">
					<div #gridWrapper class="grid-wrapper">
						<ag-grid-angular
							*ngIf="showTable"
							id="directoryTable"
							#directoryTable
							[hidden]="!loaded || numOfMembers === 0 || showMapTable !== 'table'"
							class="ag-theme-alpine mt2-ag-grid mt2-ag-grid-no-filter"
							style="width: 100%; height: 100%"
							[columnDefs]="columnDefs"
							[suppressRowTransform]="true"
							[gridOptions]="refsetGridOptions"
							[rowSelection]="rowSelection"
							(firstDataRendered)="onResize(500)"
						>
						</ag-grid-angular>
					</div>
				</div>

				<div [hidden]="!loaded" *ngIf="showMapTable !== 'table'" class="content-wrapper">
					<div *ngFor="let record of mapsetData; index as i">
						<div class="record-row" [ngClass]="{ 'odd-row': 0 === i % 2 }" *ngIf="!record.spanned">
							<div class="col-12 row">
								<div class="d-flex col-10 row">
									<div class="checkbox-column">
										<label class="checkbox-override" title="Check/Uncheck All"
											><input
												type="checkbox"
												(change)="checkboxRowSelect($event, record.index)"
												[checked]="record.checked" /><span class="checkbox-container"></span
										></label>
									</div>
									<div class="col-11 code-name">
										{{ record.name }}, <span class="code-link" (click)="goToMappingPage(record.code)">{{ record.code }}</span>
									</div>

									<div *ngFor="let entry of record.mapEntries; index as x" class="row col-12 second-row">
										<div class="col-4 row mb-3">
											<div class="record-num col-1">{{ entry.group || '1' }}/{{ entry.priority }}</div>
											<div class="record-code col-2">{{ entry.toCode }}</div>
											<div class="record-name col-8">
												{{ entry.toName }}
												<span *ngIf="getModuleLanguageIcon(entry.moduleId) !== ''">
													<img
														class="mapset-mod-icon"
														*ngIf="entry.moduleId !== internationalId"
														src="{{ 'assets/flags/' + getModuleLanguageIcon(entry.moduleId) + '.png' }}"
														title="{{ getModuleLanguageName(entry.moduleId) }}"
														aria-label="{{ getModuleLanguageName(entry.moduleId) }}"
												/></span>
											</div>
										</div>
										<div class="col-8 row mb-3">
											<div class="info-box">
												<i class="fa-regular fa-handshake relation-icon"></i
												><span class="info-message">{{ entry.relation }}</span>
											</div>
											<div
												*ngFor="let advice of entry.advices; index as i"
												class="info-box"
												[hidden]="advice.indexOf('ALWAYS') > -1"
											>
												<i class="fa-solid fa-star-of-life advice-icon"></i><span class="info-message">{{ advice }}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="action-column col-2">
									<div class="action-btns">
										<ng-container
											[ngTemplateOutlet]="directoryActionSection"
											[ngTemplateOutletContext]="{ $implicit: record }"
										></ng-container>
									</div>
									<span class="date-column second-row" *ngIf="record?.modified"
										>Last Modified: {{ dateFormatter(record.modified) }}</span
									>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="directoryPaging" class="directory-paging ag-theme-alpine" [hidden]="true"></div>
		<div class="mt2-pagination-container" [hidden]="!loaded || numOfMembers === 0" *ngIf="showMappingsSection">
			<div class="mt2-pagination-top-row">
				<div *ngIf="paginationPages.totalPages > 1" class="mt2-pagination-buttons no-wrap">
					<button
						#paginationFirstPage
						mat-raised-button
						(click)="gridReset(); goToPage(0)"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === 0 }"
						title="Go To First Page"
						attr.aria-label="Go To First Page"
					>
						<mat-icon aria-hidden="false">first_page</mat-icon>
					</button>

					<button
						#paginationPreviousPage
						mat-raised-button
						(click)="goToPage(getCurrentPage() - 1)"
						title="Go To Previous Page {{ getCurrentPage() }}"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === 0 }"
						attr.aria-label="Go To Previous Page {{ getCurrentPage() }}"
					>
						<mat-icon aria-hidden="false">arrow_left</mat-icon>
					</button>

					<span *ngFor="let page of paginationPages.pages">
						<button
							#paginationPageNumber
							mat-raised-button
							class="pagination-page-buttons"
							[color]="getCurrentPage() + 1 === page ? 'primary' : ''"
							(click)="goToPage(page - 1)"
							attr.aria-label="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
							title="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
						>
							{{ page }}
						</button>
					</span>

					<button
						mat-button
						*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
						(click)="goToPage(paginationPages.startPage + 4)"
						class="pagination-page-buttons w-min-32 p-0"
						title="Go To Page {{ paginationPages.startPage + 5 }}"
						attr.aria-label="Go To Page {{ paginationPages.startPage + 5 }}"
					>
						...
					</button>

					<button
						mat-raised-button
						*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
						(click)="goToPage(paginationPages.totalPages)"
						class="pagination-page-buttons"
						attr.aria-label="Go To Page {{ paginationPages.totalPages }}"
						title="Go To Page {{ paginationPages.totalPages }}"
					>
						{{ paginationPages.totalPages }}
					</button>

					<button
						#paginationNextPage
						mat-raised-button
						(click)="goToPage(getCurrentPage() + 1)"
						title="Go To Next Page {{ getCurrentPage() + 2 }}"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages - 1 }"
						attr.aria-label="Go To Next Page {{ getCurrentPage() + 2 }}"
					>
						<mat-icon aria-hidden="false">arrow_right</mat-icon>
					</button>

					<button
						#paginationLastPage
						mat-raised-button
						(click)="goToPage(paginationPages.totalPages)"
						title="Go To Last Page ({{ paginationPages.totalPages }})"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages - 1 }"
						attr.aria-label="Go To Last Page {{ paginationPages.totalPages }}"
					>
						<mat-icon aria-hidden="false">last_page</mat-icon>
					</button>
				</div>

				<div class="mt2-pagination-bottom-row" *ngIf="showPaging">
					<span *ngFor="let sizeOption of refsetGridPaging.pageSizeOptions">
						<button
							mat-raised-button
							[color]="refsetGridPaging.pageSize === sizeOption ? 'secondary' : ''"
							class="pagination-page-buttons unthemed"
							(click)="setPageSize(sizeOption)"
							[hidden]="sizeOption > numOfMembers"
							title="{{ sizeOption }} Members per Page"
						>
							{{ sizeOption }}
						</button>
					</span>
				</div>
			</div>
			<div class="mt2-pagination-total-label directory-new-paging ag-theme-alpine" [hidden]="!showPaging">
				Showing
				<span class="fw-bold p-l-5 p-r-5"> {{ (getCurrentPage() + 1) * refsetGridPaging.pageSize - refsetGridPaging.pageSize + 1 }} </span> to
				<span class="fw-bold p-l-5 p-r-5">
					{{
						numOfMembers < (getCurrentPage() + 1) * refsetGridPaging.pageSize
							? numOfMembers
							: (getCurrentPage() + 1) * refsetGridPaging.pageSize
					}}
				</span>
				of <span class="fw-bold p-l-5 p-r-5"> {{ numOfMembers }} </span
				><span class="p-r-5" *ngIf="numOfMembers === 10000">maximum </span> results
			</div>
			<div class="mt2-pagination-total-label directory-new-paging ag-theme-alpine" [hidden]="showPaging">No results to show</div>
		</div>
	</div>
	<div class="metadata-collapsible-container">
		<div class="metadata-collapsible-container-group-header pointer" (click)="toggleSectionView('showMetadataSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Map Set Metadata</span>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showMetadataSection"
				alt="Collapse Button"
				title="Collapse Workflow History"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showMetadataSection"
				alt="Expand Button"
				title="Expand Workflow History"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>
		<div [hidden]="!showMetadataSection" class="section-background metadata-section">
			<div class="col-12 row metadata-group">
				<div class="record-row metadata-row d-flex">
					<div class="col-6 odd-row d-flex">
						<div class="code-name col-2">Map Set ID</div>
						{{ mapsetInfo.refSetCode }}
					</div>
					<div class="col-6 odd-row d-flex">
						<span class="date-column second-row"
							><div class="code-name col-2">Version Status</div>
							{{ mapsetInfo.versionStatus }}</span
						>
					</div>
				</div>
				<div class="record-row metadata-row d-flex">
					<div class="col-6 d-flex">
						<div class="code-name col-2">Map Set Name</div>
						{{ mapsetInfo.refSetName }}
					</div>
					<div class="col-6 d-flex">
						<span class="date-column second-row"
							><div class="code-name col-2">Version Date</div>
							{{ mapsetInfo.version }}</span
						>
					</div>
				</div>
				<div class="record-row metadata-row d-flex">
					<div class="col-6 odd-row d-flex">
						<div class="code-name col-2">Map from</div>
						{{ mapsetInfo.fromTerminology }} {{ mapsetInfo.fromVersion }}
					</div>
					<div class="col-6 odd-row d-flex">
						<span class="date-column second-row"
							><div class="code-name col-2">Last Modified</div>
							{{ dateFormatter(mapsetInfo.modified) }}</span
						>
					</div>
				</div>
				<div class="record-row metadata-row d-flex">
					<div class="col-6 d-flex">
						<div class="code-name col-2">Map to</div>
						{{ mapsetInfo.toTerminology }} {{ mapsetInfo.toVersion }}
					</div>
					<div class="col-6 d-flex">
						<span class="date-column second-row"
							><div class="code-name col-2">Language</div>
							<span *ngIf="getModuleLanguageIcon(mapsetInfo.moduleId) !== ''">
								<img
									class="mapset-mod-icon"
									*ngIf="mapsetInfo.moduleId !== internationalId"
									src="{{ 'assets/flags/' + getModuleLanguageIcon(mapsetInfo.moduleId) + '.png' }}"
									title="{{ getModuleLanguageName(mapsetInfo.moduleId) }}"
									aria-label="{{ getModuleLanguageName(mapsetInfo.moduleId) }}" /></span
						></span>
					</div>
				</div>
				<div class="record-row metadata-row d-flex">
					<div class="col-12 odd-row d-flex">
						<div class="code-name col-2">Current Branch</div>
						{{ mapsetInfo.editionBranch }}/REFSETS/REFSET-{{ mapsetInfo.refSetCode }}-{{ mapsetInfo.refsetBranchId
						}}<span *ngIf="!libraryOnly">/EDIT-{{ mapsetInfo.editBranchId }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="metadata-collapsible-container">
		<div class="metadata-collapsible-container-group-header pointer" (click)="toggleSectionView('showHistorySection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Workflow History</span>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showHistorySection"
				alt="Collapse Button"
				title="Collapse Workflow History"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showHistorySection"
				alt="Expand Button"
				title="Expand Workflow History"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>

		<div [hidden]="!showHistorySection" class="history-section">
			<div [hidden]="!historyLoaded" *ngIf="numOfRecords === 0" class="status-no-results">No Results to Show</div>
			<div class="content-wrapper" [hidden]="!showHistoryTable">
				<div #gridWrapperHistory class="grid-wrapper-history">
					<ag-grid-angular
						*ngIf="showHistoryTable"
						id="historyTable"
						#historyTable
						class="ag-theme-alpine mt2-ag-grid mt2-ag-grid-no-filter"
						style="width: 100%; height: 100%"
						[columnDefs]="historyColumnDefs"
						[suppressRowTransform]="true"
						[gridOptions]="historyGridOptions"
					>
					</ag-grid-angular>
				</div>
			</div>
		</div>
	</div>
	<!-- Workflow Status Templates -->
	<ng-template #workflowStatusSection let-params>
		<workflow-status-badge [status]="params?.value"> </workflow-status-badge>
	</ng-template>
	<ng-template #directoryInfoDialog let-data>
		<div class="container-fluid w-min-350 mt2-refset-metadata-column" id="directoryInformationSection">
			<div class="row mt2-refset-details-title-name d-block" title="{{ data.name }}" aria-label="{{ data.name }}">
				<p class="fs-18 mb-0 ml-10">{{ data.name }}</p>
				<p class="fs-16 ml-10">
					<span *ngIf="data?.versionStatus">{{ capitalizeFirstLetterOfString(data?.versionStatus) }}</span
					><span *ngIf="data?.versionDate">{{ ', ' + data?.versionDate }}</span>
				</p>
			</div>
			<refset-meta [refset]="data"></refset-meta>
		</div>
	</ng-template>

	<!-- Workflow Status Templates -->
	<ng-template #directoryWorkflowStatusSection let-params>
		<object [src]="uiUtility.toTitleCase(params?.data?.workflowStatus)">{{ params?.value }}</object>
	</ng-template>

	<!-- Check Templates -->
	<ng-template #directoryCheckSection let-params>
		<label class="checkbox-override" *ngIf="params?.value"
			><input type="checkbox" (change)="checkboxRowSelect($event, params?.data?.index)" [checked]="params?.data?.checked" /><span
				class="checkbox-container"
			></span
		></label>
	</ng-template>

	<!-- Name Templates -->
	<ng-template #directoryNameSection let-params>
		<span class="blue-link">{{ params?.value }}</span>
		<span *ngIf="params?.data?.modFlag !== ''">
			<img
				class="mapset-mod-icon"
				*ngIf="params?.data?.moduleId !== internationalId"
				src="{{ 'assets/flags/' + params?.data?.modFlag + '.png' }}"
				title="{{ params?.data?.modLang }}"
				aria-label="{{ params?.data?.modLang }}"
		/></span>
	</ng-template>

	<!-- Edition Templates -->
	<ng-template #directoryEditionSection let-params>
		<img
			(load)="showFlagIcon($event, true)"
			(error)="showFlagIcon($event, false)"
			src="{{ params?.data?.flagIcon }}"
			class="mt2-edition-flag"
			title="{{ params?.data?.editionName }} Flag"
			aria-label="{{ params?.data?.editionName }} Flag"
		/>
		{{ params?.data?.edition?.name }}
	</ng-template>

	<!-- Action Templates -->
	<ng-template #directoryActionSection let-params>
		<div class="d-flex" *ngIf="params?.value === true">
			<div class="col-6">
				<notes-modal [libraryOnly]="libraryOnly" [mapSetId]="mapsetInfo.id" [conceptCode]="params?.data?.code"></notes-modal>
			</div>

			<div class="col-6">
				<div class="library-app-refset-discussion-list" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
					<img
						src="/assets/comment-dots-regular.svg"
						title="{{ `${libraryOnly ? 'View' : 'Add'} Feedback` }}"
						aria-label="{{ `${libraryOnly ? 'View' : 'Add'} Feedback` }}"
						class="discussion-icon"
					/>
				</div>
			</div>
		</div>
	</ng-template>

	<!-- Advice Templates -->
	<ng-template #directoryAdviceSection let-params>
		<div class="advice-column" [hidden]="getValueLength(params) < 1">
			<div *ngFor="let item of getValueList(params)">
				<span [hidden]="item.indexOf('ALWAYS') > -1">
					<i class="fa-solid fa-star-of-life advice-icon-sm"></i><span title="{{ item }}">{{ item }}</span></span
				>
			</div>
		</div>
		<div [hidden]="getValueLength(params) !== 0">---</div>
	</ng-template>

	<ng-template #directoryCodeSection let-params>
		<span *ngIf="params?.value === 'No map entries available.'">
			{{ params?.value }}
		</span>
		<span *ngIf="params?.value !== 'No map entries available.' && params?.value !== undefined">
			<mat-chip-list *ngIf="params?.value.split('#')[0] !== '1/1&1'">
				<mat-chip
					class="mapset-chip"
					title="{{
						'Group ' +
							params?.value.split('#')[0].split('&')[0].split('/')[0] +
							', Entry ' +
							params?.value.split('#')[0].split('&')[0].split('/')[1]
					}}"
				>
					{{ params?.value.split('#')[0].split('&')[0] }}
				</mat-chip>
			</mat-chip-list>
			<span class="blue-link" title="{{ params?.value.split('#')[1] }}">{{ params?.value.split('#')[1] }}</span></span
		>
	</ng-template>

	<ng-template #directoryToNameSection let-params>
		<span *ngIf="params?.value === '---'">
			{{ params?.value }}
		</span>
		<span *ngIf="params?.value !== '---'">
			<span class="blue-link">{{ params?.value }}</span></span
		>
	</ng-template>

	<ng-template #directoryFeedbackDialog let-data>
		This functionality will be implemented in subsequent phases.
		<mat-form-field floatLabel="never" *ngIf="false">
			<mat-label>Feedback</mat-label>
			<input matInput [(ngModel)]="data.feedback" />
		</mat-form-field>
	</ng-template>

	<ng-template #toBeDevelopedModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">Coming Soon</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeToBeDevelopedModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>This feature is not yet available. Please check back later.</p>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" class="mt2-btn mt2-action-btn" (click)="closeToBeDevelopedModal()">Close</button>
		</div>
	</ng-template>

	<ng-template #batchListModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">Batch Edit Maps By List</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeBatchListModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body m-t-10">
			<textarea
				#batchModalList
				class="form-field-value notes-text"
				type="text"
				name="notes"
				placeholder="Enter a list of IDs. Use a comma, whitespace, or newline delimited Mapping Ids."
				[formControl]="batchListFC"
			></textarea>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" class="mt2-btn mt2-action-btn" (click)="closeBatchListModal()">Cancel</button>
			<button type="button" title="Edit" class="mt2-btn mt2-action-btn" (click)="submitBatchList()">Edit</button>
		</div>
	</ng-template>

	<ng-template #reportModal let-modal>
		<div class="modal-header rt2-modal-header">
			<div class="modal-title">{{ report?.title }}</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeReportModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body m-t-10">
			<p class="p-l-30 p-t-10 p-b-0">Are you sure you want to request this report?</p>
		</div>
		<div class="modal-footer rt2-modal-footer rt2-lockable rt2-btn-group">
			<button type="button" class="rt2-btn rt2-action-btn" (click)="closeReportModal()">Cancel</button>
			<button type="button" title="Edit" class="rt2-btn rt2-action-btn" (click)="requestReport()">Submit</button>
		</div>
	</ng-template>

	<ng-template #workFlowModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">{{ workFlowStatus.label }}</div>
			<button
				type="button"
				class="close dialog-close-x close-icon-font"
				title="Close"
				aria-label="Close"
				(click)="!waitingForResponse ? closeWorkFlowModal() : null"
			>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<p class="p-l-30 p-t-10 p-b-0">{{ workFlowStatus.message }}</p>
		<div class="modal-body m-t-5">
			<textarea
				#workFlowModalNotes
				class="form-field-value notes-text"
				type="text"
				name="notes"
				placeholder="enter status change notes..."
				[formControl]="workFlowNotesFC"
			></textarea>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" class="mt2-btn mt2-action-btn" (click)="!waitingForResponse ? closeWorkFlowModal() : null">Cancel</button>
			<button
				type="button"
				title="Confirm {{ workFlowStatus.label }}"
				class="mt2-btn mt2-action-btn"
				(click)="!waitingForResponse ? changeWorkFlowStatus() : null"
			>
				Confirm
			</button>
		</div>
	</ng-template>

	<ng-template #downloadModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">Download Map Set</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeDownloadModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" *ngIf="!downloading">
			<p>{{ downloadTitle }}</p>
			<div class="modal-error-message" *ngIf="downloadError">
				<div>{{ downloadError }}</div>
			</div>
			<div class="modal-select" *ngIf="downloadType === 'all'">
				<label class="modal-label">File Type: <span class="mandatory-field">*</span></label>
				<mat-form-field floatLabel="never" appearance="fill" class="form-field-header">
					<mat-select placeholder="Select a type" [ngModel]="types" [(value)]="selectedType" class="mt2-column-chooser-select">
						<mat-select-trigger class="trigger"
							><span *ngIf="!selectedType"> Select a type </span
							><span *ngIf="selectedType">{{ selectedType.display }}</span></mat-select-trigger
						>

						<mat-option *ngFor="let type of types" [value]="type" class="no-checkbox">
							{{ type.display }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="modal-select">
				<label class="modal-label">File Format: <span class="mandatory-field">*</span></label>
				<mat-form-field floatLabel="never" appearance="fill" class="form-field-header">
					<mat-select placeholder="Select a format" [ngModel]="formats" [(value)]="selectedFormat" class="mt2-column-chooser-select">
						<mat-select-trigger class="trigger"
							><span *ngIf="!selectedFormat"> Select a format </span
							><span *ngIf="selectedFormat">{{ selectedFormat.display }}</span></mat-select-trigger
						>

						<mat-option *ngFor="let format of formats" [value]="format" class="no-checkbox">
							{{ format.display }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="d-flex align-items-center justify-content-center m-3" *ngIf="downloadType === 'all'">
				<label class="modal-label">Export Metadata:</label>
				<mat-checkbox class="menu-checkbox" [(ngModel)]="selectExportMetadata"></mat-checkbox>
			</div>
		</div>
		<div class="modal-body" *ngIf="downloading">
			<p>Please wait, downloading...</p>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group" *ngIf="!downloading">
			<button type="button" title="Cancel" class="mt2-btn mt2-action-btn" (click)="closeDownloadModal()">Cancel</button>
			<button type="button" title="Download" class="mt2-btn mt2-action-btn" (click)="startDownload()">Download</button>
		</div>
	</ng-template>

	<ng-template #workFlowMapModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">{{ workFlowMapStatus.label }}</div>
			<button
				type="button"
				class="close dialog-close-x close-icon-font"
				title="Close"
				aria-label="Close"
				(click)="!waitingForMapResponse ? closeWorkFlowMapModal() : null"
			>
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<p class="p-l-30 p-t-10 p-b-0">{{ workFlowMapStatus.message }}</p>
		<div class="modal-body m-t-5">
			<textarea
				#workFlowMapModalNotes
				class="form-field-value notes-text"
				type="text"
				name="notes"
				placeholder="enter status change notes..."
				[formControl]="workFlowMapNotesFC"
			></textarea>
			<div class="user-selection" [hidden]="userList.length === 0 || hasWorkflowAction('assign') === false">
				<mat-form-field appearance="fill" floatLabel="never" class="advice-selection-box target-selection-box-advice">
					<mat-select #selectUser title="Select user to assign" placeholder="Select user to assign" [(value)]="selectedUser">
						<mat-option *ngFor="let user of userList" value="{{ user.id }}" title="{{ user.name }}" class="no-checkbox border-bottom"
							><span class="advice-item">
								<div class="line-clamp-2">{{ user.name }}</div></span
							></mat-option
						>
					</mat-select>
				</mat-form-field>
			</div>
			<span [hidden]="hasWorkflowAction('assign') === false" class="mappings-section m-l-10" *ngIf="userList.length === 0"
				>No users to assign.</span
			>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" class="mt2-btn mt2-action-btn" (click)="!waitingForMapResponse ? closeWorkFlowMapModal() : null">Cancel</button>
			<button
				type="button"
				title="Confirm {{ workFlowMapStatus.label }}"
				class="mt2-btn mt2-action-btn"
				(click)="!waitingForMapResponse ? changeWorkFlowMapStatus() : null"
			>
				Confirm
			</button>
		</div>
	</ng-template>
</div>
