<div *ngIf="showLoadingSpinner" class="loading"></div>

<!-- Search Bar -->
<div class="top-search-bar content-header">
	<div class="d-flex justify-content-end">
		<div class="col-md-auto d-flex">
			<div class="page-title rt2-wrap" title="{{ mapsetName }}">
				<span>{{ mapsetName }} </span>
			</div>
			<div class="col-md-auto p-l-20">
				<mat-form-field floatLabel="never" class="directoryViewFilterField format-version-drop-down" appearance="fill">
					<mat-label></mat-label>
					<mat-select title="Choose Version" placeholder="Choose Version" #directoryViewSelect [(value)]="selectedVersion" (selectionChange)="changedVersionStatus()">
						<mat-option *ngFor="let option of versionStatuses" [value]="option" class="no-checkbox"> {{ option }} </mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="col-md-auto d-flex p-r-40 mr-10">
			<div class="col-6">
				<button class="library-app-refset-download" (click)="openDownloadModal(downloadModal)" [disabled]="!selectedVersion || numOfMembers === 0">
					<div class="mat-button-wrapper mapset-download-icon">
						<i class="fa fa-download fa-lg" title="Download Map Set" aria-label="Download Map Set"></i>
					</div>
				</button>
			</div>
			<div class="col-6 p-l-10">
				<div class="library-app-refset-discussion-list" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
					<img src="/assets/comment-dots-regular.svg" title="Add Feedback" aria-label="Add Feedback" class="discussion-icon" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="rt2-container" (window:resize)="onResize($event)">
	<div class="metadata-collapsible-container m-t-20">
		<div class="switch-view" *ngIf="showMappingsSection" [hidden]="numOfMembers === 0">
			<mat-label class="switch-label">view by</mat-label>
			<mat-button-toggle-group #group="matButtonToggleGroup" [value]="showMapTable" (change)="changeMappingsView(group.value)">
				<mat-button-toggle value="table" title="View by table"> table </mat-button-toggle>
				<mat-button-toggle value="record" title="View by record"> record </mat-button-toggle>
			</mat-button-toggle-group>
		</div>
		<div class="metadata-collapsible-container-group-header pointer" (click)="toggleSectionView('showMappingsSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Mappings&nbsp; </span><span [hidden]="!numOfMembers">{{ '(' + numOfMembers + ')' }}</span> <span [hidden]="numOfMembers">{{ '(0)' }}</span>
				<div class="sub-header-font">
					<span [hidden]="checkedNum === 0">selected {{ checkedNum }}</span>
				</div>
			</div>
			<img src="assets/caret-up-solid.svg" *ngIf="!showMappingsSection" alt="Collapse Button" title="Collapse Mappings" aria-label="Collapse Button" class="caret-up-solid" />
			<img src="assets/caret-down-solid.svg" *ngIf="showMappingsSection" alt="Expand Button" title="Expand Mappings" aria-label="Expand Button" class="caret-down-solid" />
		</div>
		<div class="d-flex dropdown-group" *ngIf="showMappingsSection && numOfMembers > 0">
			<div class="col-md-auto rt2-directory-chooser-column" *ngIf="showTable && showMapTable === 'table'">
				<app-column-chooser title="Select Columns to Display" [gridColumnApi]="refsetGridColumnApi" [useDialog]="useDialog"> </app-column-chooser>
			</div>

			<div class="col-md-auto rt2-directory-chooser-column">
				<mat-menu #searchMenu="matMenu" class="search-box">
					<div class="dropdown directoryInput" (click)="$event.stopPropagation()">
						<mat-form-field floatLabel="never" id="directorySearchInputField" title="Enter Search Criteria">
							<mat-label *ngIf="searchInput === ''" class="search-label">Search by Source PT (enter at least 3 characters)</mat-label>
							<input matInput #directorySearchInput id="directorySearchInput" [(ngModel)]="searchInput" (input)="onSearchChange()" (click)="$event.stopPropagation()" />
						</mat-form-field>
						<span class="clear-search" (click)="$event.stopPropagation(); clearSearch()">&#10005;</span>
					</div></mat-menu
				>
				<div class="menu-inline">
					<button [matMenuTriggerFor]="searchMenu" aria-label="Search" title="Search" class="mapset-download-icon menu-button">
						<mat-icon class="menu-icon">search</mat-icon>
						<span class="menu-label">search</span>
					</button>
				</div>
			</div>
			<div class="col-md-auto rt2-directory-chooser-column">
				<div class="menu-inline">
					<button [matMenuTriggerFor]="actionMenu" aria-label="Actions" title="Actions" class="mapset-download-icon menu-button">
						<mat-icon class="menu-icon">more_vert</mat-icon>
						<span class="menu-label">Actions</span>
					</button>
				</div>
				<mat-menu #actionMenu="matMenu">
					<button mat-menu-item (click)="selectAction('select')" *ngIf="showMapTable === 'record'">
						<span>Check/Uncheck All</span>
					</button>
					<button mat-menu-item (click)="selectAction('view')" *ngIf="showMapTable === 'record'" [disabled]="checkedNum !== 1">
						<span>View Selected Mapping</span>
					</button>
					<button mat-menu-item (click)="selectAction('edit')" [disabled]="checkedNum !== 1">
						<span>Edit Selected Mapping</span>
					</button>
					<button mat-menu-item (click)="selectAction('batch')" [disabled]="checkedNum < 2">
						<span>Batch Edit Selected Mappings</span>
					</button>
					<button mat-menu-item (click)="selectAction('selected')" [disabled]="checkedNum < 1">
						<span>Download Selected Mappings</span>
					</button>
					<button mat-menu-item (click)="selectAction('all')">
						<span>Download Entire Map Set</span>
					</button>
				</mat-menu>
			</div>
		</div>
		<div id="directoryHeader" class="directory-header ag-theme-alpine" [hidden]="!showMappingsSection || !loaded || numOfMembers === 0 || showMapTable !== 'table'"></div>
		<div [hidden]="!showMappingsSection" class="section-background mappings-section" [ngClass]="{ 'overflow': showMapTable !== 'table' }">
			<div *ngIf="showMapTable === 'table'" [hidden]="loaded" class="section-loading">Loading...</div>
			<div [hidden]="!loaded" *ngIf="numOfMembers === 0" class="status-no-results">No Results to Show</div>
			<div class="content-wrapper" [hidden]="showMapTable !== 'table' || !loaded">
				<div class="grid-wrapper">
					<ag-grid-angular
						*ngIf="showTable"
						id="directoryTable"
						#directoryTable
						[hidden]="!loaded || numOfMembers === 0 || showMapTable !== 'table'"
						class="ag-theme-alpine rt2-ag-grid rt2-ag-grid-no-filter"
						style="width: 100%; height: 100%"
						[columnDefs]="columnDefs"
						[suppressRowTransform]="true"
						[gridOptions]="refsetGridOptions"
						[rowSelection]="rowSelection"
						(firstDataRendered)="onResize(500)">
					</ag-grid-angular>
				</div>
			</div>
			<div [hidden]="loaded" *ngIf="showMapTable !== 'table'" class="section-loading record-loading">Loading...</div>
			<div [hidden]="!loaded" *ngIf="showMapTable !== 'table'" class="content-wrapper">
				<div *ngFor="let record of mapsetData; index as i">
					<div class="record-row" [ngClass]="{ 'odd-row': 0 === i % 2 }" *ngIf="!record.spanned">
						<div class="col-12 row">
							<div class="d-flex col-10 row">
								<div class="checkbox-column">
									<label class="checkbox-override" title="Check/Uncheck All"
										><input type="checkbox" (change)="checkboxRowSelect($event, record.index)" [checked]="record.checked" /><span class="checkbox-container"></span
									></label>
								</div>
								<div class="col-11 code-name">
									{{ record.name }}, <span class="code-link" (click)="goToMappingPage(record.code)">{{ record.code }}</span>
								</div>

								<div *ngFor="let entry of record.mapEntries; index as x" class="row col-12 second-row">
									<div class="col-4 row mb-3">
										<div class="record-num col-1">{{ entry.group || '1' }}/{{ entry.priority }}</div>
										<div class="record-code col-2">{{ entry.toCode }}</div>
										<div class="record-name col-8">
											{{ entry.toName
											}}<mat-icon
												*ngIf="entry.released"
												aria-hidden="false"
												class="mat-button-wrapper mapset-intl-icon m-l-5"
												aria-label="SNOMED International"
												title="SNOMED International">
												<span class="material-symbols-outlined"> language_international </span>
											</mat-icon>
										</div>
									</div>
									<div class="col-8 row mb-3">
										<div class="info-box">
											<i class="fa-regular fa-handshake relation-icon"></i><span class="info-message">{{ entry.relation }}</span>
										</div>
										<div *ngFor="let advice of entry.advices; index as i" class="info-box" [hidden]="advice.indexOf('ALWAYS') > -1">
											<i class="fa-solid fa-star-of-life advice-icon"></i><span class="info-message">{{ advice }}</span>
										</div>
									</div>
								</div>
							</div>
							<div class="action-column col-2">
								<div class="action-btns">
									<template [ngTemplateOutlet]="directoryActionSection" [ngOutletContext]="{ $implicit: record }"></template>
								</div>
								<span class="date-column second-row">Last Updated: {{ dateFormatter(record.modified) }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="directoryPaging" class="directory-paging ag-theme-alpine" [hidden]="true"></div>
		<div class="rt2-pagination-container" [hidden]="!loaded || numOfMembers === 0 || !showMappingsSection">
			<div class="rt2-pagination-top-row">
				<div *ngIf="paginationPages.totalPages > 1" class="rt2-pagination-buttons">
					<button
						#paginationFirstPage
						mat-raised-button
						(click)="goToPage(0)"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === 0 }"
						title="Go To First Page"
						attr.aria-label="Go To First Page">
						<mat-icon aria-hidden="false">first_page</mat-icon>
					</button>

					<button
						#paginationPreviousPage
						mat-raised-button
						(click)="this.refsetGridApi.paginationGoToPreviousPage()"
						title="Go To Previous Page {{ getCurrentPage() }}"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === 0 }"
						attr.aria-label="Go To Previous Page {{ getCurrentPage() }}">
						<mat-icon aria-hidden="false">arrow_left</mat-icon>
					</button>

					<span *ngFor="let page of paginationPages.pages">
						<button
							#paginationPageNumber
							mat-raised-button
							class="pagination-page-buttons"
							[color]="getCurrentPage() + 1 === page ? 'primary' : ''"
							(click)="goToPage(page - 1)"
							attr.aria-label="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
							title="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}">
							{{ page }}
						</button>
					</span>

					<button
						mat-button
						*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
						(click)="goToPage(paginationPages.startPage + 4)"
						class="pagination-page-buttons w-min-32 p-0"
						title="Go To Page {{ paginationPages.startPage + 5 }}"
						attr.aria-label="Go To Page {{ paginationPages.startPage + 5 }}"
						title="Go To Page {{ paginationPages.startPage + 5 }}">
						...
					</button>

					<button
						mat-raised-button
						*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
						(click)="goToPage(paginationPages.totalPages)"
						class="pagination-page-buttons"
						attr.aria-label="Go To Page {{ paginationPages.totalPages }}"
						title="Go To Page {{ paginationPages.totalPages }}">
						{{ paginationPages.totalPages }}
					</button>

					<button
						#paginationNextPage
						mat-raised-button
						(click)="this.refsetGridApi.paginationGoToNextPage()"
						title="Go To Next Page {{ getCurrentPage() + 2 }}"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages }"
						attr.aria-label="Go To Next Page {{ getCurrentPage() + 2 }}">
						<mat-icon aria-hidden="false">arrow_right</mat-icon>
					</button>

					<button
						#paginationLastPage
						mat-raised-button
						(click)="goToPage(paginationPages.totalPages)"
						title="Go To Last Page ({{ paginationPages.totalPages }})"
						class="pagination-page-buttons"
						[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages }"
						attr.aria-label="Go To Last Page {{ paginationPages.totalPages }}">
						<mat-icon aria-hidden="false">last_page</mat-icon>
					</button>
				</div>

				<div class="rt2-pagination-bottom-row" *ngIf="showPaging">
					<span *ngFor="let sizeOption of refsetGridPaging.pageSizeOptions">
						<button
							mat-raised-button
							[color]="refsetGridPaging.pageSize === sizeOption ? 'secondary' : ''"
							class="pagination-page-buttons unthemed"
							(click)="setPageSize(sizeOption)"
							[hidden]="sizeOption > numOfMembers"
							title="{{ sizeOption }} Members per Page">
							{{ sizeOption }}
						</button>
					</span>
				</div>
			</div>
			<div class="rt2-pagination-total-label directory-new-paging ag-theme-alpine" [hidden]="!showPaging">
				Showing <span class="fw-bold p-l-5 p-r-5"> {{ (getCurrentPage() + 1) * refsetGridPaging.pageSize - refsetGridPaging.pageSize + 1 }} </span> to
				<span class="fw-bold p-l-5 p-r-5"> {{ numOfMembers < (getCurrentPage() + 1) * refsetGridPaging.pageSize ? numOfMembers : (getCurrentPage() + 1) * refsetGridPaging.pageSize }} </span>
				of <span class="fw-bold p-l-5 p-r-5"> {{ numOfMembers }} </span> results
			</div>
			<div class="rt2-pagination-total-label directory-new-paging ag-theme-alpine" [hidden]="showPaging">No results to show</div>
		</div>
	</div>
	<div class="metadata-collapsible-container">
		<div class="metadata-collapsible-container-group-header pointer" (click)="toggleSectionView('showMetadataSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Map Set Metadata</span>
			</div>
			<img src="assets/caret-up-solid.svg" *ngIf="!showMetadataSection" alt="Collapse Button" title="Collapse Workflow History" aria-label="Collapse Button" class="caret-up-solid" />
			<img src="assets/caret-down-solid.svg" *ngIf="showMetadataSection" alt="Expand Button" title="Expand Workflow History" aria-label="Expand Button" class="caret-down-solid" />
		</div>
		<div [hidden]="!showMetadataSection" class="section-background metadata-section overflow">
			<div class="d-flex dropdown-group">This feature is not yet available. Please check back later.</div>
		</div>
	</div>

	<div class="metadata-collapsible-container">
		<div class="metadata-collapsible-container-group-header pointer" (click)="toggleSectionView('showHistorySection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Workflow History</span>
			</div>
			<img src="assets/caret-up-solid.svg" *ngIf="!showHistorySection" alt="Collapse Button" title="Collapse Workflow History" aria-label="Collapse Button" class="caret-up-solid" />
			<img src="assets/caret-down-solid.svg" *ngIf="showHistorySection" alt="Expand Button" title="Expand Workflow History" aria-label="Expand Button" class="caret-down-solid" />
		</div>
		<div [hidden]="!showHistorySection" class="section-background history-section overflow">
			<div class="d-flex dropdown-group">This feature is not yet available. Please check back later.</div>
		</div>
	</div>

	<!-- Information Templates -->
	<ng-template #directoryInfoSection let-params>
		<div class="d-flex rt2-wrap">
			<div class="col-6">
				<button
					mat-icon-button
					aria-hidden="false"
					#directoryInfoIcon
					class="rt2-table-action-icon w-30 h-30"
					aria-label="View All Reference Set Metadata"
					title="View Reference Set Metadata"
					(click)="openInformation(params.data.refsetId)">
					<mat-icon class="scale-85-pct">information</mat-icon>
				</button>
			</div>
			<div class="col-6">
				<div *ngIf="params.data.memberSearchMatch" title="Search matches reference set member" class="member-search-icon general-icon-font">M</div>
			</div>
		</div>
	</ng-template>

	<ng-template #directoryInfoDialog let-data>
		<div class="container-fluid w-min-350 rt2-refset-metadata-column" id="directoryInformationSection">
			<div class="row rt2-refset-details-title-name d-block" title="{{ data.name }}" aria-label="{{ data.name }}">
				<p class="fs-18 mb-0 ml-10">{{ data.name }}</p>
				<p class="fs-16 ml-10">
					<span *ngIf="data?.versionStatus">{{ capitalizeFirstLetterOfString(data?.versionStatus) }}</span
					><span *ngIf="data?.versionDate">{{ ', ' + data?.versionDate }}</span>
				</p>
			</div>
			<refset-meta [refset]="data"></refset-meta>
		</div>
	</ng-template>

	<!-- Workflow Status Templates -->
	<ng-template #directoryWorkflowStatusSection let-params>
		<object [src]="uiUtility.toTitleCase(params?.data?.workflowStatus)">{{ params?.value }}</object>
	</ng-template>

	<!-- Check Templates -->
	<ng-template #directoryCheckSection let-params>
		<label class="checkbox-override" *ngIf="params?.value"
			><input type="checkbox" (change)="checkboxRowSelect($event, params?.data?.index)" [checked]="params?.data?.checked" />' + ' <span class="checkbox-container"></span
		></label>
	</ng-template>

	<!-- Name Templates -->
	<ng-template #directoryNameSection let-params>
		<span class="blue-link">{{ params?.value }}</span>
		<mat-icon *ngIf="params?.data?.released" aria-hidden="false" class="mat-button-wrapper mapset-intl-icon m-l-5" aria-label="SNOMED International" title="SNOMED International">
			<span class="material-symbols-outlined"> language_international </span>
		</mat-icon>
	</ng-template>

	<!-- Edition Templates -->
	<ng-template #directoryEditionSection let-params>
		<img
			(load)="showFlagIcon($event, true)"
			(error)="showFlagIcon($event, false)"
			src="{{ params?.data?.flagIcon }}"
			class="rt2-edition-flag"
			title="{{ params?.data?.editionName }} Flag"
			aria-label="{{ params?.data?.editionName }} Flag" />
		{{ params?.data?.edition?.name }}
	</ng-template>

	<!-- Action Templates -->
	<ng-template #directoryActionSection let-params>
		<div class="d-flex" *ngIf="params?.value === true">
			<div class="col-6">
				<div class="library-app-refset-notes" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
					<img src="/assets/sticky-note.svg" title="View Notes" aria-label="View Notes" class="mapset-notes-icon" />
				</div>
			</div>

			<div class="col-6">
				<div class="library-app-refset-discussion-list" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
					<img src="/assets/comment-dots-regular.svg" title="View Feedback" aria-label="View Feedback" class="discussion-icon" />
				</div>
			</div>
		</div>
	</ng-template>

	<!-- Advice Templates -->
	<ng-template #directoryAdviceSection let-params>
		<div class="advice-column" [ngStyle]="{ 'line-height': 50 / getValueLength(params) > 10 ? 50 / getValueLength(params) + 'px' : 10 + 'px' }" [hidden]="getValueLength(params) < 1">
			<div *ngFor="let item of getValueList(params)">
				<span title="{{ item }}" [hidden]="item.indexOf('ALWAYS') > -1">{{ item }}</span>
			</div>
		</div>
		<div [hidden]="getValueLength(params) !== 0">---</div>
	</ng-template>

	<ng-template #directoryCodeSection let-params>
		<span *ngIf="params?.value === 'No map entries available.'">
			{{ params?.value }}
		</span>
		<span *ngIf="params?.value !== 'No map entries available.' && params?.value !== undefined">
			<mat-chip-list *ngIf="params?.value.split('#')[0] !== '1/1&1'">
				<mat-chip class="mapset-chip" title="{{ 'Group ' + params?.value.split('#')[0].split('&')[0].split('/')[0] + ', Entry ' + params?.value.split('#')[0].split('&')[0].split('/')[1] }}">
					{{ params?.value.split('#')[0].split('&')[0] }}
				</mat-chip>
			</mat-chip-list>
			<span class="blue-link" title="{{ params?.value.split('#')[1] }}">{{ params?.value.split('#')[1] }}</span></span
		>
	</ng-template>

	<ng-template #directoryToNameSection let-params>
		<span *ngIf="params?.value === '---'">
			{{ params?.value }}
		</span>
		<span *ngIf="params?.value !== '---'">
			<span class="blue-link">{{ params?.value }}</span></span
		>
	</ng-template>

	<ng-template #directoryFeedbackDialog let-data>
		This functionality will be implemented in subsequent phases.
		<mat-form-field floatLabel="never" *ngIf="false">
			<mat-label>Feedback</mat-label>
			<input matInput [(ngModel)]="data.feedback" />
		</mat-form-field>
	</ng-template>

	<ng-template #toBeDevelopedModal let-modal>
		<div class="modal-header rt2-modal-header">
			<div class="modal-title">Coming Soon</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeToBeDevelopedModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>This feature is not yet available. Please check back later.</p>
		</div>
		<div class="modal-footer rt2-modal-footer rt2-lockable rt2-btn-group">
			<button type="button" class="rt2-btn rt2-action-btn" (click)="closeToBeDevelopedModal()">Close</button>
		</div>
	</ng-template>

	<ng-template #downloadModal let-modal>
		<div class="modal-header rt2-modal-header">
			<div class="modal-title">Download Map Set</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeDownloadModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>Download {{ mapsetName }} {{ selectedVersion }}</p>
			<div class="modal-select">
				<label class="modal-label">Format: </label>
				<mat-form-field floatLabel="never" appearance="fill" class="form-field-header">
					<mat-select placeholder="Select a format" [ngModel]="formats" [(value)]="selectedFormat" class="rt2-column-chooser-select">
						<mat-select-trigger class="trigger"
							><span *ngIf="!selectedFormat"> Select a format </span><span *ngIf="selectedFormat">{{ selectedFormat.display }}</span></mat-select-trigger
						>

						<mat-option *ngFor="let format of formats" [value]="format" class="no-checkbox">
							{{ format.display }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div>
		<div class="modal-footer rt2-modal-footer rt2-lockable rt2-btn-group">
			<button type="button" title="Cancel" class="rt2-btn rt2-action-btn" (click)="closeDownloadModal()">Cancel</button>
			<button type="button" title="Download" class="rt2-btn rt2-action-btn" (click)="startDownload()">Download</button>
		</div>
	</ng-template>

	<scroll-top></scroll-top>
</div>
