<ng-template #workFlowMapModal let-modal>
	<div class="modal-header mt2-modal-header">
		<div class="modal-title">{{ workFlowMapStatus.label }}</div>
		<button
			type="button"
			class="close dialog-close-x close-icon-font"
			title="Close"
			aria-label="Close"
			(click)="!waitingForMapResponse ? closeWorkFlowMapModal() : null"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<p class="p-l-30 p-t-10 p-b-0">{{ workFlowMapStatus.message }}</p>
	<div class="modal-body m-t-5">
		<textarea
			#workFlowMapModalNotes
			class="form-field-value notes-text"
			type="text"
			name="notes"
			placeholder="enter status change notes..."
			[formControl]="workFlowMapNotesFC"
		></textarea>
		<div class="user-selection" [hidden]="userList.length === 0 || hasWorkflowMapAction('assign') === false">
			<mat-form-field appearance="fill" floatLabel="never">
				<mat-select #selectUser title="Select user to assign" placeholder="Select user to assign" [(value)]="selectedUser">
					<mat-option *ngFor="let user of userList" value="{{ user.id }}" title="{{ user.name }}" class="no-checkbox border-bottom"
						><span>
							<div class="line-clamp-2">{{ user.name }}</div></span
						></mat-option
					>
				</mat-select>
			</mat-form-field>
		</div>
		<span [hidden]="hasWorkflowMapAction('assign') === false" class="mappings-section m-l-10" *ngIf="userList.length === 0"
			>No users to assign.</span
		>
	</div>
	<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
		<button type="button" class="mt2-btn mt2-action-btn" (click)="!waitingForMapResponse ? closeWorkFlowMapModal() : null">Cancel</button>
		<button
			type="button"
			title="Confirm {{ workFlowMapStatus.label }}"
			class="mt2-btn mt2-action-btn"
			(click)="!waitingForMapResponse ? changeWorkFlowMapStatus() : null"
		>
			Confirm
		</button>
	</div>
</ng-template>
