.notes-text {
	width: 100%;
	min-height: 100px;
}

.mappings-section {
	color: #666;
	font-size: 12px;
}

.user-selection {
	width: 400px;
	margin-top: 10px;
	mat-form-field {
		width: 400px;
		background: #fff;
	}
}
