<button mat-menu-item (click)="openShareModal(shareFormDialog)" title="Share Reference Set" aria-label="Share">Share Reference Set</button>

<ng-template #shareFormDialog let-modal>
    <div class="modal-header rt2-modal-header">
        <h4 class="modal-title rt2-modal-title" id="modal-basic-title">
            {{modalTitle}}
        </h4>
        <button type="button" class="close dialog-close-x" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="dialog-close-x">&times;</span>
        </button>
    </div>
    <div class="container-fluid ready-for-review-container-fluid" [formGroup]="form" *ngIf="form">
        <div class="modal-body pr-0 pl-0 pb-0">
            <div class="topic-content mb-3">
                <mat-form-field floatLabel="never" appearance="fill" class="discussion-topic-field">
                    <mat-label>Recipient Email</mat-label>
                    <input matInput type="text" formControlName="recipient" ngbAutofocus placeholder="Enter recipient email address" />
                </mat-form-field>
            </div>
            <div class="topic-content mb-3">
                <mat-form-field floatLabel="never" appearance="fill" class="discussion-topic-field">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="additionalMessage" ngbAutofocus placeholder="Add an optional message for your set recipient"></textarea>
                </mat-form-field>
            </div>
            <div class="text-right">
                <button mat-raised-button color="primary" aria-hidden="false" [disabled]="!form.valid" class="refset-tool-action-button refset-action-button"
                  ng-reflect-color="primary" (click)="onSave()">
                    Send
                </button>
            </div>

            <h4 class="text-main font-weight-bold">Get Link</h4>
            <div>
                Get a direct link to this Reference set
                <div class="text-right">
                    <button mat-raised-button color="primary" aria-hidden="false" class="refset-tool-action-button refset-action-button mb-3" (click)="getLink()">
                        Get URL
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer rt2-modal-footer">
        <button mat-raised-button aria-hidden="false" class="refset-tool-action-button refset-action-button default-btn" (click)="modal.dismiss('Cross click');">
            Cancel
        </button>
    </div>
</ng-template>