<div *ngIf="showLoadingSpinner" class="loading"></div>

<!-- Heading -->
<div class="top-search-bar content-header">
	<div class="d-flex">
		<div class="row">
			<div class="col-md-9 page-title" *ngIf="loaded && !loadError" title="Batch Edit ({{ mapsetData.length }})">
				<div class="mt2-wrap">Batch Edit ({{ mapsetData.length }})</div>
			</div>
		</div>
		<div *ngIf="loaded" class="col-md-3 d-flex header-menu">
			<span class="list-font align-self-center m-r-10"> {{ selectedVersion }}</span>
		</div>
	</div>
</div>
<div [hidden]="loaded || loadError" class="section-loading m-b-20">Loading...</div>
<div [hidden]="!loadError || !loaded" class="section-loading m-b-20">Error loading, please contact support.</div>
<div [hidden]="!saving" class="section-saving">Please wait, save in progress...</div>
<div class="dropdown-group row edit-actions m-b-10 m-t-10" *ngIf="loaded && !saving && !loadError">
	<div class="col-10"></div>
	<div class="action-column col-2 no-margin-top">
		<span class="date-column">
			<button
				type="button"
				title="Undo Changes"
				class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
				(click)="reloadMapping()"
				[disabled]="!userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT'"
				(ngClass)="({ disabled: !userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
			>
				Undo Changes
			</button>
			<button
				type="button"
				title="Save Mapping"
				class="mt2-btn mt2-action-btn col-md-6 no-margin-top"
				(click)="saveMappings()"
				[disabled]="!userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT'"
				(ngClass)="({ disabled: !userChanged || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
			>
				Save Mappings
			</button>
		</span>
	</div>
</div>
<div class="mt2-container">
	<div class="metadata-collapsible-container col-md-12 config-scrolling-section" *ngIf="loaded && !loadError">
		<div class="metadata-collapsible-container-group-header header-adjust pointer" (click)="toggleSectionView('showConfigSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>Target Configuration</span>
				<div class="sub-header-font">
					<span [hidden]="checkedNum === 0">selected {{ checkedNum }}</span>
				</div>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showConfigSection"
				alt="Collapse Button"
				title="Collapse Target Configuration"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showConfigSection"
				alt="Expand Button"
				title="Expand Target Configuration"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>
		<div class="row d-flex dropdown-group" *ngIf="showConfigSection && loaded && !saving && !loadError">
			<div class="col-md-auto mt2-directory-chooser-column m-l-20">
				<mat-menu #settingsMenu="matMenu" class="menu">
					<div class="heading">TABLE SETTINGS</div>
					<div class="mat-mdc-menu-content">
						FILTER BY
						<div class="d-flex mb-2 align-items-center">
							<mat-form-field appearance="fill" floatLabel="never" class="filter-box">
								<mat-select
									#filterWorkflowStatus
									title="Filter by Workflow Status"
									placeholder="Workflow Status"
									[(value)]="workflowFilter"
									(click)="$event.stopPropagation()"
									(selectionChange)="filterSelection('workflow')"
								>
									<mat-option *ngFor="let workflow of workflowFilterOptions" value="{{ workflow.value }}" class="no-checkbox">{{
										workflow.label
									}}</mat-option>
								</mat-select>
							</mat-form-field>
							<span
								class="clear-search ml-20"
								*ngIf="workflowFilter"
								title="Clear Filter"
								(click)="$event.stopPropagation(); workflowFilter = ''; filterSelection('workflow')"
							>
								&#10005;
							</span>
						</div>
						<div class="d-flex mb-5 align-items-center">
							<mat-form-field appearance="fill" floatLabel="never" class="filter-box">
								<mat-select
									#filterAssignedUser
									title="Filter by Assigned To"
									placeholder="Assigned To"
									[(value)]="assignedFilter"
									(click)="$event.stopPropagation()"
									(selectionChange)="filterSelection('assigned')"
								>
									<mat-option
										*ngFor="let assigned of assignedFilterOptions"
										value="{{ assigned.value }}"
										class="no-checkbox line-clamp-2"
										title="{{ assigned.label }}"
										>{{ assigned.label }}</mat-option
									>
								</mat-select> </mat-form-field
							><span
								class="clear-search ml-20"
								*ngIf="assignedFilter"
								title="Clear Filter"
								(click)="$event.stopPropagation(); assignedFilter = ''; filterSelection('assigned')"
							>
								&#10005;
							</span>
						</div>
					</div>
					<app-column-chooser
						title="Select Columns to Display"
						[gridColumnApi]="gridApi"
						[useDialog]="useDialog"
						[columnStorage]="mapsetBatchColumnStorage"
						[manualStateRefresh]="manualStateRefresh"
					>
					</app-column-chooser
				></mat-menu>

				<div class="menu-inline">
					<button
						[matMenuTriggerFor]="settingsMenu"
						[matBadgeHidden]="workflowFilter === '' && assignedFilter === ''"
						matBadgeSize="small"
						[matBadge]="'.'"
						aria-label="Settings"
						title="Settings"
						class="mapset-download-icon menu-button"
					>
						<mat-icon class="menu-icon">settings</mat-icon>
						<span class="menu-label">Settings</span>
					</button>
				</div>
			</div>
			<div class="col-md-auto mt2-directory-chooser-column">
				<mat-menu #searchMenu="matMenu" class="search-box">
					<div class="dropdown directoryInput" (click)="$event.stopPropagation()">
						<div class="d-flex align-items-center">
							<mat-form-field floatLabel="never" id="directorySearchInputField" title="Enter Search Criteria">
								<mat-label *ngIf="searchInput === ''" class="search-label"
									>Search by Source PT (enter at least 3 characters)</mat-label
								>
								<input
									matInput
									#directorySearchInput
									id="directorySearchInput"
									[(ngModel)]="searchInput"
									(keydown.enter)="onSearchChange()"
									(click)="$event.stopPropagation()"
								/>
							</mat-form-field>
							<span
								class="clear-search"
								*ngIf="searchInput.length > 0"
								title="Clear Search"
								(click)="$event.stopPropagation(); clearSearch()"
							>
								&#10005;
							</span>
						</div>
						<div class="d-flex col-md-12">
							<div class="col-10"></div>
							<div class="col-2">
								<button
									type="button"
									title="Search"
									class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
									(click)="onSearchChange()"
									[disabled]="searchInput === ''"
									(ngClass)="({ disabled: searchInput === '' })"
								>
									Search
								</button>
							</div>
						</div>
					</div></mat-menu
				>
				<div class="menu-inline">
					<button
						[matMenuTriggerFor]="searchMenu"
						(menuOpened)="menuOpened()"
						[matBadgeHidden]="searchInput === ''"
						matBadgeSize="small"
						[matBadge]="'.'"
						aria-label="Search"
						title="Search"
						class="mapset-download-icon menu-button"
					>
						<mat-icon class="menu-icon">search</mat-icon>
						<span class="menu-label">Search</span>
					</button>
				</div>
			</div>
			<div class="col-md-auto mt2-directory-chooser-column">
				<div class="menu-inline">
					<button [matMenuTriggerFor]="actionMenu" aria-label="Actions" title="Actions" class="mapset-download-icon menu-button">
						<mat-icon class="menu-icon">more_vert</mat-icon>
						<span class="menu-label">Actions</span>
					</button>
				</div>
				<mat-menu #actionMenu="matMenu">
					<button mat-menu-item (click)="selectAction('view')" [disabled]="checkedNum !== 1">
						<span>View Selected Mapping</span>
					</button>
					<button
						*ngIf="batchEditEnabled"
						mat-menu-item
						(click)="selectAction('set')"
						[disabled]="checkedNum < 1 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Set Empty Target to Mappings</span>
					</button>
					<button
						*ngIf="batchEditEnabled"
						mat-menu-item
						(click)="selectAction('add')"
						[disabled]="checkedNum < 1 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Add Entry to Mappings</span>
					</button>
					<button
						*ngIf="batchEditEnabled"
						mat-menu-item
						(click)="selectAction('group')"
						[disabled]="checkedNum < 1 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Change Group of Mappings</span>
					</button>
					<!-- <button mat-menu-item (click)="selectAction('advice')" [disabled]="checkedNum < 1">
						<span>Add Advice to Mappings</span>
					</button> -->
					<button
						*ngIf="batchEditEnabled"
						mat-menu-item
						(click)="openConfirmationModal()"
						[disabled]="checkedNum < 1 || mapsetData.length < 2 || mapsetInfo.workflowStatus !== 'IN_EDIT'"
					>
						<span>Remove selected Mappings</span>
					</button>
					<!-- <button mat-menu-item (click)="selectAction('note')" [disabled]="checkedNum < 1">
						<span>View or Add Authoring Note</span>
					</button>
					<button mat-menu-item (click)="selectAction('comm')" [disabled]="checkedNum < 1">
						<span>View or Add Authoring Communication</span>
					</button> -->
					<ng-container *ngIf="workFlowMapActions.length > 0 && mapsetInfo.workflowStatus === 'IN_EDIT'">
						<span *ngFor="let action of workFlowMapActions">
							<button type="button" [title]="action.label" mat-menu-item (click)="reviewMapWorkflow(action.value, action.status)">
								<span> {{ action.label }}</span>
							</button></span
						>
					</ng-container>
				</mat-menu>
			</div>
		</div>
		<div class="metadata-section-background" [hidden]="!showConfigSection">
			<div id="directoryHeader" class="directory-header ag-theme-alpine" [hidden]="!showConfigSection || !loaded || saving || loadError"></div>
			<div id="config-background" [hidden]="!showConfigSection || !loaded || saving || loadError" class="section-background config-section">
				<div class="grid-wrapper config-scrolling">
					<ag-grid-angular
						[columnDefs]="gridColumnDefs"
						[rowData]="mapsetData"
						(gridReady)="onGridReady($event)"
						[gridOptions]="gridOptions"
						class="ag-theme-alpine mt2-ag-grid mt2-ag-grid-no-filter"
						[suppressScrollOnNewData]="true"
						[rowClassRules]="rowClassRules"
					>
					</ag-grid-angular>

					<!--Group Popover-->
					<div
						class="group-popover"
						id="group-popover"
						[ngStyle]="{ top: popoverLocationY + 'px', left: popoverLocationX + 'px' }"
						[ngClass]="showGroupPopover ? 'show' : 'hide'"
					>
						<div class="popup-handle popup-handle-top"></div>
						<img
							src="assets/grey-close-icon.svg"
							(click)="closeGroup()"
							width="12px"
							height="12px"
							title="Close"
							aria-label="Close"
							class="grey-close-icon"
							alt="Close"
						/>
						<div class="col mappings-section m-l-20">
							<div class="m-t-20 m-b-10">
								<div>
									<label class="m-r-10">Group</label>
									<mat-form-field floatLabel="never" id="groupInputField" title="Enter Group" class="adjust-mat-input-sm">
										<input
											type="number"
											matInput
											#groupInput
											placeholder="Enter Group"
											id="groupCodeInput"
											(keydown)="numberOnly($event)"
											[formControl]="groupFC"
											class="target-input"
										/>
									</mat-form-field>
									<span class="clear-search" title="Clear Group" (click)="clearGroupInput()">&#10005;</span>
								</div>
								<div>
									<label class="m-r-10">Entry</label>
									<mat-form-field floatLabel="never" id="entryInputField" title="Enter Entry" class="adjust-mat-input-sm">
										<input
											type="number"
											matInput
											#priorityInput
											placeholder="Enter Entry"
											id="entryCodeInput"
											(keydown)="numberOnly($event)"
											[formControl]="priorityFC"
											class="target-input"
										/>
									</mat-form-field>
									<span class="clear-search" title="Clear Entry" (click)="clearPriorityInput()">&#10005;</span>
								</div>
							</div>
						</div>
						<div class="modal-footer mt-10 mt2-lockable mt2-btn-group">
							<button
								type="button"
								title="Save"
								class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
								[disabled]="!groupFC.value || groupFC.value === '0' || !priorityFC.value || priorityFC.value === '0'"
								(click)="setGroup()"
							>
								Save
							</button>
						</div>
					</div>

					<!--Target Popover-->
					<div
						class="target-popover"
						id="target-popover"
						[ngStyle]="{ top: popoverLocationY + 'px', left: popoverLocationX + 'px' }"
						[ngClass]="showTargetPopover ? 'show' : 'hide'"
					>
						<div class="popup-handle popup-handle-top"></div>
						<img
							src="assets/grey-close-icon.svg"
							(click)="closeTarget()"
							width="12px"
							height="12px"
							title="Close"
							aria-label="Close"
							class="grey-close-icon"
							alt="Close"
						/>
						<div class="col mappings-section m-l-20 m-r-20">
							<div class="m-t-20 m-b-10">
								<form (ngSubmit)="onKeyPress($event)" class="max-width m-t-5 type-ahead-form">
									<span class="type-head-append">
										<i class="fa-solid fa-magnifying-glass svg-inline"></i>
										<input
											#targetInput
											id="typeahead-basic"
											type="text"
											class="form-control"
											[(ngModel)]="query"
											[formControl]="targetFC"
											title="Search Target Code or Name (enter at least 2 characters, case sensitive)"
											[placeholder]="'Search Target Code or Name'"
											[ngbTypeahead]="searchAutoComplete"
											[resultFormatter]="formatter"
											[inputFormatter]="formatter"
											[resultTemplate]="rt"
											(selectItem)="selectItemFromMenu($event)"
											[focusFirst]="false"
										/>
										<span class="clear-search" title="Clear Search" (click)="clearTargetInput()">&#10005;</span>
									</span>
								</form>
							</div>
							<span class="mappings-section m-b-10">{{ targetToName }}</span>
						</div>

						<div class="modal-footer mt-20 mb-10 mt2-lockable mt2-btn-group align-items-center">
							<div class="mappings-section code-link no-wrap" title="Search Browser" (click)="searchBrowser()">
								<svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#2269e8">
									<path
										d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
									/>
								</svg>
								Search Browser
							</div>
							<button
								type="button"
								title="Set as Target"
								class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
								(click)="setTarget(targetFC.value, targetToName)"
								[disabled]="!foundConceptCode || !selectedTarget || mapsetInfo.workflowStatus !== 'IN_EDIT'"
								(ngClass)="({ disabled: !foundConceptCode || !selectedTarget || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
							>
								Set as Target
							</button>
							<button
								type="button"
								title="Set Empty Target"
								class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
								[disabled]="!selectedTarget || mapsetInfo.workflowStatus !== 'IN_EDIT'"
								(ngClass)="({ disabled: !selectedTarget || mapsetInfo.workflowStatus !== 'IN_EDIT' })"
								(click)="setEmptyTarget()"
							>
								Set Empty Target
							</button>
						</div>
					</div>

					<!--Advice Popover-->
					<div
						class="advice-popover"
						id="advice-popover"
						[ngStyle]="{ top: popoverLocationY + 'px', left: popoverLocationX + 'px' }"
						[ngClass]="showAdvicePopover ? 'show' : 'hide'"
					>
						<div class="popup-handle popup-handle-top"></div>
						<img
							src="assets/grey-close-icon.svg"
							(click)="closePopover()"
							width="12px"
							height="12px"
							title="Close"
							aria-label="Close"
							class="grey-close-icon"
							alt="Close"
						/>
						<ul>
							<li *ngFor="let advice of popover_updateAdviceList" class="advice-list-item" [hidden]="advice.indexOf('ALWAYS') > -1">
								<span title="{{ advice }}" class="code-color">{{ advice }}</span
								><span title="Remove advice" class="clear-search adjust-clear" (click)="removeAdviceFromList(advice)">&#10005;</span>
							</li>
						</ul>
						<div class="target-selection advice-selection" [hidden]="popover_addAdviceList.length === 0">
							<mat-form-field appearance="fill" floatLabel="never" class="advice-selection-box target-selection-box-advice">
								<mat-select
									#selectAdvice
									title="Select advice to add"
									placeholder="Select advice to add"
									[(value)]="popover_adviceToAdd"
									(selectionChange)="addAdviceToList(popover_uuid)"
								>
									<mat-option
										*ngFor="let advice of popover_addAdviceList"
										value="{{ advice }}"
										title="{{ advice }}"
										class="no-checkbox border-bottom"
										><span class="advice-item">
											<i class="fa-solid fa-star-of-life advice-icon-sm"></i>
											<div class="line-clamp-2">{{ advice }}</div></span
										></mat-option
									>
								</mat-select>
							</mat-form-field>
						</div>
						<span class="mappings-section m-l-20" *ngIf="popover_addAdviceList.length === 0 && mapAdvices.length > 0"
							>No advice to add.</span
						>
						<div class="modal-footer mt-10 mt2-lockable mt2-btn-group">
							<button
								type="button"
								title="Save"
								class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
								(click)="setAdvice()"
							>
								Save
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="metadata-collapsible-container col-md-12 mb-10" *ngIf="loaded && !loadError" #secondWindow>
		<div class="metadata-collapsible-container-group-header header-adjust pointer" (click)="toggleSectionView('showBrowserSection')">
			<div class="metadata-collapsible-container-title page-header-font">
				<span>ICD10 Terminology Browser</span>
			</div>
			<img
				src="assets/caret-up-solid.svg"
				*ngIf="!showBrowserSection"
				alt="Collapse Button"
				title="Collapse ICD10 Terminology Browser"
				aria-label="Collapse Button"
				class="caret-up-solid"
			/>
			<img
				src="assets/caret-down-solid.svg"
				*ngIf="showBrowserSection"
				alt="Expand Button"
				title="Expand ICD10 Terminology Browser"
				aria-label="Expand Button"
				class="caret-down-solid"
			/>
		</div>
		<div class="row d-flex dropdown-group" *ngIf="showBrowserSection && !saving">
			<div class="col-md-auto mt2-directory-chooser-column m-l-20">
				<app-column-chooser title="Select Columns to Display" [gridColumnApi]="browserApi" [useDialog]="useDialog"> </app-column-chooser>
			</div>
			<div class="col-md-auto mt2-directory-chooser-column">
				<mat-menu #browserSearchMenu="matMenu" class="search-box">
					<div class="dropdown directoryInput" (click)="$event.stopPropagation()">
						<div class="d-flex align-items-center">
							<mat-form-field floatLabel="never" id="browserSearchInputField" title="Enter Search Criteria">
								<mat-label *ngIf="searchBrowserInput === ''" class="search-label"
									>Search by Source PT (enter at least 3 characters)</mat-label
								>
								<input
									matInput
									#browserSearchInput
									id="browserSearchInput"
									[(ngModel)]="searchBrowserInput"
									(keydown.enter)="onBrowserSearchChange()"
									(click)="$event.stopPropagation()"
								/>
							</mat-form-field>
							<span
								class="clear-search"
								*ngIf="searchBrowserInput.length > 0"
								title="Clear Search"
								(click)="$event.stopPropagation(); clearBrowserSearch()"
							>
								&#10005;
							</span>
						</div>
						<div class="d-flex col-md-12">
							<div class="col-10"></div>
							<div class="col-2">
								<button
									type="button"
									title="Search"
									class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
									(click)="onBrowserSearchChange()"
									[disabled]="searchBrowserInput.length < 3"
									(ngClass)="({ disabled: searchBrowserInput.length < 3 })"
								>
									Search
								</button>
							</div>
						</div>
					</div></mat-menu
				>
				<div class="menu-inline">
					<button
						#searchMenuTrigger="matMenuTrigger"
						[matMenuTriggerFor]="browserSearchMenu"
						(menuOpened)="menuBrowserOpened()"
						[matBadgeHidden]="searchBrowserInput === ''"
						matBadgeSize="small"
						[matBadge]="'.'"
						aria-label="Search"
						title="Search"
						class="mapset-download-icon menu-button"
					>
						<mat-icon class="menu-icon">search</mat-icon>
						<span class="menu-label">Search</span>
					</button>
				</div>
			</div>
		</div>
		<div class="metadata-section-background" [hidden]="!showBrowserSection && !saving">
			<div id="browserHeader" class="directory-header ag-theme-alpine" [hidden]="!showBrowserSection || saving"></div>
			<div id="config-background" [hidden]="!showBrowserSection || !browserLoaded || saving" class="section-background config-section">
				<as-split direction="horizontal" gutterSize="4" class="browser-split">
					<as-split-area [lockSize]="true" [size]="conceptDetail ? 50 : 100">
						<div #browserWrapper class="grid-wrapper browser-scrolling" [hidden]="numOfMembers === 0">
							<ag-grid-angular
								*ngIf="showTable"
								[columnDefs]="browserColumnDefs"
								style="width: 100%; height: 100%"
								(gridReady)="onBrowserReady($event)"
								[gridOptions]="browserOptions"
								class="ag-theme-alpine mt2-ag-grid mt2-ag-grid-no-filter"
							>
							</ag-grid-angular>
						</div>

						<div id="directoryPaging" class="directory-paging ag-theme-alpine" [hidden]="true"></div>
						<div class="mt2-pagination-container" [hidden]="!browserLoaded" *ngIf="showBrowserSection && !saving">
							<div class="mt2-pagination-top-row" *ngIf="showPaging">
								<div *ngIf="paginationPages.totalPages > 1" class="mt2-pagination-buttons no-wrap">
									<button
										#paginationFirstPage
										mat-raised-button
										(click)="goToPage(0)"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === 0 }"
										title="Go To First Page"
										attr.aria-label="Go To First Page"
									>
										<mat-icon aria-hidden="false">first_page</mat-icon>
									</button>

									<button
										#paginationPreviousPage
										mat-raised-button
										(click)="goToPage(getCurrentPage() - 1)"
										title="Go To Previous Page {{ getCurrentPage() }}"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === 0 }"
										attr.aria-label="Go To Previous Page {{ getCurrentPage() }}"
									>
										<mat-icon aria-hidden="false">arrow_left</mat-icon>
									</button>

									<span *ngFor="let page of paginationPages.pages">
										<button
											#paginationPageNumber
											mat-raised-button
											class="pagination-page-buttons"
											[color]="getCurrentPage() + 1 === page ? 'primary' : ''"
											(click)="goToPage(page - 1)"
											attr.aria-label="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
											title="{{ getCurrentPage() + 1 === page ? 'Current' : 'Go To' }} Page {{ page }}"
										>
											{{ page }}
										</button>
									</span>

									<button
										mat-button
										*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
										(click)="goToPage(paginationPages.startPage + 4)"
										class="pagination-page-buttons w-min-32 p-0"
										title="Go To Page {{ paginationPages.startPage + 5 }}"
										attr.aria-label="Go To Page {{ paginationPages.startPage + 5 }}"
										title="Go To Page {{ paginationPages.startPage + 5 }}"
									>
										...
									</button>

									<button
										mat-raised-button
										*ngIf="paginationPages.totalPages - paginationPages.startPage > 5"
										(click)="goToPage(paginationPages.totalPages)"
										class="pagination-page-buttons"
										attr.aria-label="Go To Page {{ paginationPages.totalPages }}"
										title="Go To Page {{ paginationPages.totalPages }}"
									>
										{{ paginationPages.totalPages }}
									</button>

									<button
										#paginationNextPage
										mat-raised-button
										(click)="goToPage(getCurrentPage() + 1)"
										title="Go To Next Page {{ getCurrentPage() + 2 }}"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages }"
										attr.aria-label="Go To Next Page {{ getCurrentPage() + 2 }}"
									>
										<mat-icon aria-hidden="false">arrow_right</mat-icon>
									</button>

									<button
										#paginationLastPage
										mat-raised-button
										(click)="goToPage(paginationPages.totalPages)"
										title="Go To Last Page ({{ paginationPages.totalPages }})"
										class="pagination-page-buttons"
										[ngClass]="{ disabled: getCurrentPage() === paginationPages.totalPages }"
										attr.aria-label="Go To Last Page {{ paginationPages.totalPages }}"
									>
										<mat-icon aria-hidden="false">last_page</mat-icon>
									</button>
								</div>

								<div class="mt2-pagination-bottom-row" *ngIf="showPaging">
									<span *ngFor="let sizeOption of browserPaging.pageSizeOptions">
										<button
											mat-raised-button
											[color]="browserPaging.pageSize === sizeOption ? 'secondary' : ''"
											class="pagination-page-buttons unthemed"
											(click)="setPageSize(sizeOption)"
											[hidden]="sizeOption > numOfMembers"
											title="{{ sizeOption }} Members per Page"
										>
											{{ sizeOption }}
										</button>
									</span>
								</div>
							</div>
							<div class="mt2-pagination-total-label directory-new-paging ag-theme-alpine" [hidden]="!showPaging">
								Showing
								<span class="fw-bold p-l-5 p-r-5">
									{{ (getCurrentPage() + 1) * browserPaging.pageSize - browserPaging.pageSize + 1 }}
								</span>
								to
								<span class="fw-bold p-l-5 p-r-5">
									{{
										numOfMembers < (getCurrentPage() + 1) * browserPaging.pageSize
											? numOfMembers
											: (getCurrentPage() + 1) * browserPaging.pageSize
									}}
								</span>
								of <span class="fw-bold p-l-5"> {{ numOfMembers }} </span> results
							</div>
							<div class="mt2-pagination-total-label directory-new-paging ag-theme-alpine text-center" [hidden]="showPaging">
								No results to show
							</div>
						</div>
					</as-split-area>
					<as-split-area *ngIf="conceptDetail" [lockSize]="true" [size]="conceptDetail ? 50 : 0" class="concept-detail-area">
						<div class="concept-detail-body">
							<div class="row align-items-center no-gutters m-b-20">
								<div class="col col-header-font">Concept Details</div>
								<div class="col-md-auto">
									<div class="text-right close-button mt2-concept-details-close-btn">
										<button
											type="button"
											class="close dialog-close-x-dark"
											(click)="closeConceptDetails()"
											aria-hidden="false"
											aria-label="Close Concept Details"
											title="Close Concept Details"
										>
											<span aria-hidden="true" class="close-icon-font">&times;</span>
										</button>
									</div>
								</div>
							</div>

							<!-- Parents Section -->
							<div class="mt2-concept-details-taxonomy-section">
								<div class="d-flex">
									<div class="mt2-concept-details-section-title p-l-10">
										Parents
										<span [hidden]="!currentConcept?.parentRefs.length">{{ '(' + currentConcept?.parentRefs.length + ')' }}</span>
									</div>
								</div>

								<div class="d-flex p-20" *ngIf="currentConcept?.parentRefs.length === 0">
									<div class="mt2-concept-details-no-relationships p-l-20">No Parents</div>
								</div>
								<div class="p-20" *ngIf="currentConcept?.parentRefs.length > 0" class="overflow details-scrolling">
									<div *ngFor="let parent of currentConcept?.parentRefs" class="concept-details-refs m-l-15 d-flex">
										<span *ngIf="parent.leaf || parent.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
											</svg>
										</span>
										<span *ngIf="!parent.leaf && !parent.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M240-440v-80h480v80H240Z" />
											</svg>
										</span>
										<span class="pointer" (click)="loadConceptDetail(parent.code)">
											<span class="blue-link p-r-5" title="{{ parent.code }}" aria-label="{{ parent.code }}">{{
												parent.code
											}}</span>
											<span title="{{ parent.name }}" aria-label="{{ parent.name }}">{{ parent.name }}</span>
										</span>
									</div>
								</div>
							</div>

							<!-- Details Section -->
							<div class="container-fluid mt2-concept-details-concept-section">
								<div class="row no-margin">
									<div class="col mt2-concept-details-concept-info-column default-font p-t-20">
										<div>
											<div class="row mt2-concept-details-concept-row m-l-40">
												<div
													class="col-md-9 mt2-concept-details-concept-id-label m-b-20"
													title="{{ currentConcept?.name }}"
													aria-label="{{ currentConcept?.name }}"
												>
													{{ currentConcept?.name }}
												</div>
												<div class="col-md-3">
													<button
														type="button"
														title="Set as Target"
														class="mt2-btn mt2-action-btn sm-inline-btn no-margin-top form-btn"
														(click)="setTarget(currentConcept, currentConcept.name)"
														[disabled]="!selectedTarget || mapsetInfo.workflowStatus !== 'IN_EDIT'"
														[ngClass]="{ disabled: !selectedTarget || mapsetInfo.workflowStatus !== 'IN_EDIT' }"
													>
														Set as Target
													</button>
												</div>

												<div
													class="col-md-12 mt2-concept-details-concept-id-text fw-bold m-b-20"
													title="{{ currentConcept?.code }}"
													aria-label="{{ currentConcept?.code }}"
												>
													{{ currentConcept?.code }}
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Children Section -->
							<div class="mt2-concept-details-taxonomy-section">
								<div class="d-flex">
									<div class="mt2-concept-details-section-title p-l-10">
										Children
										<span [hidden]="!currentConcept?.childRefs.length">{{ '(' + currentConcept?.childRefs.length + ')' }}</span>
									</div>
								</div>
								<div class="d-flex p-20" *ngIf="currentConcept?.childRefs.length === 0">
									<div class="mt2-concept-details-no-relationships p-l-20">No Children</div>
								</div>
								<div class="p-10 overflow details-scrolling" *ngIf="currentConcept?.childRefs.length > 0">
									<div *ngFor="let child of currentConcept?.childRefs" class="concept-details-refs m-l-20 d-flex">
										<span *ngIf="child.leaf || child.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
											</svg>
										</span>
										<span *ngIf="!child.leaf && !child.hasChildren"
											><svg
												xmlns="http://www.w3.org/2000/svg"
												height="20px"
												viewBox="0 -960 960 960"
												width="20px"
												fill="#2269e8"
											>
												<path d="M240-440v-80h480v80H240Z" />
											</svg>
										</span>
										<span class="pointer" (click)="loadConceptDetail(child.code)">
											<span class="blue-link p-r-5" title="{{ child.code }}" aria-label="{{ child.code }}">{{
												child.code
											}}</span>
											<span title="{{ child.name }}" aria-label="{{ child.name }}">{{ child.name }}</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</as-split-area>
				</as-split>
			</div>
		</div>
	</div>

	<!--Type Ahead Result Template-->
	<ng-template #rt let-r="result" let-t="term">
		<div class="type-head-overflow" title="{{ r.code + ': ' + r.name }}">
			<ngb-highlight [result]="r.code + ': ' + r.name" [term]="t"></ngb-highlight>
		</div>
	</ng-template>

	<ng-template #directoryInfoDialog let-data>
		<div class="container-fluid w-min-350 mt2-refset-metadata-column" id="directoryInformationSection">
			<div class="row mt2-refset-details-title-name d-block" title="{{ data.name }}" aria-label="{{ data.name }}">
				<p class="fs-18 mb-0 ml-10">{{ data.name }}</p>
				<p class="fs-16 ml-10">
					<span *ngIf="data?.versionStatus">{{ capitalizeFirstLetterOfString(data?.versionStatus) }}</span
					><span *ngIf="data?.versionDate">{{ ', ' + data?.versionDate }}</span>
				</p>
			</div>
			<refset-meta [refset]="data"></refset-meta>
		</div>
	</ng-template>

	<!-- Workflow Status Templates -->
	<ng-template #workflowStatusSection let-params>
		<workflow-status-badge [status]="params?.value"> </workflow-status-badge>
	</ng-template>
	<ng-template #directoryInfoDialog let-data>
		<div class="container-fluid w-min-350 mt2-refset-metadata-column" id="directoryInformationSection">
			<div class="row mt2-refset-details-title-name d-block" title="{{ data.name }}" aria-label="{{ data.name }}">
				<p class="fs-18 mb-0 ml-10">{{ data.name }}</p>
				<p class="fs-16 ml-10">
					<span *ngIf="data?.versionStatus">{{ capitalizeFirstLetterOfString(data?.versionStatus) }}</span
					><span *ngIf="data?.versionDate">{{ ', ' + data?.versionDate }}</span>
				</p>
			</div>
			<refset-meta [refset]="data"></refset-meta>
		</div>
	</ng-template>
	<!-- Workflow Status Templates -->
	<ng-template #directoryWorkflowStatusSection let-params>
		<object [src]="uiUtility.toTitleCase(params?.data?.workflowStatus)">{{ params?.value }}</object>
	</ng-template>

	<!-- Check Templates -->
	<ng-template #directoryCheckSection let-params>
		<label class="checkbox-override" *ngIf="params?.value"
			><input type="checkbox" (change)="checkboxRowSelect($event, params?.data?.index)" [checked]="params?.data?.checked" />' + '
			<span class="checkbox-container"></span
		></label>
	</ng-template>

	<!-- Name Templates -->
	<ng-template #directoryNameSection let-params>
		<span class="blue-link">{{ params?.value }}</span>
		<span *ngIf="params?.data?.modFlag !== ''">
			<img
				class="mapset-mod-icon"
				*ngIf="params?.data?.moduleId !== internationalId"
				src="{{ 'assets/flags/' + params?.data?.modFlag + '.png' }}"
				title="{{ params?.data?.modLang }}"
				aria-label="{{ params?.data?.modLang }}"
		/></span>
	</ng-template>

	<!-- Action Templates -->
	<ng-template #directoryActionSection let-params>
		<div class="d-flex" *ngIf="params?.value === true">
			<div class="col">
				<notes-modal [libraryOnly]="false" [mapSetId]="mapsetInfo.id" [conceptCode]="params?.data?.code"></notes-modal>
			</div>

			<div class="col">
				<div class="library-app-refset-discussion-list p-r-20" (click)="openToBeDevelopedModal(toBeDevelopedModal)">
					<img src="/assets/comment-dots-regular.svg" title="View Feedback" aria-label="View Feedback" class="discussion-icon" />
				</div>
			</div>
		</div>
	</ng-template>

	<!-- Advice Templates -->
	<ng-template #directoryAdviceSection let-params>
		<div class="advice-column" [hidden]="getValueLength(params) < 1">
			<div *ngFor="let item of getValueList(params)">
				<span title="{{ item }}" [hidden]="item.indexOf('ALWAYS') > -1">{{ item }}</span>
			</div>
		</div>
		<div [hidden]="getValueLength(params) !== 0">---</div>
	</ng-template>

	<!--Rule Template-->
	<ng-template #targetRuleSection let-params>
		<div class="target-selection-grid">
			<mat-form-field appearance="fill" floatLabel="never" class="target-selection-box target-selection-box-grid">
				<mat-select
					#selectRule
					title="Select a Rule"
					placeholder="Select a Rule"
					[(value)]="params.value"
					(click)="$event.stopPropagation()"
					(selectionChange)="userChangeSelection('rule')"
					[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT'"
				>
					<mat-option value="null" class="no-checkbox"></mat-option>
					<mat-option value="TRUE" class="no-checkbox">TRUE</mat-option>
					<mat-option value="Gender - Female" class="no-checkbox" [hidden]="!ruleBased">Gender - Female</mat-option>
					<mat-option value="Gender - Male" class="no-checkbox" [hidden]="!ruleBased">Gender - Male</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</ng-template>

	<!-- Advice Templates -->
	<ng-template #targetAdviceSection let-params>
		<div id="{{ 'popover_' + params.data.uuid }}">
			<ul [hidden]="params.value.mapAdvices.length === 0" class="max-list">
				<li *ngFor="let advice of params.value.mapAdvices; index as i" class="advice-line no-list">
					<i class="fa-solid fa-star-of-life advice-icon-sm"></i><span class="advice-name-wrap" title="{{ advice }}">{{ advice }}</span>
				</li>

				<li
					class="advice-line"
					[hidden]="params.value.mapAdvices.length === 0 || mapsetInfo.workflowStatus !== 'IN_EDIT' || params.data.editable === false"
				>
					<span class="code-link" (click)="openPopover($event, params)" title="Add/Edit Advice"
						>Add/Edit Advice ({{ params.value.mapAdvices.length }})</span
					>
				</li>
			</ul>
			<span
				class="code-link p-l-10 advice-line"
				(click)="openPopover($event, params)"
				title="Add an Advice"
				[hidden]="
					params.value.mapAdvices.length !== 0 ||
					mapAdvices.length === 0 ||
					mapsetInfo.workflowStatus !== 'IN_EDIT' ||
					params.data.editable === false
				"
				>+ Add Advice</span
			>
		</div>
	</ng-template>

	<ng-template #directoryCodeSection let-params>
		<span *ngIf="params?.value !== undefined">
			<mat-chip-list
				*ngIf="params?.value.split('#')[0] !== '1/1&1'"
				(click)="mapsetInfo.workflowStatus === 'IN_EDIT' && params.data.editable === true ? editGroup($event, params) : null"
				[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT' || params.data.editable === false"
			>
				<mat-chip
					class="mapset-chip"
					title="{{
						'Group ' +
							params?.value.split('#')[0].split('&')[0].split('/')[0] +
							', Entry ' +
							params?.value.split('#')[0].split('&')[0].split('/')[1]
					}}"
				>
					<span [ngClass]="{ pointer: mapsetInfo.workflowStatus === 'IN_EDIT' && params.data.editable === true }">
						{{ params?.value.split('#')[0].split('&')[0] }}</span
					>
				</mat-chip>
			</mat-chip-list>
			<button
				title="{{ params?.value.split('#')[1] }}"
				class="no-padding"
				(click)="editTarget($event, params)"
				[ngClass]="{
					'blue-link': mapsetInfo.workflowStatus === 'IN_EDIT' && params.data.editable === true,
					'disabled-link': mapsetInfo.workflowStatus !== 'IN_EDIT' || params.data.editable === false,
				}"
				[disabled]="mapsetInfo.workflowStatus !== 'IN_EDIT' || params.data.editable === false"
			>
				{{ params?.value.split('#')[1] }}
			</button></span
		>
	</ng-template>

	<ng-template #directoryToNameSection let-params>
		<span *ngIf="params?.value === '---'">
			{{ params?.value }}
		</span>
		<span *ngIf="params?.value !== '---'">
			<span>{{ params?.value }}</span></span
		>
	</ng-template>

	<ng-template #directoryFeedbackDialog let-data>
		This functionality will be implemented in subsequent phases.
		<mat-form-field floatLabel="never" *ngIf="false">
			<mat-label>Feedback</mat-label>
			<input matInput [(ngModel)]="data.feedback" />
		</mat-form-field>
	</ng-template>

	<ng-template #toBeDevelopedModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">Coming Soon</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeToBeDevelopedModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>This feature is not yet available. Please check back later.</p>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" class="mt2-btn mt2-action-btn" (click)="closeToBeDevelopedModal()">Close</button>
		</div>
	</ng-template>

	<ng-template #confirmationModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">Confirm Remove</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeConfirmDialog()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<p>Are you sure you want to remove this entry?</p>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" title="Cancel" class="mt2-btn mt2-action-btn" (click)="closeConfirmDialog()">Cancel</button>
			<button type="button" title="Confirm" class="mt2-btn mt2-action-btn" (click)="confirmRemoveItem()">Confirm</button>
		</div>
	</ng-template>

	<ng-template #headerGroupModal let-modal>
		<div class="modal-header mt2-modal-header">
			<div class="modal-title">Change Group</div>
			<button type="button" class="close dialog-close-x close-icon-font" title="Close" aria-label="Close" (click)="closeHeaderGroupModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div>
				<label class="m-r-10">Group</label>
				<mat-form-field floatLabel="never" id="groupInputField" title="Enter Group" class="adjust-mat-input-header">
					<input
						type="number"
						matInput
						#headerGroupInput
						placeholder="Enter Group"
						id="headerGroupCodeInput"
						(keydown)="numberOnly($event)"
						[formControl]="headerGroupFC"
						class="target-input"
					/>
				</mat-form-field>
				<span class="clear-search-header" title="Clear Group" (click)="clearHeaderGroupInput()">&#10005;</span>
			</div>
		</div>
		<div class="modal-footer mt2-modal-footer mt2-lockable mt2-btn-group">
			<button type="button" class="mt2-btn mt2-action-btn" (click)="setHeaderGroup()">Save</button>
		</div>
	</ng-template>
	<workflow-map-modal
		(updateWorkFlowMapStatus)="updateWorkFlowMapStatus($event)"
		(updateMultiWorkFlowMapStatus)="updateMultiWorkFlowMapStatus($event)"
		(closeWorkflowMapModal)="closeWorkflowMapModal()"
		[workFlowMapStatus]="workFlowMapStatus"
		[mapsetInfo]="mapsetInfo"
		[isWFMapModalOpen]="isWFMapModalOpen"
		[conceptCode]="conceptCode"
		[conceptCodeList]="conceptCodeList"
		[multiple]="isMultiple"
	></workflow-map-modal>
</div>
